$navbar-dark-color:                 #fff;
$navbar-dark-hover-color:           #fff;
$navbar-dark-active-color:          #fff;
$navbar-dark-toggler-border-color:  transparent;

$font-family-sans-serif:     "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-lighter:         200;
$font-weight-light:           200;

$breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");

$content-max-width: 1024px;

$grid-gutter-width: 60px;

@import "montserrat-font.css";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    padding-top: 79px;

    @include media-breakpoint-up(lg) {
        padding-top: 100px;
        // padding-top: 132px;
    }
}

a {
    color: #000;
}

header {
    color: #fff;

    a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: #a9bf04 !important;
        }
    }

    img {
        width: 150px;
        height: 53px;
        margin-left: 15px;
    }

    h1 {
        @include visually-hidden;
    }

    .navbar {
        background: #1b3175;
    }

    .navbar-nav {
        text-align: center;

        .homepage {
            background: url('../images/home.svg') no-repeat center;
            margin-right: 50px;
        }

        .instagram {
            background: url('../images/instagram.png') no-repeat center center;
        }

        .facebook {
            background: url('../images/facebook.png') no-repeat center center;
        }

        .homepage,
        .instagram,
        .facebook {
            background-size: contain;
            display: inline-block;
            height: 30px;
            width: 30px;
            margin-left: 10px;

            span {
                @include visually-hidden;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .navbar-nav {
            width: 100%;
        }

        div.nav-link {
            margin-left: 40px;
        }

        .nav-link {
            padding: 0 18px !important;
            height: 84px;
            line-height: 84px;
            display: inline-block;
        }

        .nav-link a {
            margin-top: 25px;
        }
    }

    @include media-breakpoint-up(xl) {
        .navbar-nav {
            width: 100%;
        }

        div.nav-link {
            margin-left: 70px;
        }

        .nav-link {
            padding: 0 25px !important;
        }
    }
}

footer {
    background: #c7c7c7;
    color: #595959;
    text-align: center;
    font-size: 0.8em;
    padding: 20px 0;

    .inner-footer {
        @include make-container();
        max-width: 1300px;
    }

    .apps-row {
        @include make-row();
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;

        p {
            @include make-col-ready();
            text-align: center;
        }
    }

    a {
        color: #000;
        text-decoration: underline;

        &:hover {
            color: #000;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }

    .footer-links {
        margin-top: 20px;
        max-width: $content-max-width;
        margin-left: auto;
        margin-right: auto;

        li {
            display: inline-block;
            padding: 0 10px;
            margin-bottom: 8px;
        }

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    .download-links {
        padding: 0 15px;

        li {
            display: inline-block;
        }
    }

    .google-play-download,
    .apple-app-store-download {
        a {
            display: inline-block;
            width: 130px;
            height: 60px;
            background-size: contain;
            margin: 8px;
        }
    }

    .apple-app-store-download {
        a {
            background: url('../images/apple-app-store.svg') center center no-repeat;
        }
    }

    .google-play-download {
        a {
            background: url('../images/google-play.svg') center center no-repeat;
        }
    }

    p {
        margin: 0;
    }

    .banners {
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0 -5px;
        flex-wrap: wrap;

        .banner-wrapper, img, iframe {
            width: 280px;
            height: 280px;
            flex-direction: row;
        }

        .banner-wrapper {
            margin: 5px;
        }

        a {
            display: inline-block;
            text-decoration: none;

            + a {
              margin-top: 10px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .apps-row {
            p {
                width: 304px;
            }

            .copyright {
                text-align: left;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .download-links {
            padding: 0 30px;
        }

        .google-play-download,
        .apple-app-store-download {
            a {
                width: 150px;
            }
        }
    }
}

.text-banner {
    background: linear-gradient(180deg, #244199 0%, #127242 100%) #244199;
    color: #fff;
    @include clearfix;

    a {
        color: #fff;
    }

    .text-banner-inner {
        @include make-row();
        align-items: center;
        min-height: 450px;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    .decoration-image {
        @include make-col-ready();
        width: 90%;
        aspect-ratio: 3 / 2;
        background-size: contain;
        margin: 0 auto;
    }

    .banner-text {
        @include make-col-ready();
        margin-top: 10px;
        padding-bottom: 15px;
    }

    h2 {
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;

        @include media-breakpoint-up(md) {
            margin-top: -15px;
            font-size: 40px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 48px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 60px;
        }
    }

    @include media-breakpoint-up(md) {
        .decoration-image {
            max-width: 400px;
            width: 100%
        }

        .banner-text {
            width: calc(100% - 400px);
            padding-left: 30px;
        }
    }

    @include media-breakpoint-up(lg) {
        .decoration-image {
            max-width: 540px;
        }

        .banner-text {
            width: calc(100% - 540px);
        }
    }

    @include media-breakpoint-up(xl) {
        .decoration-image {
            max-width: 680px;
        }

        .banner-text {
            width: calc(100% - 680px);
        }
    }
}

.button-banner {
    background: linear-gradient(180deg, #244199 0%, #127242 100%) #244199;
    color: #fff;
    @include clearfix;

    a {
        color: #fff;
    }

    .button-banner-inner {
        @include make-row();
        align-items: center;
        min-height: 450px;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    .banner-text {
        @include make-col-ready();
        margin-top: 10px;
        padding-bottom: 15px;
        text-align: center;

        @include media-breakpoint-up(md) {
            text-align: left;
        }
    }

    .decoration-image {
        @include make-col-ready();
        width: 90%;
        aspect-ratio: 3 / 2;
        background-size: contain;
        margin: 0 auto;
    }

    h2 {
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 30px;

        @include media-breakpoint-up(md) {
            margin-top: -15px;
            font-size: 40px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 48px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 60px;
        }
    }

    .buttons a {
        display: inline-block;
        color: #fff;
        transition: all 0.4s ease-in-out 0s;
        border: 1px solid #fff;
        padding: 8px 30px;
        text-decoration: none;
        margin: 0 15px 15px 15px;

        &:hover {
            background: #a9bf04;
        }

        @include media-breakpoint-up(md) {
            margin-left: 0;
        }
    }

    @include media-breakpoint-up(md) {
        .decoration-image {
            max-width: 400px;
        }

        .banner-text {
            width: calc(100% - 400px);
            padding-left: 30px;
        }
    }

    @include media-breakpoint-up(lg) {
        .decoration-image {
            max-width: 540px;
        }

        .banner-text {
            width: calc(100% - 540px);
        }
    }

    @include media-breakpoint-up(xl) {
        .decoration-image {
            max-width: 680px;
        }

        .banner-text {
            width: calc(100% - 680px);
        }
    }
}

.carousel-wrapper {
    background: linear-gradient(180deg, #244199 0%, #127242 100%) #244199;
    color: #fff;
    min-height: 870px;

    @include media-breakpoint-up(md) {
        min-height: 910px;
    }

    @include media-breakpoint-up(lg) {
        min-height: 690px;
    }

    @include media-breakpoint-up(xl) {
        min-height: 800px;
    }
}

#homepage-carousel {
    h2 {
        text-transform: uppercase;
        font-weight: 900;
        font-size: 32px;

        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }
        @include media-breakpoint-up(md) {
            font-size: 48px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 54px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 60px;
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 7.5%;
    }

    .carousel-inner {
        min-height: 700px;
        padding-top: 20px;

        @include media-breakpoint-up(md) {
            min-height: 710px;
        }
    }

    .slide-inner {
        padding: 20px 7.5%;
    }

    .decoration-image {
        display: block;
        max-width: 100%;
        aspect-ratio: 3 / 2;
        background-size: contain !important;
    }

    .image-moderni-obec {
        background: url('../images/homepage-moderni-obec.png') center center no-repeat;
    }

    .image-golf {
        background: url('../images/homepage-golf-a-turistika.png') center center no-repeat;
    }

    .image-lazenstvi {
        background: url('../images/homepage-lazenstvi.png') center center no-repeat;
    }

    @include media-breakpoint-up(lg) {
        .carousel-inner {
            min-height: 470px;
        }

        .container {
            padding-top: 70px;
        }

        .decoration-image {
            float: left;
            max-width: 500px;
            width: 45%;
        }

        .slide-inner {
            float: right;
            padding-left: 30px;
            padding-right: 120px;
            width: calc(100% - min(45%, 500px));
        }

    }

    @include media-breakpoint-up(xl) {
        .decoration-image {
            max-width: 680px;
            width: 60%;
        }

        .slide-inner {
            float: right;
            padding-left: 30px;
            padding-right: 120px;
            width: calc(100% - min(60%, 680px));
        }
    }
}

.homepage-quick-links {
    @include make-container();
    max-width: 1480px;
    margin-top: -215px;
    margin-bottom: 40px;

    h2 {
        color: #fff;
        max-width: 943px;
        text-transform: uppercase;
        font-size: 30px;
        margin: 0 auto 70px;
        font-weight: bold;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @include make-row();
    }

    li {
        margin: 20px 0 0 0;
        padding: 0;
        text-align: center;
        @include make-col-ready();
        position: relative;

        &::after {
            content: var(--tooltip);
            font-weight: bold;
            color: rgba(231, 231, 231, 0.15);
            letter-spacing: -5px;
            position: absolute;
            left: 0;
            font-size: 100px;
            top: -70px;
            width: 100%;
            text-align: center;
            z-index: 1;
            display: none;

            @include media-breakpoint-up(md) {
                display: inline-block;
            }
            @include media-breakpoint-up(lg) {
                font-size: 120px;
                top: -85px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 150px;
                top: -100px;
            }
        }
    }

    a {
        display: block;
        position: relative;
        padding-bottom: 65px;
        font-weight: 900;
        color: #1a3174;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 24px;
        z-index: 2;

        &:hover span {
            color: #fff;
            background: #A9BF04;
        }

        span {
            position: absolute;
            display: block;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 10px;
            color: #A9BF04;
            border: 1px solid #A9BF04;
            border-radius: 40px;
            height: 50px;
            line-height: 50px;
            padding: 0 55px;
            @include transition(all .45s);
            font-weight: bold;
            letter-spacing: 0.05em;
            font-size: 16px;
            text-transform: none;
            z-index: 3;
        }

        &::before {
            content: '';
            display: block;
            width: 85%;
            aspect-ratio: 3/2;
            margin: 0 auto -25px;
            max-width: 330px;
        }
    }

    .link-aktivity a::before {
        background: url("../images/homepage-aktivity.png") center center no-repeat;
        background-size: contain;
    }

    .link-restaurace a::before {
        background: url("../images/homepage-restaurace.png") center center no-repeat;
        background-size: contain;
    }

    .link-vylety a::before {
        background: url("../images/homepage-vylety.png") center center no-repeat;
        background-size: contain;
    }

    .link-ubytovani a::before {
        background: url("../images/homepage-ubytovani.png") center center no-repeat;
        background-size: contain;
    }

    @include media-breakpoint-up(md) {
        h2 {
            font-size: 40px;
            text-align: left;
        }

        li {
            @include make-col(6);
        }

        a {
            font-size: 30px;
            padding-bottom: 100px;

            span {
                height: 56px;
                line-height: 56px;
                padding: 0 55px;
            }

            &::before {

            }
        }
    }

    @include media-breakpoint-up(lg) {
        li {
            @include make-col(3);
        }
    }
}

.homepage-infoservis {
    background: #f9f9f9;
    padding: 55px 0 25px;
    font-size: 14px;

    .container {
        max-width: $content-max-width;
    }

    h2, h3 {
        text-transform: uppercase;
    }

    h2, h3, h4 {
        color: #084627;
        font-weight: bold;
    }

    h2 {
        margin: 0 auto 30px;
        font-size: 32px;
        font-weight: 900;
    }

    h3  {
        font-size: 24px;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 15px;
        margin-top: 30px;
    }

    a {
        color: #000;
    }

    .all-link {
        display: inline-block;
        color: #A9BF04;
        border: 1px solid #A9BF04;
        border-radius: 40px;
        height: 48px;
        line-height: 46px;
        padding: 0 30px;
        @include transition(all .45s);
        font-weight: bold;
        font-size: 13px;
        text-decoration: none;
        margin-top: 20px;

        &:hover {
            color: #fff;
            background: #A9BF04;
        }
    }

    .content-wrapper {
        @include make-row();

        > section {
            @include make-col-ready();
            margin: 30px 0;
        }
    }

    @include media-breakpoint-up(sm) {
        h2 {
            font-size: 40px;
        }
    }

    @include media-breakpoint-up(md) {
        .content-wrapper {
            > section {
                @include make-col(6);

                &:nth-child(1) {
                    padding-right: 20px;
                }

                &:nth-child(2) {
                    padding-left: 20px;
                }
            }
        }
    }
}

.uredni-deska-text-section {
    @include make-container();
    max-width: $content-max-width;
    padding-top: 20px;

    h2 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }
    }
}

.simple-text-section {
    @include make-container();
    max-width: $content-max-width;
    margin-bottom: 25px;

    h2 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }
    }
}

.sekce-s-dlazdicema {
    @include make-container();
    max-width: $content-max-width;
    padding-top: 20px;
    padding-bottom: 20px;

    h3 {
        color: #1b3175;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 25px;

        @include media-breakpoint-up(md) {
            font-size: 40px;
        }
    }

    .dlazdice-wrapper {
        @include make-row();
        margin-top: 35px;
        justify-content: center;

        @include media-breakpoint-up(md) {
            justify-content: flex-start;
        }

        a {
            @include make-col-ready();
            width: 95%;
            transition: all 0.4s ease-in-out 0s;
            background: #fafafa;
            padding: 40px 20px;
            text-decoration: none;
            color: #a8be04;
            text-align: center;
            margin: 5px;

            &:hover {
                color: #fff;
                background: #a8be04;
            }

            @include media-breakpoint-up(sm) {
                width: 245px;
            }
        }

        h4 {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 900;
            margin: 0;

            .image {
                display: block;
                width: 75px;
                height: 68px;
                margin: 0 auto 20px;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }
}

.aktuality-section {
    @include make-container();
    max-width: $content-max-width;
    padding-top: 30px;
    padding-bottom: 40px;

    h2 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;

        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }
    }

    article {
        justify-items: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px;

        .actuality-inner {
            border: 1px solid #eaeaea;
        }

        @include media-breakpoint-down(lg) {
            @include make-col-ready(30px);
        }
        @include media-breakpoint-between(xs, sm) {
            @include make-col(12);
        }
        @include media-breakpoint-between(sm, md) {
            @include make-col(6);
        }
        @include media-breakpoint-between(md, lg) {
            @include make-col(4);
        }
        @include media-breakpoint-up(lg) {
            @include make-container();

            .actuality-inner {
                @include make-row();
                align-items: center;
            }
        }

        .image-wrapper {
            @include make-col-ready();
            padding: 0;
            max-height: 182px;
            overflow: hidden;

            @include media-breakpoint-up(lg) {
                max-width: 290px;
            }
        }

        img {
            max-width: 100%;
        }

        .actuality-content {
            @include make-col-ready();
            padding: 24px 15px 24px 15px;

            p:last-child {
                margin-bottom: 0;
            }

            @include media-breakpoint-up(sm) {
                @include make-col();
                padding: 24px 15px 24px 30px;
            }
        }

        a {
            color: #000;
        }

        h3 {
            font-weight: bold;
            font-size: 18px;
        }
    }

    .actualities-wrapper {
        @include media-breakpoint-down(lg) {
            @include make-row(30px);
        }
    }
}

.detail-aktuality-section {
    @include make-container();
    max-width: $content-max-width;
    padding-bottom: 40px;

    a {
        color: #000;
    }

    nav {
        a {
            font-size: 14px;
            display: inline-block;

            + a {
                margin-left: 25px;
            }
        }
    }

    .img-wrapper {
        text-align: center;
    }

    img {
        width: 100%;
    }

    .img-wrapper {
        max-height: 500px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    article {
        margin-top: 30px;
        border: 1px solid #eaeaea;
        padding: 20px 15px;

        p:last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-up(sm) {
            padding: 24px 36px;
        }
    }

    h2 {
        font-weight: bold;
        font-size: 26px;

        @include media-breakpoint-up(sm) {
            font-size: 32px;
        }
    }
}

.person-detail {
    display: flex;

    + .person-detail {
        margin-top: 30px;
    }

    .photo {
        margin-right: 15px;

        @include media-breakpoint-up(sm) {
            margin-right: 30px;
        }

        &, img {
            width: 58px;
            height: 58px;
            flex-shrink: 0;

            @include media-breakpoint-up(sm) {
                width: 73px;
                height: 73px;
            }
        }
    }

    h4 {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 2px;

        @include media-breakpoint-up(sm) {
            font-size: 20px;
        }
    }

    a {
        color: #000;
    }

    .default-muz {
        background: url('../images/ikonka-muz.svg') center center no-repeat;
        background-size: contain;
    }

    .default-zena {
        background: url('../images/ikonka-zena.svg') center center no-repeat;
        background-size: contain;
    }
}

.kontakty-section {
    @include make-container();
    max-width: $content-max-width;
    padding-top: 15px;
    padding-bottom: 25px;

    article {
        margin: 10px 0 40px;
    }

    h3 {
        color: #244199;
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 30px;
        border-bottom: 2px solid #244199;
        padding-bottom: 12px;

        @include media-breakpoint-up(sm) {
            font-size: 30px;
            margin-bottom: 40px;
            padding-bottom: 18px;
        }
    }
}

.samosprava-section {
    @include make-container();
    max-width: $content-max-width;
    padding-top: 40px;
    padding-bottom: 40px;

    h2 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include media-breakpoint-up(sm){
            font-size: 40px;
            margin-bottom: 30px;
        }
    }

    h3 {
        color: #244199;
        font-weight: 900;
        border-bottom: 2px solid #244199;
        margin-top: 30px;
        font-size: 24px;
        margin-bottom: 30px;
        border-bottom: 2px solid #244199;
        padding-bottom: 12px;

        @include media-breakpoint-up(sm) {
            font-size: 30px;
            margin-bottom: 40px;
            padding-bottom: 18px;
        }
    }


    article + h3 {
        margin-top: 50px;
    }

    h4.uredni-deska-title {
        font-size: 18px;
        font-weight: bold;
        margin-top: 40px;

        + .uredni-deska-section {
            padding-top: 10px;
        }
    }

    .uredni-deska-section {
        padding-left: 0;
        padding-right: 0;
    }
}

.uredni-deska-section {
    @include make-container();
    max-width: $content-max-width;
    padding-top: 25px;
    padding-bottom: 25px;

    article {
        padding: 20px 0;

        + article {
            border-top: 1px solid #000;
        }

        a {
            color: #000;
        }

        h4 {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .time {
        margin-bottom: 0;
    }
}

.sorry-in-progress {
    font-size: 36px;
    text-align: center;
    padding: 175px 0
}

.uredni-deska-detail {
    @include make-container();
    max-width: $content-max-width;
    padding-top: 20px;
    padding-bottom: 40px;

    time {
        font-weight: bold;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;

        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }
    }

    a {
        color: #000;
    }
}

.sluzby-section {
    @include make-container();
    max-width: $content-max-width;
    padding-bottom: 20px;

    .sluzby-wrapper {
        @include make-row();
        justify-content: space-between;

        article {
            @include make-col-ready();
            margin-top: 30px;
            margin-bottom: 30px;

            @include media-breakpoint-up(sm) {
                @include make-col(6);
            }
            @include media-breakpoint-up(lg) {
                width: calc(50% - 40px);
            }
        }

        br + br {
            display: none;
        }

        h3 {
            color: #244199;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
        }
    }

    table {
        @extend .table;
        font-size: 14px;
        margin-top: 20px;

        thead {
            th, td {
                color: #fff;
                background: #182b66;
            }
        }
    }
}

.objekty-section {
    @include make-container();
    max-width: 1200px;
    padding-top: 25px;
    padding-bottom: 25px;

    .objekty-wrapper {
        @include make-row();
        justify-content: center;
    }

    article {
        @include make-col-auto;
        width: 240px;
        margin: 65px 30px 50px;
        text-align: center;
        position: relative;

        &::after {
            content: var(--tooltip);
            font-weight: bold;
            font-size: 150px;
            color: rgba(0, 0, 0, 0.04);
            letter-spacing: -5px;
            position: absolute;
            left: 0;
            top: -155px;
            width: 100%;
            text-align: center;
            z-index: 1;
        }
    }

    .address {
        display: inline-block;
        margin-bottom: 4px;
    }

    img {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    h3 {
        font-size: 16px;
        font-weight: bold;
        margin: 20px 0;

        &, a {
            color: #084627;
        }
    }

    a {
        color: #A9BF04;
    }

    address {
        font-size: 14px;
    }

    .website-link {
        display: inline-block;
        color: #A9BF04;
        border: 1px solid #A9BF04;
        border-radius: 40px;
        padding: 7px 30px;
        @include transition(all .45s);
        font-weight: bold;
        font-size: 14px;
        text-decoration: none;
        margin-top: 20px;
        position: relative;
        z-index: 2;

        &:hover {
            color: #fff;
            background: #A9BF04;
        }
    }
}

.in-progress-lista {
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    font-size: 12px;
    left: 0;
    top: 100px;
    padding: 8px 0;
    text-align: center;
    box-shadow: #000000 0 0 7px 1px;
    z-index: 9;
}

.error-page {
    text-align: center;
    padding: 140px 20px;
}

.struktura-uradu-section {
    @include make-container();
    max-width: $content-max-width;
    padding-top: 40px;
    padding-bottom: 50px;

    h2 {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    h3 {
        color: #244199;
        font-weight: 900;
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid #244199;
        padding-bottom: 12px;

        @include media-breakpoint-up(sm) {
            font-size: 30px;
            margin-bottom: 40px;
            padding-bottom: 18px;
        }
    }

    article + h3 {
        margin-top: 50px;
    }
}

.graficky-pas {
    color: #fff;
    @include clearfix;
    position: relative;
    overflow: hidden;
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: left;
    }

    .letajici-obrazek {
        position: absolute;
        display: none;

        @include media-breakpoint-up(xl) {
            display: inline-block;
        }
    }

    .banner-text {
        z-index: 5;
        @include make-col-ready();
    }

    .graficky-pas-inner {
        @include make-row();
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;

        @include media-breakpoint-up(md) {
            min-height: 900px;
        }
    }

    &.alignment-left {
        .graficky-pas-inner {
            flex-direction: row;
        }
    }

    &.alignment-right {
        .graficky-pas-inner {
            flex-direction: row-reverse;
        }
    }

    a {
        color: #fff;
    }

    .decoration-image {
        @include make-col-ready();
        aspect-ratio: 3 / 2;
        background-size: contain;
    }

    h2 {
        font-size: 32px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: -15px;

        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }
        @include media-breakpoint-up(md) {
            font-size: 48px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 54px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 60px;
        }
    }

    .tlacitko-link {
        display: inline-block;
        background: #A9BF04;
        color: #fff;
        border: 1px solid #A9BF04;
        border-radius: 40px;
        height: 48px;
        line-height: 46px;
        padding: 0 30px;
        @include transition(all .45s);
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
        margin-top: 20px;

        &:hover {
            color: #000;
            background: #fff;
            border-color: #000;
        }
    }

    @include media-breakpoint-up(md) {
        .decoration-image {
            max-width: 400px;
        }

        .banner-text {
            float: right;
            width: calc(100% - 400px);
            padding-left: 30px;
        }
    }

    @include media-breakpoint-up(lg) {
        .decoration-image {
            max-width: 540px;
        }

        .banner-text {
            width: calc(100% - 540px);
        }
    }

    @include media-breakpoint-up(xl) {
        .decoration-image {
            max-width: 680px;
        }

        .banner-text {
            width: calc(100% - 680px);
        }
    }
}

.tags {
    margin-top: 12px;
}

.tag-link {
    font-size: 13px;
    display: inline-block;
    padding: 4px 8px;
    color: #fff !important;
    background: #A9BF04;
    text-decoration: none;
    margin: 3px 3px 3px 0;

    &:hover {
        color: #000 !important;
    }

    &.active_tag {
        background: #000;

        &:hover {
            color: #fff !important;
        }
    }
}

.uzemni-dokumenty-section {
    @include make-container();
    max-width: $content-max-width;
    padding-top: 20px;
    padding-bottom: 30px;

    h2 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;

        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }
    }

    h3 {
        font-size: 20px;
        font-weight: bold;
    }

    .kategorie {
        padding: 0 0 20px;
        border-bottom: 1px solid #000;
        margin: 30px 0;
    }

    ul.dokumenty {
        list-style-type: none;
        margin: 20px 0;
        padding: 0;
        font-size: 12px;

        a {
            color: #000;
        }

        li {
            background: #E3E3E3;
            margin: 2px 0;
            padding: 3px 6px;
        }
        time {
            display: inline-block;
            margin: 0 15px 0 0;
        }

        .name {
            font-weight: bold;
            font-size: 14px;
            display: inline-block;
            margin: 0 15px 0 0;
        }
    }
}

.breadcrumb {
    @include make-container();
    max-width: $content-max-width;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;

    a {
        color: #000;
    }

    .path {
        padding-right: 15px;
    }

    .active {
        font-weight: bold;
        color: #000;
    }
}

.file-caption {
    font-weight: bold;
    text-decoration: underline;
}

.files-list {
    list-style-type: none;
    margin: 10px 0 15px;
    padding: 0;

    li {
        margin: 5px 0;
        padding: 0;
    }
}

.file-link {
    text-decoration: none;
}

.file-info {
    font-size: 13px;
    padding: 0 10px;
    text-decoration: underline;
}

.icon-download {
    display: inline-block;
    width: 10px;
    height: 10px;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 19px;
        height: 19px;
        background: url('../images/download-icon.svg') center center no-repeat;
        background-size: contain;
        left: -5px;
        top: -4px;
    }
}

.file-list {
    list-style-type: none;
    margin: 12px 0;
    padding: 0;

    li {
        margin: 3px 0;
        padding: 0;
    }
}

p + br {
    display: none;
}

.years-selector {
    list-style-type: none;
    padding: 0;
    margin: 15px 0;

    .show-only {
        font-weight: bold;
        margin-right: 15px;
    }

    li {
        padding: 0;
        margin: 0 8px 0 0;
        display: inline-block;
        font-size: 14px;
    }

    a.year {
        display: inline-block;
        background: #a9bf04;
        text-decoration: none;
        color: #fff;
        padding: 3px 8px;

        &:hover {
            color: #000;
        }
    }
}

.sitemap {
    @include make-container();
    max-width: $content-max-width;
    margin-bottom: 25px;

    h2 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;

        @include media-breakpoint-up(sm) {
            font-size: 40px;
        }
    }

    a {
        font-size: 16px;
    }

    li {
      margin-top: 8px;
    }
}

.homepage-aktuality {
    p {
        margin: 0;

        &.time {
            margin-bottom: 15px;
        }
    }
}

.homepage-uredni-deska {
    .time {
        margin: 30px 0 5px;
    }

    h4 {
        margin: 0;
    }
}
