$navbar-dark-color:                 #fff;
$navbar-dark-hover-color:           #fff;
$navbar-dark-active-color:          #fff;
$navbar-dark-toggler-border-color:  transparent;

$font-family-sans-serif:     "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-lighter:         200;
$font-weight-light:           200;

@import "montserrat-font.css";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    padding-top: 79px;

    @include media-breakpoint-up(lg) {
        // padding-top: 100px;
        padding-top: 132px;
    }
}

header {
    color: #fff;

    a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: #a9bf04 !important;
        }
    }

    img {
        width: 150px;
        height: 53px;
        margin-left: 15px;
    }

    h1 {
        @include visually-hidden;
    }

    .navbar {
        background: #1b3175;
    }

    .navbar-nav {
        text-align: center;

        .homepage {
            background: url('../images/home.svg') no-repeat center;
            margin-right: 50px;
        }

        .instagram {
            background: url('../images/instagram.png') no-repeat center center;
        }

        .facebook {
            background: url('../images/facebook.png') no-repeat center center;
        }

        .homepage,
        .instagram,
        .facebook {
            background-size: contain;
            display: inline-block;
            height: 30px;
            width: 30px;
            margin-left: 10px;

            span {
                @include visually-hidden;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .navbar-nav {
            width: 100%;
        }

        div.nav-link {
            margin-left: 70px;
        }

        .nav-link {
            padding: 0 25px !important;
            height: 84px;
            line-height: 84px;
            display: inline-block;
        }

        .nav-link a {
            margin-top: 25px;
        }
    }
}

footer {
    background: #c7c7c7;
    color: #595959;
    text-align: center;
    font-size: 0.8em;
    padding: 20px 0;

    a {
        color: #000;
        text-decoration: underline;

        &:hover {
            color: #000;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }

    .footer-links {
        margin-top: 20px;

        li {
            display: inline-block;
            padding: 0 10px;
        }
    }

    .download-links li {
        display: inline-block;
    }

    .copyright {
        max-width: 190px;
        margin: 20px auto 0;
    }

    .google-play-download,
    .apple-app-store-download {
        a {
            display: inline-block;
            width: 120px;
            height: 40px;
            background-size: contain;
            margin: 8px;
        }
    }

    .apple-app-store-download {
        a {
            background: url('../images/apple-app-store.svg') center center no-repeat;
        }
    }

    .google-play-download {
        a {
            background: url('../images/google-play.svg') center center no-repeat;
        }
    }

    p {
        margin: 0;
    }

    .banners {
        img {
            width: 100%;
            max-width: 320px;
        }

        a {
            display: inline-block;
            text-decoration: none;

            + a {
              margin-top: 10px;
            }
        }
    }
}

.text-banner {
    background: linear-gradient(180deg, #244199 0%, #127242 100%) #244199;
    color: #fff;

    .container {
        min-height: 450px;
        display: flex;
        align-items: center;
    }

    a {
        color: #fff;
    }

    @include clearfix;

    .decoration-image {
        width: 100%;
        aspect-ratio: 3 / 2;
        background-size: contain;
    }

    h2 {
        font-size: 60px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: -15px;
    }

    @include media-breakpoint-up(md) {
        .decoration-image {
            max-width: 400px;
        }

        .banner-text {
            float: right;
            width: calc(100% - 400px);
            padding-left: 30px;
        }
    }

    @include media-breakpoint-up(lg) {
        .decoration-image {
            max-width: 680px;
        }

        .banner-text {
            width: calc(100% - 680px);
        }
    }
}

.button-banner {
    background: linear-gradient(180deg, #244199 0%, #127242 100%) #244199;
    color: #fff;

    .container {
        min-height: 450px;
        display: flex;
        align-items: center;
    }

    a {
        color: #fff;
    }

    @include clearfix;

    .decoration-image {
        width: 100%;
        aspect-ratio: 3 / 2;
        background-size: contain;
    }

    h2 {
        font-size: 60px;
        font-weight: 900;
        text-transform: uppercase;
        margin-top: -15px;
        margin-bottom: 30px;
    }

    .buttons a {
        display: inline-block;
        color: #fff;
        transition: all 0.4s ease-in-out 0s;
        border: 1px solid #fff;
        padding: 8px 30px;
        text-decoration: none;

        + a {
            margin-left: 15px;
        }

        &:hover {
            background: #a9bf04;
        }
    }

    @include media-breakpoint-up(md) {
        .decoration-image {
            max-width: 400px;
        }

        .banner-text {
            float: right;
            width: calc(100% - 400px);
            padding-left: 30px;
        }
    }

    @include media-breakpoint-up(lg) {
        .decoration-image {
            max-width: 680px;
        }

        .banner-text {
            width: calc(100% - 680px);
        }
    }
}

.carousel-wrapper {
    background: linear-gradient(180deg, #244199 0%, #127242 100%) #244199;
    color: #fff;
    min-height: 800px;
}

#homepage-carousel {

    h2 {
        text-transform: uppercase;
        font-weight: 900;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 7.5%;
    }

    .carousel-inner {
        min-height: 700px;
    }

    .slide-inner {
        padding: 20px 7.5%;
    }

    .decoration-image {
        display: block;
        max-width: 100%;
        aspect-ratio: 3 / 2;
        background-size: contain !important;
    }

    .image-moderni-obec {
        background: url('../images/homepage-moderni-obec.png') center center no-repeat;
    }

    .image-golf {
        background: url('../images/homepage-golf-a-turistika.png') center center no-repeat;
    }

    .image-lazenstvi {
        background: url('../images/homepage-lazenstvi.png') center center no-repeat;
    }

    @include media-breakpoint-up(md) {

    }

    @include media-breakpoint-up(lg) {
        .carousel-inner {
            min-height: 530px;
        }

        .container {
            padding-top: 70px;
        }

        .decoration-image {
            max-width: 680px;
            width: 60%;
        }

        .slide-inner {
            float: right;
            padding-left: 30px;
            padding-right: 120px;
            width: calc(100% - min(60%, 680px));
        }
    }
}

.homepage-quick-links {
    @include make-container();
    max-width: 1480px;
    margin-top: -180px;
    margin-bottom: 40px;

    h2 {
        color: #fff;
        max-width: 943px;
        text-transform: uppercase;
        font-size: 40px;
        margin: 0 auto 30px;
        font-weight: bold;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        @include make-row();
    }

    li {
        margin: 0;
        padding: 0;
        @include make-col();
        text-align: center;
    }

    a {
        display: block;
        position: relative;
        padding-bottom: 100px;
        font-weight: 900;
        color: #1a3174;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 30px;

        &:hover span {
            color: #fff;
            background: #A9BF04;
        }

        span {
            position: absolute;
            display: block;
            left: 50%;
            transform: translate(-50%, 0);
            bottom: 10px;
            color: #A9BF04;
            border: 1px solid #A9BF04;
            border-radius: 40px;
            height: 56px;
            line-height: 56px;
            padding: 0 55px;
            @include transition(all .45s);
            font-weight: bold;
            letter-spacing: 0.05em;
            font-size: 16px;
            text-transform: none;
        }

        &::before {
            content: '';
            display: block;
            width: 85%;
            aspect-ratio: 3/2;
            margin: 0 auto -25px;
        }
    }

    .link-aktivity a::before {
        background: url("../images/homepage-aktivity.png") center center no-repeat;
        background-size: contain;
    }

    .link-restaurace a::before {
        background: url("../images/homepage-restaurace.png") center center no-repeat;
        background-size: contain;
    }

    .link-vylety a::before {
        background: url("../images/homepage-vylety.png") center center no-repeat;
        background-size: contain;
    }

    .link-ubytovani a::before {
        background: url("../images/homepage-ubytovani.png") center center no-repeat;
        background-size: contain;
    }
}

.homepage-infoservis {
    background: #f9f9f9;
    padding: 55px 0;
    font-size: 14px;

    .container, h2 {
        max-width: 940px;
    }

    h2, h3 {
        text-transform: uppercase;
    }

    h2, h3, h4 {
        color: #084627;
        font-weight: bold;
    }

    h2 {
        margin: 0 auto 30px;
        font-size: 40px;
    }

    h3  {
        font-size: 24px;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 15px;
        margin-top: 30px;
    }

    a {
        color: #000;
    }

    .all-link {
        display: inline-block;
        color: #A9BF04;
        border: 1px solid #A9BF04;
        border-radius: 40px;
        height: 48px;
        line-height: 46px;
        padding: 0 30px;
        @include transition(all .45s);
        font-weight: bold;
        font-size: 13px;
        text-decoration: none;
        margin-top: 20px;

        &:hover {
            color: #fff;
            background: #A9BF04;
        }
    }

    .content-wrapper {
        @include make-row();

        > section {
            @include make-col();

            &:nth-child(1) {
                padding-right: 20px;
            }

            &:nth-child(2) {
                padding-left: 20px;
            }
        }
    }
}

.documents-section .simple-text-section {
    min-height: 150px;
}

.uredni-deska-text-section {
    @include make-container();
    max-width: 920px;
    padding: 50px 0 20px;

    h2 {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}

.simple-text-section {
    @include make-container();
    max-width: 900px;
    padding: 50px 0;
    min-height: 450px;

    h2 {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    p {
        margin-left: 40px;
    }
}

.sekce-s-dlazdicema {
    @include make-container();
    max-width: 1016px;
    padding: 45px 0;

    h3 {
        color: #1b3175;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 25px;
    }

    .dlazdice-wrapper {
        @include make-row();
        margin-top: 35px;

        a {
            width: 250px;
            transition: all 0.4s ease-in-out 0s;
            display: block;
            background: #fafafa;
            padding: 40px 20px;
            text-decoration: none;
            color: #a8be04;
            text-align: center;
            margin: 5px;

            &:hover {
                color: #fff;
                background: #a8be04;
            }
        }

        h4 {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 900;
            margin: 0;

            .image {
                display: block;
                width: 75px;
                height: 68px;
                margin: 0 auto 20px;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }
}

.aktuality-section {
    @include make-container();
    max-width: 940px;
    padding-top: 30px;
    padding-bottom: 40px;
    min-height: 400px;

    h2 {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    article {
        border: 1px solid #eaeaea;
        display: flex;
        justify-items: center;

        + article {
            margin-top: 15px;
        }

        img {
            max-width: 290px;
        }

        .actuality-content {
            padding: 24px 36px;

            p:last-child {
                margin-bottom: 0;
            }
        }

        a {
            color: #000;
        }

        h3 {
            font-weight: bold;
            font-size: 18px;

            a {
                text-decoration: none;
            }
        }
    }
}

.detail-aktuality-section {
    @include make-container();
    max-width: 940px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 400px;

    a {
        color: #000;
    }

    nav {
        a {
            font-size: 14px;
            display: inline-block;

            + a {
                margin-left: 25px;
            }
        }
    }

    img {
        max-width: 100%;
    }

    article {
        margin-top: 30px;
        border: 1px solid #eaeaea;
        padding: 24px 36px;
    }
}

.person-detail {
    display: flex;

    + .person-detail {
        margin-top: 20px;
    }

    .photo {
        margin-right: 30px;

        &, img {
            width: 73px;
            height: 73px;
        }
    }

    h4 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 2px;
    }

    a {
        color: #000;
    }

    .default-muz {
        background: url('../images/ikonka-muz.svg') center center no-repeat;
        background-size: contain;
    }

    .default-zena {
        background: url('../images/ikonka-zena.svg') center center no-repeat;
        background-size: contain;
    }
}

.kontakty-section {
    @include make-container();
    max-width: 940px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 400px;

    article {
        margin: 25px 0 40px;
    }

    h3 {
        color: #244199;
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 40px;
        border-bottom: 2px solid #244199;
        padding-bottom: 18px;
    }
}

.samosprava-section {
    @include make-container();
    max-width: 940px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 450px;

    h2 {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
    }

    h3 {
        color: #244199;
        font-weight: 900;
        font-size: 30px;
        margin-bottom: 40px;
        border-bottom: 2px solid #244199;
        padding-bottom: 18px;
        margin-top: 30px;
    }

    article + h3 {
        margin-top: 50px;
    }
}

.uredni-deska-section {
    @include make-container();
    max-width: 940px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 400px;

    article {
        padding: 20px 0;
        border-bottom: 1px solid #000;

        a {
            color: #000;
        }

        h4 {
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.sorry-in-progress {
    font-size: 36px;
    text-align: center;
    padding: 175px 0
}

.uredni-deska-detail {
    @include make-container();
    max-width: 940px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 400px;
}

.sluzby-section {
    @include make-container();
    max-width: 940px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 400px;

    .sluzby-wrapper {
        @include make-row();

        article {
            @include make-col();
            padding-left: 20px;
            padding-right: 20px;
        }

        h3 {
            color: #244199;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
        }
    }
}

.objekty-section {
    @include make-container();
    max-width: 940px;
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 400px;

    h2 {
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}

.in-progress-lista {
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    font-size: 12px;
    left: 0;
    top: 100px;
    padding: 8px 0;
    text-align: center;
    box-shadow: #000000 0 0 7px 1px
    z-index: 9;
}

.error-page {
    text-align: center;
    padding: 140px 20px;
}
