$navbar-dark-color:                 #fff;
$navbar-dark-hover-color:           #fff;
$navbar-dark-active-color:          #fff;
$navbar-dark-toggler-border-color:  transparent;

$font-family-sans-serif:     "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-weight-lighter:         200;
$font-weight-light:           200;

@import "montserrat-font.css";

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    padding-top: 79px;
}

header {
    color: #fff;

    a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            color: #a9bf04 !important;
        }
    }

    img {
        width: 150px;
        height: 53px;
        margin-left: 15px;
    }

    h1 {
        @include visually-hidden;
    }

    .navbar {
        background: #1b3175;
    }

    .navbar-nav {
        text-align: center;

        .homepage {
            background: url('../images/home.svg') no-repeat center;
            margin-right: 50px;
        }

        .instagram {
            background: url('../images/instagram.png') no-repeat center center;
        }

        .facebook {
            background: url('../images/facebook.png') no-repeat center center;
        }

        .homepage,
        .instagram,
        .facebook {
            background-size: contain;
            display: inline-block;
            height: 30px;
            width: 30px;
            margin-left: 10px;

            span {
                @include visually-hidden;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .navbar-nav {
            width: 100%;
        }

        div.nav-link {
            margin-left: 70px;
        }

        .nav-link {
            padding: 0 25px !important;
            height: 84px;
            line-height: 84px;
            display: inline-block;
        }

        .nav-link a {
            margin-top: 25px;
        }
    }
}

footer {
    background: #c7c7c7;
    color: #595959;
    text-align: center;
    font-size: 0.8em;
    padding: 20px 0;

    a {
        color: #000;
        text-decoration: underline;

        &:hover {
            color: #000;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
        }
    }

    .download-links li {
        display: inline-block;
    }

    .copyright {
        max-width: 190px;
        margin: 20px auto 0;
    }

    .google-play-download,
    .apple-app-store-download {
        a {
            display: inline-block;
            width: 120px;
            height: 40px;
            background-size: contain;
            margin: 8px;
        }
    }

    .apple-app-store-download {
        a {
            background: url('../images/apple-app-store.svg') center center no-repeat;
        }
    }

    .google-play-download {
        a {
            background: url('../images/google-play.svg') center center no-repeat;
        }
    }

    p {
        margin: 0;
    }

    .banners {
        img {
            width: 100%;
            max-width: 320px;
        }

        a {
            display: inline-block;
            text-decoration: none;

            + a {
              margin-top: 10px;
            }
        }
    }
}

.text-banner {
    background: linear-gradient(180deg, #244199 0%, #127242 100%) #244199;
    color: #fff;

    @include clearfix;

    .decoration-image {
        display: block;
        max-width: 100%;
        aspect-ratio: 3 / 2;
        background-size: contain;
    }

    @include media-breakpoint-up(md) {
        .decoration-image {
            max-width: 400px;
        }

        .banner-text {
            float: right;
            width: calc(100% - 400px);
            padding-left: 30px;
        }
    }

    @include media-breakpoint-up(lg) {
        .decoration-image {
            max-width: 680px;
        }

        .banner-text {
            width: calc(100% - 680px);
        }
    }
}

.carousel-wrapper {
    background: linear-gradient(180deg, #244199 0%, #127242 100%) #244199;
    color: #fff;
}

#homepage-carousel {

    h2 {
        text-transform: uppercase;
        font-weight: 900;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 7.5%;
    }

    .carousel-inner {
        min-height: 700px;
    }

    .slide-inner {
        padding: 20px 7.5%;
    }

    .decoration-image {
        display: block;
        max-width: 100%;
        aspect-ratio: 3 / 2;
        background-size: contain !important;
    }

    .image-moderni-obec {
        background: url('../images/homepage-moderni-obec.png') center center no-repeat;
    }

    .image-golf {
        background: url('../images/homepage-golf-a-turistika.png') center center no-repeat;
    }

    .image-lazenstvi {
        background: url('../images/homepage-lazenstvi.png') center center no-repeat;
    }

    @include media-breakpoint-up(md) {

    }

    @include media-breakpoint-up(lg) {
        .container {
            padding-top: 45px;
        }

        .decoration-image {
            max-width: 680px;
            width: 60%;
        }

        .slide-inner {
            float: right;
            padding-left: 30px;
            padding-right: 0;
            width: calc(100% - min(60%, 680px));
        }
    }
}
