<section class="text-banner">
    <div class="container">
        <div role="presentation" class="decoration-image" style="background-image: url('{{ banner.Obrazek }}');"></div>

        <div class="banner-text">
            <h2>{{ banner.Nadpis }}</h2>

            {{ banner.Text_pod_nadpisem|markdown_to_html }}
        </div>
    </div>
</section>
