<a href="{{ dlazdice.Odkaz }}">
    <h4>
        <span class="image" role="presentation" style="background-image: url({{ dlazdice.Ikona }})"></span>
        {{ dlazdice.Nadpis_dlazdice }}
    </h4>
</a>
