<style id="css_jmnoc">
    [data-mesh-id=comp-l10ly6foinlineContent]{height:auto;width:100%}[data-mesh-id=comp-l10ly6foinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;grid-template-rows:repeat(5, min-content) 1fr;grid-template-columns:100%}[data-mesh-id=comp-l10ly6foinlineContent-gridContainer] > [id="comp-l10manzh"]{position:relative;margin:36px 0px 7px calc((100% - 980px) * 0.5);left:75px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10ly6foinlineContent-gridContainer] > [id="comp-l10ly6fr"]{position:relative;margin:0px 0px 31px calc((100% - 980px) * 0.5);left:75px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10ly6foinlineContent-gridContainer] > [id="comp-l10lzngn"]{position:relative;margin:0px 0px -19px calc((100% - 980px) * 0.5);left:75px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10ly6foinlineContent-gridContainer] > [id="comp-l11z1pwj"]{position:relative;margin:0px 0px 15px calc((100% - 980px) * 0.5);left:58px;grid-area:4 / 1 / 5 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10ly6foinlineContent-gridContainer] > [id="comp-l10mi89h"]{position:relative;margin:0px 0px 21px calc((100% - 980px) * 0.5);left:75px;grid-area:5 / 1 / 6 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10ly6foinlineContent-gridContainer] > [id="comp-l10mi96f"]{position:relative;margin:0px 0px 10px calc((100% - 980px) * 0.5);left:75px;grid-area:6 / 1 / 7 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l11z1pwjinlineContent]{height:auto;width:588px}[data-mesh-id=comp-l11z1pwjinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:1fr;grid-template-columns:100%}[data-mesh-id=comp-l11z1pwjinlineContent-gridContainer] > [id="comp-l11z1pxn"]{position:relative;margin:0px 0px 0px 0;left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi89hinlineContent]{height:auto;width:787px}[data-mesh-id=comp-l10mi89hinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:repeat(3, min-content) 1fr;grid-template-columns:100%}[data-mesh-id=comp-l10mi89hinlineContent-gridContainer] > [id="comp-l10m590l"]{position:relative;margin:0px 0px 9px 0;left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi89hinlineContent-gridContainer] > [id="comp-l10m590t"]{position:relative;margin:0px 0px 11px 0;left:0px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi89hinlineContent-gridContainer] > [id="comp-l10m590x"]{position:relative;margin:0px 0px 23px 0;left:0px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi89hinlineContent-gridContainer] > [id="comp-l10mhcn5"]{position:relative;margin:0px 0px 22px 0;left:91px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi89hinlineContent-gridContainer] > [id="comp-l10m8tuj"]{position:relative;margin:0px 0px 0px 0;left:0px;grid-area:4 / 1 / 5 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi96finlineContent]{height:auto;width:787px}[data-mesh-id=comp-l10mi96finlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:repeat(3, min-content) 1fr;grid-template-columns:100%}[data-mesh-id=comp-l10mi96finlineContent-gridContainer] > [id="comp-l10mi9711"]{position:relative;margin:0px 0px 9px 0;left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi96finlineContent-gridContainer] > [id="comp-l10mi977"]{position:relative;margin:0px 0px 11px 0;left:0px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi96finlineContent-gridContainer] > [id="comp-l10mi9781"]{position:relative;margin:0px 0px 23px 0;left:0px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi96finlineContent-gridContainer] > [id="comp-l10mi97a"]{position:relative;margin:0px 0px 22px 0;left:91px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l10mi96finlineContent-gridContainer] > [id="comp-l10mi96z"]{position:relative;margin:0px 0px 0px 0;left:0px;grid-area:4 / 1 / 5 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l11z1pxninlineContent]{height:auto;width:588px}[data-mesh-id=comp-l11z1pxninlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:1fr;grid-template-columns:100%}[data-mesh-id=comp-l11z1pxninlineContent-gridContainer] > [id="comp-l11z2rix"]{position:relative;margin:18px 0px 25px 0;left:17px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=ContainerjmnocinlineContent]{height:auto;width:100%}[data-mesh-id=ContainerjmnocinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:500px;grid-template-rows:1fr;grid-template-columns:100%;padding-bottom:0px;box-sizing:border-box}[data-mesh-id=ContainerjmnocinlineContent-gridContainer] > [id="comp-l10ly6fg"]{position:relative;margin:9px 0px 0 calc((100% - 980px) * 0.5);left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}#comp-l10manzh{width:787px;height:56px}#comp-l10ly6fr{width:814px;height:59px}#comp-l10lzngn{width:787px;height:93px}#comp-l10m590l{width:310px;height:17px}#comp-l10m590t{width:787px;height:23px}#comp-l10m590x{width:310px;height:17px}#comp-l10mhcn5{width:18px;height:18px}#comp-l10m8tuj{width:780px;height:5px}#comp-l10mi9711{width:310px;height:17px}#comp-l10mi977{width:787px;height:23px}#comp-l10mi9781{width:310px;height:17px}#comp-l10mi97a{width:18px;height:18px}#comp-l10mi96z{width:780px;height:5px}#comp-l11z2rix{width:240px;height:42px}#listModal_comp-l11z2rix{width:240px;height:42px}#jmnoc{left:0;margin-left:0;width:100%;min-width:980px}#comp-l10ly6fg{left:0;margin-left:0;width:100%;min-width:980px}#comp-l10ly6fo{width:980px}#comp-l11z1pwj{width:588px}#comp-l10mi89h{width:787px}#comp-l10mi96f{width:787px}#comp-l11z1pxn{width:588px}#masterPage{--pinned-layers-in-page:0}
    @font-face {
        font-family: wf_eb01a9d522cd40779f5fa738a;
        src: url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/woff2/file.woff2") format("woff2"),
        url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/woff/file.woff") format("woff"),
        url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/ttf/file.ttf") format("ttf");
    }
    @font-face {
        font-family: wf_a427613dfdbb49ca9e39c4038;
        src: url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/woff2/file.woff2") format("woff2"),
        url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/woff/file.woff") format("woff"),
        url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/ttf/file.ttf") format("ttf");
    }
    @font-face {
        font-family: wf_68091813929a4b2887ee94c2a;
        src: url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/woff2/file.woff2") format("woff2"),
        url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/woff/file.woff") format("woff"),
        url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/ttf/file.ttf") format("ttf");
    }
    @font-face {
        font-display: block;
        font-family: "Poppins-ExtraLight";
        src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
        src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
        url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGC3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=h3r77AwDsldr1E_2g4qqGKWUboTb-jS2tyCOQMtm97g&skey=1bdc08fe61c3cc9e&v=v5#Poppins") format("svg");
    }
    @font-face {
        font-display: block;
        font-family: "Poppins-ExtraLight";
        font-weight: 700;
        src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix");
        src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/poppins/v5/rijG6I_IOXJjsH07UEo2mw.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/poppins/v5/p0A1C4_gK5NzKtuGSwNurQ.woff") format("woff"),
        url("//fonts.gstatic.com/s/poppins/v5/rATt6MpBkxjRr3sy5fMEDg.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=dvQ6luzB0ViWP07p6fisSw&skey=87759fb096548f6d&v=v5#Poppins") format("svg");
    }
    @font-face {
        font-display: block;
        font-family: "Poppins-ExtraLight";
        font-style: italic;
        src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
        src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
        url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=-GlaWpWcSgdVagNuOGuFKd1LKoZ82bBu2f46DhHcs3c&skey=e6f64e60fb8d9268&v=v5#Poppins") format("svg");
    }
    @font-face {
        font-display: block;
        font-family: "Poppins-ExtraLight";
        font-weight: 700;
        font-style: italic;
        src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
        src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
        url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=Fm41upUVp7KTKUZhL0PfQZbd9NUM7myrQQz30yPaGQ4&skey=f21d6e783fa43c88&v=v5#Poppins") format("svg");
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAOvWDSHFF.woff2) format('woff2');
        unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOYktMqlap.woff2) format('woff2');
        unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
        unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
        unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    @font-face {
        font-display: block;
        font-family:"Bree-W01-Thin-Oblique";
        src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4e33bf74-813a-4818-8313-6ea9039db056.eot?#iefix");
        src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4e33bf74-813a-4818-8313-6ea9039db056.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ceb3b4a3-0083-44ae-95cb-e362f95cc91b.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4d716cea-5ba0-437a-b5a8-89ad159ea2be.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c458fc09-c8dd-4423-9767-e3e27082f155.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/85ffb31e-78ee-4e21-83d8-4313269135a9.svg#85ffb31e-78ee-4e21-83d8-4313269135a9") format("svg");
    }

    ._2UdPt {
        border-bottom: 1px solid #000;
    }

    #comp-l10manzh { --min-height:56px;height:auto }#comp-l10ly6fr { --min-height:59px;height:auto }#comp-l10lzngn { --min-height:93px;height:auto }#comp-l10m590l { height:auto }#comp-l10m590t { height:auto }#comp-l10m590x { height:auto }#comp-l10mhcn5 { --opacity:1 }#comp-l10m8tuj { --lnw:1px;--brd:40,38,38;--alpha-brd:1;transform-origin:center 0.5px }#comp-l10mi9711 { height:auto }#comp-l10mi977 { height:auto }#comp-l10mi9781 { height:auto }#comp-l10mi97a { --opacity:1 }#comp-l10mi96z { --lnw:1px;--brd:40,38,38;--alpha-brd:1;transform-origin:center 0.5px }#comp-l11z2rix { --brwe:1px;--dropdownListTextColor:var(--color_5);--brwf:1px;--brde:227,227,227;--bge:255,255,255;--rd:0px;--shd:none;--fnt:normal normal normal 14px/1.4em wfont_5670fd_eb01a9d522cd40779f5fa738af2d3f2d,wf_eb01a9d522cd40779f5fa738a,orig_montserratsemibold;--bg:255,255,255;--txt:0,0,0;--alpha-txt:1;--brdf:227,227,227;--brw:1px;--brd:var(--color_13);--txt2:var(--color_14);--alpha-txt2:1;--txt_placeholder:0,0,0;--alpha-txt_placeholder:1;--brwh:1px;--brdh:227,227,227;--bgf:255,255,255;--brdd:204,204,204;--alpha-brdd:1;--txtd:212,212,212;--alpha-txtd:1;--bgd:212,212,212;--arrowColor:0,0,0;--fntlbl:normal normal normal 14px/1.4em wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;--txtlbl:0,0,0;--alpha-txtlbl:1;--txtlblrq:0,0,0;--alpha-txtlblrq:1;--dropdownListBoxShadow:none;--dropdownListStrokeWidth:1px;--alpha-bg:1;--alpha-dropdownListTextColor:1;--dropdownListBackgroundColor:var(--color_1);--alpha-dropdownListBackgroundColor:1;--dropdownListStrokeColor:var(--color_5);--alpha-dropdownListStrokeColor:1;--dropdownListHoverBackgroundColor:44,216,215;--alpha-dropdownListHoverBackgroundColor:0.7;--dropdownListFont:var(--font_1);--dropdownListHoverTextColor:155,155,155;--alpha-dropdownListHoverTextColor:1;--alpha-arrowColor:0.5;--alpha-bgd:0;--alpha-brd:1;--alpha-brdf:1;--alpha-brdh:1;--bg2:170,170,170;--alpha-bgh:1;--alpha-bgf:1;--alpha-bge:1;--alpha-bg2:1;--bgh:255,255,255;--alpha-brde:1;--arrowLeftPosition:auto;--arrowRightPosition:0;--labelMarginBottom:14px;--requiredIndicationDisplay:inline;--dir:ltr;--textAlign:left;--textPadding:0 45px 0 12px;--labelPadding:0 20px 0 0px;height:auto;--boxShadowToggleOn-shd:none;--dropdownListBorderRadius:5px;--inputHeight:42px }#listModal_comp-l11z2rix { --brwe:1px;--dropdownListFont:var(--font_1);--bgh:255,255,255;--brde:227,227,227;--bge:255,255,255;--rd:0px;--shd:none;--fnt:normal normal normal 14px/1.4em wfont_5670fd_eb01a9d522cd40779f5fa738af2d3f2d,wf_eb01a9d522cd40779f5fa738a,orig_montserratsemibold;--bg:255,255,255;--txt:0,0,0;--alpha-txt:1;--brwf:1px;--brw:1px;--brd:var(--color_13);--txt2:var(--color_14);--alpha-txt2:1;--txt_placeholder:0,0,0;--alpha-txt_placeholder:1;--brwh:1px;--brdf:227,227,227;--bgf:255,255,255;--brdd:204,204,204;--alpha-brdd:1;--txtd:212,212,212;--alpha-txtd:1;--bgd:212,212,212;--arrowColor:0,0,0;--fntlbl:var(--font_8);--txtlbl:0,0,0;--alpha-txtlbl:1;--txtlblrq:0,0,0;--alpha-txtlblrq:1;--bg2:170,170,170;--dropdownListBorderRadius:5px;--dropdownListTextColor:var(--color_5);--alpha-dropdownListTextColor:1;--dropdownListBackgroundColor:var(--color_1);--alpha-dropdownListBackgroundColor:1;--dropdownListStrokeColor:var(--color_5);--dropdownListBoxShadow:none;--alpha-dropdownListStrokeColor:1;--dropdownListHoverBackgroundColor:44,216,215;--alpha-dropdownListHoverBackgroundColor:0.7;--dropdownListHoverTextColor:155,155,155;--alpha-dropdownListHoverTextColor:1;--alpha-arrowColor:0.5;--alpha-bgd:0;--alpha-brd:1;--alpha-bg2:1;--boxShadowToggleOn-shd:none;--alpha-bg:1;--alpha-brdf:1;--brdh:227,227,227;--alpha-bgh:1;--alpha-bgf:1;--alpha-bge:1;--alpha-brde:1;height:100%;--dropdownItemsSpacing:16px;--dropdownOptionJustifyContent:flex-start;--dir:ltr;--textAlign:left;--textPadding:0 45px 0 12px;--alpha-brdh:1;--dropdownListStrokeWidth:1px;width:initial }#jmnoc { --param_boolean_previewHover:false;width:auto;min-height:500px }#comp-l10ly6fg { --bg-overlay-color:transparent;--bg-gradient:none;--padding:0px;--margin:0px;min-width:980px;--firstChildMarginTop:-1px;--lastChildMarginBottom:-1px }#comp-l10ly6fo { --bg-overlay-color:rgb(250, 250, 250);--bg-gradient:none;width:100%;--column-width:980px;--column-flex:980 }#comp-l11z1pxn { --rd:0px;--shd:0 0 0 rgba(0, 0, 0, 0);--bg:255,255,255;--brd:227,227,227;--alpha-brd:1;--brw:0px;--alpha-bg:0 }#pageBackground_jmnoc { --bg-position:absolute;--bg-overlay-color:rgb(255, 255, 255);--bg-gradient:none;--fill-layer-background-overlay-color:transparent;--fill-layer-background-overlay-position:absolute }

</style>

<div id="SITE_PAGES"><div id="SITE_PAGES_TRANSITION_GROUP" class="_2YGAo"><div id="jmnoc" class="Ry26q" style="padding-bottom: 70px;"><div class="_3CemL"></div><div class="_3K7uv"><div id="Containerjmnoc" class="_1KV2M"><div data-mesh-id="ContainerjmnocinlineContent" data-testid="inline-content" class=""><div data-mesh-id="ContainerjmnocinlineContent-gridContainer" data-testid="mesh-container-content"><section id="comp-l10ly6fg" class="_3d64y"><div id="bgLayers_comp-l10ly6fg" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l10ly6fg" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx"><div id="comp-l10ly6fo" class="_1vNJf"><div id="bgLayers_comp-l10ly6fo" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l10ly6fo" class="_2GUhU"></div></div><div data-mesh-id="comp-l10ly6foinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l10ly6foinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l10manzh" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="line-height:1.7em; font-size:14px;">Cesta:&nbsp;<span style="text-decoration:underline;"><a href="https://www.obec-kunovice.cz/index.asp" target="_blank" rel="noreferrer noopener">Titulní stránka</a></span>&nbsp;&gt; <span style="text-decoration:underline;"><a href="https://manage.wix.com/dashboard/de84240d-97ad-4b08-be24-2da7b9394a43/home?referralInfo=sites-dropdown" target="_blank" rel="noreferrer noopener">Úřad</a></span>&nbsp;&gt;&nbsp;<span style="text-decoration:underline;"><a href="https://www.obec-kunovice.cz/dokumenty-obecniho-uradu/ms-60/p1=60" target="_blank" rel="noreferrer noopener">Dokumenty úřadu</a></span>&nbsp;&gt; <span style="font-family:wfont_5670fd_68091813929a4b2887ee94c2ac164735,wf_68091813929a4b2887ee94c2a,orig_montserratbold;">{{ title }}</span></p></div><div id="comp-l10ly6fr" class="_2Hij5" data-testid="richTextElement"><h2 class="font_2" style="font-size:40px;">
    {{ title }}</h2></div><div id="comp-l10lzngn" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="font-size:14px;">Jsem odstavec. Klikněte zde pro přidávání a úpravu vlastního textu. Je to snadné. Jsem odstavec. Klikněte zde pro přidávání a úpravu vlastního textu. Je to snadné.Jsem odstavec. Klikněte zde pro přidávání a úpravu vlastního textu. Je to snadné.</p></div><div id="comp-l11z1pwj" class="_11gHK"><div data-mesh-id="comp-l11z1pwjinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l11z1pwjinlineContent-gridContainer" data-testid="mesh-container-content"><form id="comp-l11z1pxn" class="yBJuM"><div data-mesh-id="comp-l11z1pxninlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l11z1pxninlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l11z2rix" class="cyPU8 o5QNg"><label class="_2z549" for="collection_comp-l11z2rix"></label><div class="_15XQs"><select class="Ch2LG has-custom-focus _1UP8Q" id="collection_comp-l11z2rix"><option value="" disabled="" class="Vx877 _3pa83">Zvolte možnost</option><option value="2022" class="Vx877">2022</option></select><div class="_3wJcy"><div class="_2LH9s"><svg width="11" height="6" class="_1sD6O" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.2828 4.89817"><title>arrow&amp;amp;v</title><path d="M4.64116,4.89817a.5001.5001,0,0,1-.34277-.13574L.15727.86448A.50018.50018,0,0,1,.84282.136L4.64116,3.71165,8.44.136a.50018.50018,0,0,1,.68555.72852L4.98393,4.76243A.5001.5001,0,0,1,4.64116,4.89817Z"></path></svg></div></div></div></div></div></div></form></div></div></div><div id="comp-l10mi89h" class="_1KV2M"><div data-mesh-id="comp-l10mi89hinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l10mi89hinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l10m590l" class="_2Hij5" data-testid="richTextElement"><p class="font_9" style="font-size:12px;">10.2.2022</p></div><div id="comp-l10m590t" class="_2Hij5" data-testid="richTextElement"><h6 class="font_6" style="font-size:16px;"><span style="text-decoration:underline;"><a href="https://manage.wix.com/dashboard/de84240d-97ad-4b08-be24-2da7b9394a43/home?referralInfo=sites-dropdown" target="_blank" rel="noreferrer noopener">Nadpisek aktuality</a></span></h6></div><div id="comp-l10m590x" class="_2Hij5" data-testid="richTextElement"><p class="font_9" style="font-size:12px;"><span style="text-decoration:underline;"><a href="https://manage.wix.com/dashboard/de84240d-97ad-4b08-be24-2da7b9394a43/home?referralInfo=sites-dropdown" target="_blank" rel="noreferrer noopener">[PDF, 169 kB]</a></span></p></div><div id="comp-l10mhcn5" class=""><div data-testid="svgRoot-comp-l10mhcn5" class="_3bLYT _2OIRR"><svg preserveAspectRatio="xMidYMid meet" data-bbox="16.378 16.378 167.244 167.244" viewBox="16.378 16.378 167.244 167.244" height="18" width="18" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true"><defs><style>#comp-l10mhcn5 svg [data-color="1"] {fill: #A9BF04;}</style></defs>
                                                                        <g>
                                                                            <path d="M100 16.378c-46.183 0-83.622 37.438-83.622 83.622 0 46.183 37.439 83.622 83.622 83.622 46.184 0 83.622-37.439 83.622-83.622 0-46.184-37.438-83.622-83.622-83.622zM77.228 94.654a4.955 4.955 0 0 1 7.009 0l8.328 8.328v-36.42a7.435 7.435 0 1 1 14.87 0v36.421l8.329-8.329a4.955 4.955 0 0 1 7.009 0 4.955 4.955 0 0 1 0 7.009l-19.265 19.265-.003.003a4.94 4.94 0 0 1-3.505 1.452 4.942 4.942 0 0 1-3.504-1.451l-19.268-19.267a4.958 4.958 0 0 1 0-7.011zm56.616 42.181c0 2.78-2.275 5.054-5.054 5.054H71.21c-2.78 0-5.054-2.275-5.054-5.054v-1.989c0-2.78 2.275-5.054 5.054-5.054h57.58c2.78 0 5.054 2.275 5.054 5.054v1.989z" fill="#010107" data-color="1"></path>
                                                                        </g>
                                                                    </svg>
                                                                </div></div><div id="comp-l10m8tuj" class="_2UdPt"></div></div></div></div><div id="comp-l10mi96f" class="_1KV2M"><div data-mesh-id="comp-l10mi96finlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l10mi96finlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l10mi9711" class="_2Hij5" data-testid="richTextElement"><p class="font_9" style="font-size:12px;">10.2.2022</p></div><div id="comp-l10mi977" class="_2Hij5" data-testid="richTextElement"><h6 class="font_6" style="font-size:16px;"><span style="text-decoration:underline;"><a href="https://manage.wix.com/dashboard/de84240d-97ad-4b08-be24-2da7b9394a43/home?referralInfo=sites-dropdown" target="_blank" rel="noreferrer noopener">Nadpisek aktuality</a></span></h6></div><div id="comp-l10mi9781" class="_2Hij5" data-testid="richTextElement"><p class="font_9" style="font-size:12px;"><span style="text-decoration:underline;"><a href="https://manage.wix.com/dashboard/de84240d-97ad-4b08-be24-2da7b9394a43/home?referralInfo=sites-dropdown" target="_blank" rel="noreferrer noopener">[PDF, 169 kB]</a></span></p></div><div id="comp-l10mi97a" class=""><div data-testid="svgRoot-comp-l10mi97a" class="_3bLYT _2OIRR"><svg preserveAspectRatio="xMidYMid meet" data-bbox="16.378 16.378 167.244 167.244" viewBox="16.378 16.378 167.244 167.244" height="18" width="18" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true"><defs><style>#comp-l10mi97a svg [data-color="1"] {fill: #A9BF04;}</style></defs>
                                                                        <g>
                                                                            <path d="M100 16.378c-46.183 0-83.622 37.438-83.622 83.622 0 46.183 37.439 83.622 83.622 83.622 46.184 0 83.622-37.439 83.622-83.622 0-46.184-37.438-83.622-83.622-83.622zM77.228 94.654a4.955 4.955 0 0 1 7.009 0l8.328 8.328v-36.42a7.435 7.435 0 1 1 14.87 0v36.421l8.329-8.329a4.955 4.955 0 0 1 7.009 0 4.955 4.955 0 0 1 0 7.009l-19.265 19.265-.003.003a4.94 4.94 0 0 1-3.505 1.452 4.942 4.942 0 0 1-3.504-1.451l-19.268-19.267a4.958 4.958 0 0 1 0-7.011zm56.616 42.181c0 2.78-2.275 5.054-5.054 5.054H71.21c-2.78 0-5.054-2.275-5.054-5.054v-1.989c0-2.78 2.275-5.054 5.054-5.054h57.58c2.78 0 5.054 2.275 5.054 5.054v1.989z" fill="#010107" data-color="1"></path>
                                                                        </g>
                                                                    </svg>
                                                                </div></div><div id="comp-l10mi96z" class="_2UdPt"></div></div></div></div></div></div></div></div></section></div></div></div></div></div></div></div>
