<div class="documents-section">
    <section class="simple-text-section">
        <h2>{{ dokumenty.Nadpis }}</h2>

        {% if dokumenty.Obsah %}
            {{ dokumenty.Obsah|markdown_to_html }}
        {% endif %}
    </section>

    {{ include('_uredni_deska.html.twig', {
        'uredni_deska': dokumenty.Uredni_deska
    }) }}
</div>
