{{ include('_breadcrumb.html.twig', {
    'current': page_title,
    'items': {
        'urad': 'Obecní úrad',
        'urad_dokumenty_uradu': 'Dokumenty úřadu',
    },
}) }}

<div class="documents-section">
    <section class="simple-text-section">
        <h2>{{ dokumenty.Nadpis }}</h2>

        {% if dokumenty.Obsah %}
            {{ dokumenty.Obsah|markdown_to_html|nl2br }}
        {% endif %}
    </section>

    {{ include('_uredni_deska.html.twig', {
        'uredni_deska': dokumenty.Uredni_deska,
        'show_categories': false,
        'years': dokumenty.Uredni_deska_roky,
        'years_filter_name': 'rok',
        'iframe': false,
    }) }}
</div>
