{% for graficky_pas in graficke_pasy %}
    <article>
        <h2>{{ graficky_pas.Nadpis }}</h2>
        <p>{{ graficky_pas.Obsah }}</p>

        {% if graficky_pas.Tlacitko %}
            <p>
                <a href="{{ graficky_pas.Tlacitko.Odkaz }}">
                    {{ graficky_pas.Tlacitko.Text }}
                </a>
            </p>
        {% endif %}
    </article>

    <span></span>
{% endfor %}

{# todo: obrazek, litajici obrazky, umisteni, gradient #}
