<section class="sekce-s-dlazdicema">
    <h3>{{ sekce.Nadpis }}</h3>

    {% if sekce.Popis %}
        {{ sekce.Popis|markdown_to_html|nl2br }}
    {% endif %}

    <section class="dlazdice-wrapper">
        {% for dlazdice in sekce.Dlazdice %}
            {{ include('_dlazdice.html.twig') }}
        {% endfor %}
    </section>
</section>
