{% extends 'base.html.twig' %}

{% block title %}Chyba :-({% endblock %}

{% block content %}
    <section class="error-page">
        <h2>Ajaj... je nám to líto, bohužel se někde stala chyba.</h2>
        <p>Chyba se zalogovala. To znamená, že o ní víme a pokusíme se jí opravit co nejdříve to půjde.</p>
        <p>Děkujeme za pochopení!</p>
    </section>
{% endblock %}
