{% extends 'base.html.twig' %}

{% block title %}Stránka nenalezena{% endblock %}

{% block content %}
    <section class="error-page">
        <h2>Stránka nebyla nalezena</h2>
        <p>Možná jste se na tuto stránku dostali kliknutím na odkaz, který najednou přestal fungovat...<br><small>A možná taky ne...</small></p>
        <p>Jak jste si jistě všimli, máme nové webové stránky, zalogovali jsme váš přístup a pokud se jedná o chybu, bude brzy opravena.</p>
    </section>
{% endblock %}
