{% extends 'base.html.twig' %}

{% block title %}Ochrana osobních údajů{% endblock %}

{% block content %}
    <article>
        <h2>{{ gdpr.Nadpis }}</h2>
        {{ gdpr.Obsah }}
    </article>
{% endblock %}
