{% extends 'base.html.twig' %}

{% block title %}Ochrana osobních údajů{% endblock %}

{% block content %}
    <div id="SITE_PAGES" class="">
        <div id="SITE_PAGES_TRANSITION_GROUP" class="_2YGAo">
            <div style="max-width: 814px;margin: 45px auto 100px;">
                <div id="as6f6" class="Ry26q">
                    <div class="_3CemL"></div>
                    <div class="_3K7uv">
                        <div id="Containeras6f6" class="_1KV2M">
                            <div data-mesh-id="Containeras6f6inlineContent" data-testid="inline-content" class="">
                                <div data-mesh-id="Containeras6f6inlineContent-gridContainer"
                                     data-testid="mesh-container-content">
                                    <section id="comp-l0qw4sza" class="_3d64y">
                                        <div id="bgLayers_comp-l0qw4sza" data-hook="bgLayers" class="_3wnIc">
                                            <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                                            <div id="bgMedia_comp-l0qw4sza" class="_2GUhU"></div>
                                        </div>
                                        <div data-testid="columns" class="_1uldx">
                                            <div id="comp-l0qw4szc1" class="_1vNJf">
                                                <div id="bgLayers_comp-l0qw4szc1" data-hook="bgLayers" class="_3wnIc">
                                                    <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                                                    <div id="bgMedia_comp-l0qw4szc1" class="_2GUhU"></div>
                                                </div>
                                                <div data-mesh-id="comp-l0qw4szc1inlineContent"
                                                     data-testid="inline-content" class="">
                                                    <div data-mesh-id="comp-l0qw4szc1inlineContent-gridContainer"
                                                         data-testid="mesh-container-content">
                                                        <div id="comp-l11sqizw" style="margin-bottom: 35px;" class="_2Hij5"
                                                             data-testid="richTextElement"><p class="font_8"
                                                                                              style="line-height:1.7em; font-size:14px;">
                                                                Cesta:&nbsp;<span style="text-decoration:underline;"><a
                                                                        href="https://www.obec-kunovice.cz/index.asp"
                                                                        target="_blank" rel="noreferrer noopener">Titulní stránka</a></span>&nbsp;&gt;
                                                                <span style="text-decoration:underline;"><a
                                                                        href="https://www.obec-kunovice.cz/obecni-urad/ds-1112/p1=1006"
                                                                        target="_blank" rel="noreferrer noopener">Úřad&nbsp;</a></span>&gt;&nbsp;<span
                                                                    style="text-decoration:underline;"><a
                                                                        href="https://www.obec-kunovice.cz/dokumenty-obecniho-uradu/ms-60/p1=60"
                                                                        target="_blank" rel="noreferrer noopener">Dokumenty úřadu</a></span>&nbsp;&gt;
                                                                <span
                                                                    style="font-family:wfont_5670fd_68091813929a4b2887ee94c2ac164735,wf_68091813929a4b2887ee94c2a,orig_montserratbold;">Rozpočty</span>
                                                            </p></div>
                                                        <div id="comp-l0qw4sze3" class="_2Hij5"
                                                             data-testid="richTextElement"><h2 class="font_2"
                                                                                               style="font-size:40px;">
                                                                ZÁSADY OCHRANY OSOBNÍCH ÚDAJŮ</h2>

                                                            <p class="font_8" style="font-size:14px;">&nbsp;</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Obecní úřad Čeladná (dále jen „úřad“) v rámci samostatné
                                                                působnosti a přenesené působnosti dle zákona č. 128/2000
                                                                Sb., o obcích, zpracovává osobní údaje týkající se
                                                                subjektů a údajů, kterými jsou převážně občané obce, ale
                                                                také např. zaměstnanci obecního úřadu, osoby, kterým ve
                                                                správním obvodu obce vznikla určitá matriční událost;
                                                                osoby, které vystupují v různých správních řízeních jako
                                                                žadatelé nebo účastníci řízení; další osoby, které s
                                                                obcí určitým způsobem komunikují a žádají o vyřízení
                                                                různých záležitostí. Podobně jsou subjekty údajů
                                                                stanoveny v tabulce s jednotlivými účely zpracování,
                                                                která je součástí přílohy č. 1.</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                <span class="wixGuard">​</span></p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Úřad jako správce osobních údajů nese odpovědnost za
                                                                zpracování osobních údajů a na základě vstupní rozdílové
                                                                analýzy GDPR přijal vhodná technická a organizační
                                                                opatření k zajištění ochrany osobních údajů. Součástí
                                                                těchto opatření je i jmenování pověřence pro ochranu
                                                                osobních údajů.</p>

                                                            <p class="font_8" style="font-size:14px;"><span
                                                                    class="wixGuard">​</span></p>

                                                            <h4 class="font_4" style="font-size:20px;">Identifikace a
                                                                kontaktní údaje správce osobních údajů:</h4>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                &nbsp;</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Obecní úřad Čeladná</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Adresa: Čeladná č. p. 1, 739 12 Čeladná</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                E-mail: <span style="text-decoration:underline;"><a
                                                                        href="mailto:sekreatariat@celadna.cz"
                                                                        target="_self">sekreatariat@celadna.cz</a></span>
                                                            </p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Telefon: 558 684 008</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Datová schránka: 2hmb3aw</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                IČ: 00296571</p>

                                                            <p class="font_8" style="font-size:14px;"><span
                                                                    class="wixGuard">​</span></p>

                                                            <h4 class="font_4" style="font-size:20px;">Kontaktní údaje
                                                                externího pověřence pro ochranu osobních údajů:</h4>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                &nbsp;</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Titul, jméno, příjmení: Ing. Veronika Světlíková</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                E-mail: <span style="text-decoration:underline;"><a
                                                                        href="mailto:celadna@ou-poverenec.cz"
                                                                        target="_self">celadna@ou-poverenec.cz</a></span>
                                                            </p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Telefon: +420 734 103 424</p>

                                                            <p class="font_8" style="font-size:14px;">&nbsp;</p>

                                                            <h4 class="font_4" style="font-size:20px;">Informace o
                                                                rozsahu a účelu zpracování osobních údajů:</h4>

                                                            <p class="font_8" style="font-size:14px;">&nbsp;</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Osobní údaje subjektů údajů jsou zpracovány v souladu se
                                                                zákonem č. 101/2000 sb., o ochraně osobních údajů a o
                                                                změně některých předpisů, ve znění pozdějších předpisů.
                                                                Současně jsou osobní údaje zpracovávány i v souladu s
                                                                nařízením Evropského parlamentu a rady EU č. 2016/679 o
                                                                ochraně fyzických osob v souvislosti se zpracováním
                                                                osobních údajů (GDPR).</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                <span class="wixGuard">​</span></p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Jednotlivé účely zpracování, včetně právních titulů,
                                                                kategorií subjektů údajů, kategorií dotčených osobních
                                                                údajů, specifikace oprávněných zájmů správce (pro
                                                                zpracování, která probíhají na základě tohoto právních
                                                                titulu), informací o případných příjemcích nebo
                                                                kategoriích příjemců osobních údajů, zdrojů osobních
                                                                údajů, jsou uvedeny v tabulce, která je součástí přílohy
                                                                č. 1. Osobní údaje nejsou v rámci žádného účelu
                                                                zpracování předávány do třetích zemí.</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                Informace o době uchovávání údajů v rámci jednotlivých
                                                                účelů budou subjektům údajů k dispozici u správce
                                                                osobních údajů.</p>

                                                            <p class="font_8" style="margin-left:40px; font-size:14px;">
                                                                <span class="wixGuard">​</span></p>

                                                            <h4 class="font_4" style="font-size:20px;">Práva subjektu
                                                                údajů v souvislosti se zpracováním osobních údajů:</h4>

                                                            <p class="font_8" style="font-size:14px;">&nbsp;</p>

                                                            <ol class="font_8"
                                                                style="margin-left:40px; font-size:14px;">
                                                                <li>
                                                                    <p class="font_8" style="font-size:14px;">právo
                                                                        požadovat od správce přístup ke svým osobním
                                                                        údajům;</p>
                                                                </li>
                                                                <li>
                                                                    <p class="font_8" style="font-size:14px;">právo
                                                                        požadovat opravu nepřesných osobních údajů v
                                                                        případě, že osobní údaje zpracované správcem
                                                                        jsou nepřesné;</p>
                                                                </li>
                                                                <li>
                                                                    <p class="font_8" style="font-size:14px;">právo na
                                                                        výmaz osobních údajů v případě, že zpracování
                                                                        není založeno na plnění smlouvy, splnění právní
                                                                        povinnosti správce, či pokud není nezbytné k
                                                                        ochraně oprávněných zájmů správce, a to z
                                                                        důvodu, že:</p>

                                                                    <ul>
                                                                        <li>
                                                                            <p class="font_8" style="font-size:14px;">
                                                                                osobní údaje již nejsou potřebné pro
                                                                                účely, pro které byly shromažďovány;</p>
                                                                        </li>
                                                                        <li>
                                                                            <p class="font_8" style="font-size:14px;">
                                                                                dojde k odvolání souhlasu se zpracováním
                                                                                osobních údajů;</p>
                                                                        </li>
                                                                        <li>
                                                                            <p class="font_8" style="font-size:14px;">
                                                                                dojde ke vznesení námitky proti
                                                                                zpracování;</p>
                                                                        </li>
                                                                        <li>
                                                                            <p class="font_8" style="font-size:14px;">
                                                                                osobní údaje byly zpracovány
                                                                                protiprávně;</p>
                                                                        </li>
                                                                        <li>
                                                                            <p class="font_8" style="font-size:14px;">
                                                                                osobní údaje musí být vymazány ke
                                                                                splnění právní povinnosti, která se na
                                                                                správce vztahuje;</p>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <p class="font_8" style="font-size:14px;">právo
                                                                        požadovat omezení zpracování v případech,
                                                                        kdy:</p>

                                                                    <ul>
                                                                        <li>
                                                                            <p class="font_8" style="font-size:14px;">
                                                                                subjekt údajů popírá přednost osobních
                                                                                údajů, a to na dobu potřebnou k tomu,
                                                                                aby správce mohl přesnost osobních údajů
                                                                                ověřit;</p>
                                                                        </li>
                                                                        <li>
                                                                            <p class="font_8" style="font-size:14px;">
                                                                                zpracování je protiprávní a subjekt
                                                                                údajů odmítá výmaz osobních údajů a žádá
                                                                                místo toho o omezení jejich použití;</p>
                                                                        </li>
                                                                        <li>
                                                                            <p class="font_8" style="font-size:14px;">
                                                                                správce již osobní údaje nepotřebuje pro
                                                                                účely zpracování, ale subjekt údajů je
                                                                                požaduje pro určení, výkon nebo obhajobu
                                                                                právních nároků;</p>
                                                                        </li>
                                                                        <li>
                                                                            <p class="font_8" style="font-size:14px;">
                                                                                subjekt údajů vznesl námitku proti
                                                                                zpracování, dokud nebude ověřeno, zda
                                                                                oprávněné důvody správce převažují nad
                                                                                oprávněnými důvody zaměstnance nebo
                                                                                uchazeče;</p>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                                <li>
                                                                    <p class="font_8" style="font-size:14px;">právo
                                                                        vznést námitku proti zpracování osobních údajů,
                                                                        jestliže je zpracování založeno na oprávněném
                                                                        zájmu správce;</p>
                                                                </li>
                                                                <li>
                                                                    <p class="font_8" style="font-size:14px;">právo
                                                                        kdykoli odvolat souhlas se zpracováním v
                                                                        případech, kdy je zpracování založeno na</p>
                                                                </li>
                                                                <li>
                                                                    <p class="font_8" style="font-size:14px;">souhlasu
                                                                        subjektu údajů, aniž by tím byla dotčena
                                                                        zákonnost zpracování založená na souhlasu
                                                                        uděleném před jeho odvoláním;</p>
                                                                </li>
                                                                <li>
                                                                    <p class="font_8" style="font-size:14px;">právo
                                                                        podat stížnost u dozorového orgánu, kterým je
                                                                        Úřad pro ochranu osobních údajů.</p>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

