{% extends 'base.html.twig' %}

{% block title %}Ochrana osobních údajů{% endblock %}

{% block content %}
    {{ include('_breadcrumb.html.twig', {
        'current': block('title'),
        'items': {},
    }) }}

    <article class="simple-text-section">
        <h2>{{ gdpr.Nadpis }}</h2>

        {{ gdpr.Obsah|markdown_to_html|nl2br }}
    </article>
{% endblock %}
