{% extends 'base.html.twig' %}

{% block title %}Úvod{% endblock %}

{% block content %}
    <div id="SITE_PAGES">
        <div id="SITE_PAGES_TRANSITION_GROUP" class="_2YGAo">
            <div id="tuckg" class="Ry26q">
                <div class="_3CemL"></div>
                <div class="_3K7uv">
                    <div id="Containertuckg" class="_1KV2M">
                        <div data-mesh-id="ContainertuckginlineContent" data-testid="inline-content"
                             class="">
                            <div data-mesh-id="ContainertuckginlineContent-gridContainer"
                                 data-testid="mesh-container-content">
                                <div id="comp-l0hun6aq" class="_2Jgim _3Ebtn ignore-focus" role="region"
                                     tabindex="-1" aria-label="Slideshow">
                                    <button data-testid="prevButton" aria-label="Previous"
                                            class="_3VTyv DdGao">
                                        <svg viewBox="0 0 21 41">
                                            <path
                                                d="M20.3 40.8L0 20.5 20.3.2l.7.7L1.3 20.5 21 40.1z"></path>
                                        </svg>
                                    </button>
                                    <button data-testid="nextButton" aria-label="Next"
                                            class="_3VTyv _2D94o">
                                        <svg viewBox="0 0 21 41">
                                            <path
                                                d="M20.3 40.8L0 20.5 20.3.2l.7.7L1.3 20.5 21 40.1z"></path>
                                        </svg>
                                    </button>
                                    <div data-testid="slidesWrapper" aria-live="polite" class="_9R56T">
                                        <div id="comp-l0r9lg2k" class="_30khq">
                                            <div id="bgLayers_comp-l0r9lg2k" data-hook="bgLayers"
                                                 class="_3wnIc _1FJJ6">
                                                <div data-testid="colorUnderlay"
                                                     class="_3KzuS _3SQN-"></div>
                                                <div id="bgMedia_comp-l0r9lg2k" class="_2GUhU"></div>
                                            </div>
                                            <div class="_2uaqg"></div>
                                            <div data-mesh-id="comp-l0r9lg2kinlineContent"
                                                 data-testid="inline-content" class="">
                                                <div
                                                    data-mesh-id="comp-l0r9lg2kinlineContent-gridContainer"
                                                    data-testid="mesh-container-content">
                                                    <div id="comp-l0r9lg55" class="XUUsC" title="">
                                                        <div data-testid="linkElement" class="xQ_iF">
                                                            <wix-image id="img_comp-l0r9lg55"
                                                                       class="_1-6YJ _1Fe8-"
                                                                       data-image-info="{&quot;containerId&quot;:&quot;comp-l0r9lg55&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:788,&quot;height&quot;:495,&quot;uri&quot;:&quot;5670fd_51f40a6c52164d289d11dad7f2303953~mv2.png&quot;,&quot;name&quot;:&quot;moderni-obec.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                                       data-bg-effect-name=""
                                                                       data-is-svg="false"
                                                                       data-is-svg-mask="false"
                                                                       data-image-zoomed=""
                                                                       data-has-ssr-src=""
                                                                       data-src="https://static.wixstatic.com/media/5670fd_51f40a6c52164d289d11dad7f2303953~mv2.png/v1/fill/w_773,h_495,al_c,enc_auto/moderni-obec.png">
                                                                <img src="/files/moderni-obec.png"
                                                                     alt="moderni-obec.png"
                                                                     style="width: 687px; height: 440px; object-fit: cover; object-position: 50% 50%;">
                                                            </wix-image>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l0r9lg5b" class="XUUsC" title="">
                                                        <div data-testid="linkElement" class="xQ_iF">
                                                            <wix-image id="img_comp-l0r9lg5b"
                                                                       class="_1-6YJ _1Fe8-"
                                                                       data-image-info="{&quot;containerId&quot;:&quot;comp-l0r9lg5b&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:421,&quot;height&quot;:204,&quot;uri&quot;:&quot;5670fd_bc3a3e697e1c41e9b77561aca15b48f5~mv2.png&quot;,&quot;name&quot;:&quot;mrak.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;crop&quot;:{&quot;x&quot;:0,&quot;y&quot;:0,&quot;width&quot;:409,&quot;height&quot;:204,&quot;svgId&quot;:&quot;909695c1e003409ba70b5561666c7c4d.svg&quot;}}}"
                                                                       data-bg-effect-name=""
                                                                       data-is-svg="false"
                                                                       data-is-svg-mask="false"
                                                                       data-image-zoomed=""
                                                                       data-has-ssr-src=""
                                                                       data-src="https://static.wixstatic.com/media/5670fd_bc3a3e697e1c41e9b77561aca15b48f5~mv2.png/v1/crop/x_0,y_0,w_409,h_204/fill/w_571,h_286,al_c,lg_1,enc_auto/mrak.png">
                                                                <img src="/files/mrak.png"
                                                                     alt="mrak.png"
                                                                     style="width: 320px; height: 160px; object-fit: cover; object-position: 50% 50%;">
                                                            </wix-image>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l0r9lg58" class="_2Hij5"
                                                         data-testid="richTextElement"><h1
                                                            class="font_0" style="font-size:60px;"><span
                                                                class="color_11">MODERNÍ OBEC</span>
                                                        </h1></div>
                                                    <div id="comp-l0r9lg5e" class="_2Hij5"
                                                         data-testid="richTextElement"><p class="font_8"
                                                                                          style="line-height:1.7em; font-size:14px;">
                                                            <span class="color_11">Nová éra Čeladné se datuje k roku 2000, kdy bylo v obci otevřeno největší golfové hřiště v ČR a začala výstavba nového centra obce. Od té doby zažívá Čeladná bouřlivý rozvoj a stala se vyhledávaným místem pro bydlení i rekreaci.</span>
                                                        </p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <nav aria-label="Slides" class="_281t-">
                                        <ol class="_2UmXg">
                                            <li aria-current="true"><a
                                                    href="https://lukasrejda13.wixsite.com/#comp-l0r9lg2k"
                                                    aria-label="Kopírovat z Kopírovat z Slide  1"
                                                    class="_3clGI _2HGJH"></a></li>
                                            <li>
                                                <a href="https://lukasrejda13.wixsite.com/#comp-l0hun6c5"
                                                   aria-label="Slide  1" class="_3clGI"></a></li>
                                            <li>
                                                <a href="https://lukasrejda13.wixsite.com/#comp-l0hv1pwv"
                                                   aria-label="Kopírovat z Slide  1" class="_3clGI"></a>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                                <section id="comp-l0hvk7qw" class="_3d64y">
                                    <div id="bgLayers_comp-l0hvk7qw" data-hook="bgLayers"
                                         class="_3wnIc">
                                        <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                                        <div id="bgMedia_comp-l0hvk7qw" class="_2GUhU"></div>
                                    </div>
                                    <div data-testid="columns" class="_1uldx">
                                        <div id="comp-l0hvk7su" class="_1vNJf">
                                            <div id="bgLayers_comp-l0hvk7su" data-hook="bgLayers"
                                                 class="_3wnIc">
                                                <div data-testid="colorUnderlay"
                                                     class="_3KzuS _3SQN-"></div>
                                                <div id="bgMedia_comp-l0hvk7su" class="_2GUhU"></div>
                                            </div>
                                            <div data-mesh-id="comp-l0hvk7suinlineContent"
                                                 data-testid="inline-content" class="">
                                                <div
                                                    data-mesh-id="comp-l0hvk7suinlineContent-gridContainer"
                                                    data-testid="mesh-container-content">
                                                    <div id="comp-l0hvk7vh" class="_2Hij5"
                                                         data-testid="richTextElement"><h2
                                                            class="font_2" style="font-size:40px;"><span
                                                                class="color_11">HLEDÁTE U NÁS?</span>
                                                        </h2></div>
                                                    <section id="comp-l0hvk7t6" class="_3d64y">
                                                        <div id="bgLayers_comp-l0hvk7t6"
                                                             data-hook="bgLayers" class="_3wnIc">
                                                            <div data-testid="colorUnderlay"
                                                                 class="_3KzuS _3SQN-"></div>
                                                            <div id="bgMedia_comp-l0hvk7t6"
                                                                 class="_2GUhU"></div>
                                                        </div>
                                                        <div data-testid="columns" class="_1uldx">
                                                            <div id="comp-l0hvk7tc" class="_1vNJf">
                                                                <div id="bgLayers_comp-l0hvk7tc"
                                                                     data-hook="bgLayers"
                                                                     class="_3wnIc">
                                                                    <div data-testid="colorUnderlay"
                                                                         class="_3KzuS _3SQN-"></div>
                                                                    <div id="bgMedia_comp-l0hvk7tc"
                                                                         class="_2GUhU"></div>
                                                                </div>
                                                                <div
                                                                    data-mesh-id="comp-l0hvk7tcinlineContent"
                                                                    data-testid="inline-content"
                                                                    class="">
                                                                    <div
                                                                        data-mesh-id="comp-l0hvk7tcinlineContent-gridContainer"
                                                                        data-testid="mesh-container-content">
                                                                        <div id="comp-l0hvx160"
                                                                             class="">
                                                                            <div
                                                                                data-testid="svgRoot-comp-l0hvx160"
                                                                                class="_3bLYT _2OIRR">
                                                                                <!--?xml version="1.0" encoding="UTF-8"?-->
                                                                                <svg
                                                                                    preserveAspectRatio="xMidYMid meet"
                                                                                    data-bbox="59.4 37.2 188.6 144.8"
                                                                                    viewBox="59.4 37.2 188.6 144.8"
                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                    data-type="color"
                                                                                    role="presentation"
                                                                                    aria-hidden="true"
                                                                                    aria-labelledby="svgcid-xubbpc-mprbv0">
                                                                                    <title
                                                                                        id="svgcid-xubbpc-mprbv0"></title>
                                                                                    <g>
                                                                                        <path
                                                                                            d="M59.4 109.6c0-46.2 25.6-72.4 60-72.4 34.6 0 60 26.2 60 72.4S154 182 119.4 182c-34.4 0-60-26.2-60-72.4zm87.4 0c0-31.8-11.2-45-27.4-45-16 0-27.2 13.2-27.2 45s11.2 45 27.2 45c16.2 0 27.4-13.2 27.4-45z"
                                                                                            fill="#ffffff"
                                                                                            data-color="1"></path>
                                                                                        <path
                                                                                            d="M248 39.6v140h-32.4v-114h-28v-26H248z"
                                                                                            fill="#ffffff"
                                                                                            data-color="1"></path>
                                                                                    </g>
                                                                                </svg>
                                                                            </div>
                                                                        </div>
                                                                        <div id="comp-l0hw7lax"
                                                                             class="XUUsC" title="">
                                                                            <div
                                                                                data-testid="linkElement"
                                                                                class="xQ_iF">
                                                                                <wix-image
                                                                                    id="img_comp-l0hw7lax"
                                                                                    class="_1-6YJ _1Fe8-"
                                                                                    data-image-info="{&quot;containerId&quot;:&quot;comp-l0hw7lax&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:364,&quot;height&quot;:202,&quot;uri&quot;:&quot;5670fd_9b2fdd0ab54a45d593cde56443ca0e0c~mv2.png&quot;,&quot;name&quot;:&quot;ubytovani.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                                                    data-bg-effect-name=""
                                                                                    data-is-svg="false"
                                                                                    data-is-svg-mask="false"
                                                                                    data-image-zoomed=""
                                                                                    data-has-ssr-src=""
                                                                                    data-src="https://static.wixstatic.com/media/5670fd_9b2fdd0ab54a45d593cde56443ca0e0c~mv2.png/v1/fill/w_510,h_279,al_c,lg_1,enc_auto/ubytovani.png">
                                                                                    <img
                                                                                        src="/files/ubytovani.png"
                                                                                        alt="ubytovani.png"
                                                                                        style="width:279px;height:153px;object-fit:cover;object-position:50% 50%">
                                                                                </wix-image>
                                                                            </div>
                                                                        </div>
                                                                        <div id="comp-l0hvk7tg"
                                                                             class="_2Hij5"
                                                                             data-testid="richTextElement">
                                                                            <h3 class="font_3"
                                                                                style="text-align:center; font-size:30px;">
                                                                                                <span class=""
                                                                                                      style="color:rgb(26, 49, 116);">UBYTOVÁNÍ</span>
                                                                            </h3></div>
                                                                        <div id="comp-l0hwhd8t"><a
                                                                                data-testid="linkElement"
                                                                                href="https://lukasrejda13.wixsite.com/celadna/kde-se-ubytovat"
                                                                                target="_self"
                                                                                class="StylableButton1881452515__root style-l0hwj8nk__root StylableButton1881452515__link"
                                                                                aria-label="Zobrazit">
                                                                                <div
                                                                                    class="StylableButton1881452515__container">
                                                                                                    <span
                                                                                                        class="StylableButton1881452515__label"
                                                                                                        data-testid="stylablebutton-label">Zobrazit</span><span
                                                                                        class="StylableButton1881452515__icon"
                                                                                        aria-hidden="true"
                                                                                        data-testid="stylablebutton-icon"><div><svg
                                                                                                data-bbox="13.05 2.55 33.878 54.8"
                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                viewBox="0 0 60 60">
    <g>
        <path
            d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div>
                                                                            </a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="comp-l0hvk7u5" class="_1vNJf">
                                                                <div id="bgLayers_comp-l0hvk7u5"
                                                                     data-hook="bgLayers"
                                                                     class="_3wnIc">
                                                                    <div data-testid="colorUnderlay"
                                                                         class="_3KzuS _3SQN-"></div>
                                                                    <div id="bgMedia_comp-l0hvk7u5"
                                                                         class="_2GUhU"></div>
                                                                </div>
                                                                <div
                                                                    data-mesh-id="comp-l0hvk7u5inlineContent"
                                                                    data-testid="inline-content"
                                                                    class="">
                                                                    <div
                                                                        data-mesh-id="comp-l0hvk7u5inlineContent-gridContainer"
                                                                        data-testid="mesh-container-content">
                                                                        <div id="comp-l0hw0gvj"
                                                                             class="">
                                                                            <div
                                                                                data-testid="svgRoot-comp-l0hw0gvj"
                                                                                class="_3bLYT _2OIRR">
                                                                                <!--?xml version="1.0" encoding="UTF-8"?-->
                                                                                <svg
                                                                                    preserveAspectRatio="xMidYMid meet"
                                                                                    data-bbox="39.6 37.3 239.2 144.8"
                                                                                    viewBox="39.6 37.3 239.2 144.8"
                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                    data-type="color"
                                                                                    role="presentation"
                                                                                    aria-hidden="true"
                                                                                    aria-labelledby="svgcid--9xykme-mwyopj">
                                                                                    <title
                                                                                        id="svgcid--9xykme-mwyopj"></title>
                                                                                    <g>
                                                                                        <path
                                                                                            d="M39.6 109.7c0-46.2 25.6-72.4 60-72.4 34.6 0 60 26.2 60 72.4s-25.4 72.4-60 72.4c-34.4 0-60-26.2-60-72.4zm87.4 0c0-31.8-11.2-45-27.4-45-16 0-27.2 13.2-27.2 45s11.2 45 27.2 45c16.2 0 27.4-13.2 27.4-45z"
                                                                                            fill="#ffffff"
                                                                                            data-color="1"></path>
                                                                                        <path
                                                                                            d="M278.8 153.3v26.4H173v-21l54-51c12.4-11.8 14.6-19 14.6-25.8 0-11-7.6-17.4-22.4-17.4-12 0-22.2 4.6-29 14l-23.6-15.2c10.8-15.8 30.4-26 55.6-26 31.2 0 52 16 52 41.4 0 13.6-3.8 26-23.4 44.2l-32.2 30.4h60.2z"
                                                                                            fill="#ffffff"
                                                                                            data-color="1"></path>
                                                                                    </g>
                                                                                </svg>
                                                                            </div>
                                                                        </div>
                                                                        <div id="comp-l0hwbkcb"
                                                                             class="XUUsC" title="">
                                                                            <div
                                                                                data-testid="linkElement"
                                                                                class="xQ_iF">
                                                                                <wix-image
                                                                                    id="img_comp-l0hwbkcb"
                                                                                    class="_1-6YJ _1Fe8-"
                                                                                    data-image-info="{&quot;containerId&quot;:&quot;comp-l0hwbkcb&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:347,&quot;height&quot;:121,&quot;uri&quot;:&quot;5670fd_da71120191d343568186bf866eb15550~mv2.png&quot;,&quot;name&quot;:&quot;restaurace.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                                                    data-bg-effect-name=""
                                                                                    data-is-svg="false"
                                                                                    data-is-svg-mask="false"
                                                                                    data-image-zoomed=""
                                                                                    data-has-ssr-src=""
                                                                                    data-src="https://static.wixstatic.com/media/5670fd_da71120191d343568186bf866eb15550~mv2.png/v1/fill/w_486,h_169,al_c,lg_1,enc_auto/restaurace.png">
                                                                                    <img
                                                                                        src="/files/restaurace.png"
                                                                                        alt="restaurace.png"
                                                                                        style="width:310px;height:108px;object-fit:cover;object-position:50% 50%">
                                                                                </wix-image>
                                                                            </div>
                                                                        </div>
                                                                        <div id="comp-l0hvk7uh"
                                                                             class="_1Q9if"
                                                                             data-testid="richTextElement">
                                                                            <h1 class="font_0"
                                                                                style="font-size:16px; text-align:center;">
                                                                                                <span
                                                                                                    style="font-family:futura-lt-w01-light,futura-lt-w05-light,sans-serif;"><span
                                                                                                        style="letter-spacing:0.1em;"><span
                                                                                                            style="color:#FFFFFF;"><span
                                                                                                                style="font-weight:normal;"><span
                                                                                                                    style="font-style:normal;"><span
                                                                                                                        style="font-size:16px;">STORYTELLING</span></span></span></span></span></span>
                                                                            </h1>
                                                                        </div>
                                                                        <div id="comp-l0hwbkco"
                                                                             class="_2Hij5"
                                                                             data-testid="richTextElement">
                                                                            <h3 class="font_3"
                                                                                style="text-align:center; font-size:30px;">
                                                                                <span class="color_19">RESTAURACE</span>
                                                                            </h3></div>
                                                                        <div id="comp-l0hwl2g7"><a
                                                                                data-testid="linkElement"
                                                                                href="https://lukasrejda13.wixsite.com/celadna/kopie-kde-se-ubytovat"
                                                                                target="_self"
                                                                                class="StylableButton1881452515__root style-l0hwl2h1__root StylableButton1881452515__link"
                                                                                aria-label="Zobrazit">
                                                                                <div
                                                                                    class="StylableButton1881452515__container">
                                                                                                    <span
                                                                                                        class="StylableButton1881452515__label"
                                                                                                        data-testid="stylablebutton-label">Zobrazit</span><span
                                                                                        class="StylableButton1881452515__icon"
                                                                                        aria-hidden="true"
                                                                                        data-testid="stylablebutton-icon"><div><svg
                                                                                                data-bbox="13.05 2.55 33.878 54.8"
                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                viewBox="0 0 60 60">
    <g>
        <path
            d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div>
                                                                            </a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="comp-l0hvk7ul" class="_1vNJf">
                                                                <div id="bgLayers_comp-l0hvk7ul"
                                                                     data-hook="bgLayers"
                                                                     class="_3wnIc">
                                                                    <div data-testid="colorUnderlay"
                                                                         class="_3KzuS _3SQN-"></div>
                                                                    <div id="bgMedia_comp-l0hvk7ul"
                                                                         class="_2GUhU"></div>
                                                                </div>
                                                                <div
                                                                    data-mesh-id="comp-l0hvk7ulinlineContent"
                                                                    data-testid="inline-content"
                                                                    class="">
                                                                    <div
                                                                        data-mesh-id="comp-l0hvk7ulinlineContent-gridContainer"
                                                                        data-testid="mesh-container-content">
                                                                        <div id="comp-l0hw0mea"
                                                                             class="">
                                                                            <div
                                                                                data-testid="svgRoot-comp-l0hw0mea"
                                                                                class="_3bLYT _2OIRR">
                                                                                <!--?xml version="1.0" encoding="UTF-8"?-->
                                                                                <svg
                                                                                    preserveAspectRatio="xMidYMid meet"
                                                                                    data-bbox="44.8 37.3 232.2 144.8"
                                                                                    viewBox="44.8 37.3 232.2 144.8"
                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                    data-type="color"
                                                                                    role="presentation"
                                                                                    aria-hidden="true"
                                                                                    aria-labelledby="svgcid-iwvpc1ps1lam">
                                                                                    <title
                                                                                        id="svgcid-iwvpc1ps1lam"></title>
                                                                                    <g>
                                                                                        <path
                                                                                            d="M44.8 109.7c0-46.2 25.6-72.4 60-72.4 34.6 0 60 26.2 60 72.4s-25.4 72.4-60 72.4c-34.4 0-60-26.2-60-72.4zm87.4 0c0-31.8-11.2-45-27.4-45-16 0-27.2 13.2-27.2 45s11.2 45 27.2 45c16.2 0 27.4-13.2 27.4-45z"
                                                                                            fill="#ffffff"
                                                                                            data-color="1"></path>
                                                                                        <path
                                                                                            d="M277 136.9c0 23.6-18.2 45.2-58 45.2-19.6 0-39.8-5.4-53.4-15l12.6-24.8c10.6 8 25.4 12.6 40 12.6 16.2 0 26.2-6.6 26.2-18 0-10.6-7.8-17.2-26.2-17.2h-14.8V98.3l28.8-32.6h-59.6v-26h98v21l-31.6 36c25.2 4 38 19.6 38 40.2z"
                                                                                            fill="#ffffff"
                                                                                            data-color="1"></path>
                                                                                    </g>
                                                                                </svg>
                                                                            </div>
                                                                        </div>
                                                                        <div id="comp-l0hwbuh9"
                                                                             class="XUUsC" title="">
                                                                            <div
                                                                                data-testid="linkElement"
                                                                                class="xQ_iF">
                                                                                <wix-image
                                                                                    id="img_comp-l0hwbuh9"
                                                                                    class="_1-6YJ _1Fe8-"
                                                                                    data-image-info="{&quot;containerId&quot;:&quot;comp-l0hwbuh9&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:399,&quot;height&quot;:190,&quot;uri&quot;:&quot;5670fd_4ddd19b85899437f81e24892b6abfcb6~mv2.png&quot;,&quot;name&quot;:&quot;aktivity.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                                                    data-bg-effect-name=""
                                                                                    data-is-svg="false"
                                                                                    data-is-svg-mask="false"
                                                                                    data-image-zoomed=""
                                                                                    data-has-ssr-src=""
                                                                                    data-src="https://static.wixstatic.com/media/5670fd_4ddd19b85899437f81e24892b6abfcb6~mv2.png/v1/fill/w_559,h_265,al_c,lg_1,enc_auto/aktivity.png">
                                                                                    <img
                                                                                        src="/files/aktivity.png"
                                                                                        alt="aktivity.png"
                                                                                        style="width:303px;height:144px;object-fit:cover;object-position:50% 50%">
                                                                                </wix-image>
                                                                            </div>
                                                                        </div>
                                                                        <div id="comp-l0hvk7ut"
                                                                             class="_1Q9if"
                                                                             data-testid="richTextElement">
                                                                            <h1 class="font_0"
                                                                                style="font-size:16px; text-align:center;">
                                                                                                <span
                                                                                                    style="font-family:futura-lt-w01-light,futura-lt-w05-light,sans-serif;"><span
                                                                                                        style="letter-spacing:0.1em;"><span
                                                                                                            style="color:#FFFFFF;"><span
                                                                                                                style="font-weight:normal;"><span
                                                                                                                    style="font-style:normal;"><span
                                                                                                                        style="font-size:16px;">DESIGN</span></span></span></span></span></span>
                                                                            </h1>
                                                                        </div>
                                                                        <div id="comp-l0hwbugy"
                                                                             class="_2Hij5"
                                                                             data-testid="richTextElement">
                                                                            <h3 class="font_3"
                                                                                style="text-align:center; font-size:30px;">
                                                                                                <span class=""
                                                                                                      style="color:rgb(26, 49, 116);">AKTIVITY</span>
                                                                            </h3></div>
                                                                        <div id="comp-l0hwl6ac">
                                                                            <button type="button"
                                                                                    class="StylableButton1881452515__root style-l0hwl6b1__root"
                                                                                    data-testid="buttonContent"
                                                                                    aria-label="Zobrazit">
                                                                                <div
                                                                                    class="StylableButton1881452515__container">
                                                                                                    <span
                                                                                                        class="StylableButton1881452515__label"
                                                                                                        data-testid="stylablebutton-label">Zobrazit</span><span
                                                                                        class="StylableButton1881452515__icon"
                                                                                        aria-hidden="true"
                                                                                        data-testid="stylablebutton-icon"><div><svg
                                                                                                data-bbox="13.05 2.55 33.878 54.8"
                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                viewBox="0 0 60 60">
    <g>
        <path
            d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="comp-l0hvk7v1" class="_1vNJf">
                                                                <div id="bgLayers_comp-l0hvk7v1"
                                                                     data-hook="bgLayers"
                                                                     class="_3wnIc">
                                                                    <div data-testid="colorUnderlay"
                                                                         class="_3KzuS _3SQN-"></div>
                                                                    <div id="bgMedia_comp-l0hvk7v1"
                                                                         class="_2GUhU"></div>
                                                                </div>
                                                                <div
                                                                    data-mesh-id="comp-l0hvk7v1inlineContent"
                                                                    data-testid="inline-content"
                                                                    class="">
                                                                    <div
                                                                        data-mesh-id="comp-l0hvk7v1inlineContent-gridContainer"
                                                                        data-testid="mesh-container-content">
                                                                        <div id="comp-l0hw0oq5"
                                                                             class="">
                                                                            <div
                                                                                data-testid="svgRoot-comp-l0hw0oq5"
                                                                                class="_3bLYT _2OIRR">
                                                                                <!--?xml version="1.0" encoding="UTF-8"?-->
                                                                                <svg
                                                                                    preserveAspectRatio="xMidYMid meet"
                                                                                    data-bbox="32.5 37.5 259 144.8"
                                                                                    viewBox="32.5 37.5 259 144.8"
                                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                                    data-type="color"
                                                                                    role="presentation"
                                                                                    aria-hidden="true"
                                                                                    aria-labelledby="svgcid-bl6fnstynakz">
                                                                                    <title
                                                                                        id="svgcid-bl6fnstynakz"></title>
                                                                                    <g>
                                                                                        <path
                                                                                            d="M32.5 109.9c0-46.2 25.6-72.4 60-72.4 34.6 0 60 26.2 60 72.4s-25.4 72.4-60 72.4c-34.4 0-60-26.2-60-72.4zm87.4 0c0-31.8-11.2-45-27.4-45-16 0-27.2 13.2-27.2 45s11.2 45 27.2 45c16.2 0 27.4-13.2 27.4-45z"
                                                                                            fill="#ffffff"
                                                                                            data-color="1"></path>
                                                                                        <path
                                                                                            d="M291.5 150.5h-22.8v29.4h-31.6v-29.4h-75.4v-21.8l66-88.8h34l-61.2 84.2h37.6V97.9h30.6v26.2h22.8v26.4z"
                                                                                            fill="#ffffff"
                                                                                            data-color="1"></path>
                                                                                    </g>
                                                                                </svg>
                                                                            </div>
                                                                        </div>
                                                                        <div id="comp-l0hwc044"
                                                                             class="XUUsC" title="">
                                                                            <div
                                                                                data-testid="linkElement"
                                                                                class="xQ_iF">
                                                                                <wix-image
                                                                                    id="img_comp-l0hwc044"
                                                                                    class="_1-6YJ _1Fe8-"
                                                                                    data-image-info="{&quot;containerId&quot;:&quot;comp-l0hwc044&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:350,&quot;height&quot;:171,&quot;uri&quot;:&quot;5670fd_bed13c252e1f4c5f96303e068d79655b~mv2.png&quot;,&quot;name&quot;:&quot;výlety1.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                                                    data-bg-effect-name=""
                                                                                    data-is-svg="false"
                                                                                    data-is-svg-mask="false"
                                                                                    data-image-zoomed=""
                                                                                    data-has-ssr-src=""
                                                                                    data-src="https://static.wixstatic.com/media/5670fd_bed13c252e1f4c5f96303e068d79655b~mv2.png/v1/fill/w_458,h_239,al_c,lg_1,enc_auto/v%C3%BDlety1.png">
                                                                                    <img
                                                                                        src="/files/výlety1.png"
                                                                                        alt="výlety1.png"
                                                                                        style="width:293px;height:153px;object-fit:cover;object-position:50% 50%">
                                                                                </wix-image>
                                                                            </div>
                                                                        </div>
                                                                        <div id="comp-l0hvk7v6"
                                                                             class="_1Q9if"
                                                                             data-testid="richTextElement">
                                                                            <h1 class="font_0"
                                                                                style="font-size:16px; text-align:center;">
                                                                                                <span
                                                                                                    style="font-family:futura-lt-w01-light,futura-lt-w05-light,sans-serif;"><span
                                                                                                        style="letter-spacing:0.1em;"><span
                                                                                                            style="color:#FFFFFF;"><span
                                                                                                                style="font-weight:normal;"><span
                                                                                                                    style="font-style:normal;"><span
                                                                                                                        style="font-size:16px;">CONSULTING</span></span></span></span></span></span>
                                                                            </h1>
                                                                        </div>
                                                                        <div id="comp-l0hwc03s"
                                                                             class="_2Hij5"
                                                                             data-testid="richTextElement">
                                                                            <h3 class="font_3"
                                                                                style="text-align:center; font-size:30px;">
                                                                                                <span class=""
                                                                                                      style="color:rgb(26, 49, 116);">VÝLETY</span>
                                                                            </h3></div>
                                                                        <div id="comp-l0hwld9l">
                                                                            <button type="button"
                                                                                    class="StylableButton1881452515__root style-l0hwldac2__root"
                                                                                    data-testid="buttonContent"
                                                                                    aria-label="Zobrazit">
                                                                                <div
                                                                                    class="StylableButton1881452515__container">
                                                                                                    <span
                                                                                                        class="StylableButton1881452515__label"
                                                                                                        data-testid="stylablebutton-label">Zobrazit</span><span
                                                                                        class="StylableButton1881452515__icon"
                                                                                        aria-hidden="true"
                                                                                        data-testid="stylablebutton-icon"><div><svg
                                                                                                data-bbox="13.05 2.55 33.878 54.8"
                                                                                                xmlns="http://www.w3.org/2000/svg"
                                                                                                viewBox="0 0 60 60">
    <g>
        <path
            d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section id="comp-l0hwmkia" class="_3d64y">
                                    <div id="bgLayers_comp-l0hwmkia" data-hook="bgLayers"
                                         class="_3wnIc">
                                        <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                                        <div id="bgMedia_comp-l0hwmkia" class="_2GUhU"></div>
                                    </div>
                                    <div data-testid="columns" class="_1uldx">
                                        <div id="comp-l0hwmkjc" class="_1vNJf">
                                            <div id="bgLayers_comp-l0hwmkjc" data-hook="bgLayers"
                                                 class="_3wnIc">
                                                <div data-testid="colorUnderlay"
                                                     class="_3KzuS _3SQN-"></div>
                                                <div id="bgMedia_comp-l0hwmkjc" class="_2GUhU"></div>
                                            </div>
                                            <div data-mesh-id="comp-l0hwmkjcinlineContent"
                                                 data-testid="inline-content" class="">
                                                <div
                                                    data-mesh-id="comp-l0hwmkjcinlineContent-gridContainer"
                                                    data-testid="mesh-container-content">
                                                    <div id="comp-l0hwvwfy" class="_2Hij5"
                                                         data-testid="richTextElement"><h2
                                                            class="font_2" style="font-size:40px;"><span
                                                                class="color_30">INFOSERVIS</span></h2>
                                                    </div>
                                                    <div id="comp-l0hwvijm" class="_2Hij5"
                                                         data-testid="richTextElement"><h5
                                                            class="font_5" style="font-size:25px;"><span
                                                                class="color_30">AKTUALITY</span></h5>
                                                    </div>
                                                    <div id="comp-l10armc2" class="_1KV2M">
                                                        <div data-mesh-id="comp-l10armc2inlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div
                                                                data-mesh-id="comp-l10armc2inlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l10aosry" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;">
                                                                        10.2.2022</p></div>
                                                                <div id="comp-l10ao9dp" class="_2Hij5"
                                                                     data-testid="richTextElement"><h6
                                                                        class="font_6"
                                                                        style="font-size:16px;"><span
                                                                            style="text-decoration:underline;">Nadpisek aktuality</span>
                                                                    </h6></div>
                                                                <div id="comp-l10aprih" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;">Na
                                                                        sklonku roku se v areálu bývalé
                                                                        pily v Ostravici otevřelo
                                                                        unikátní kluziště, které bude
                                                                        zájemcům sloužit pravděpodobně
                                                                        až do května.&nbsp;</p></div>
                                                                <div id="comp-l10aqlwv" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;">více
                                                                        informací &gt;&gt;</p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l10aro08" class="_1KV2M">
                                                        <div data-mesh-id="comp-l10aro08inlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div
                                                                data-mesh-id="comp-l10aro08inlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l10aro0u" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;">
                                                                        10.2.2022</p></div>
                                                                <div id="comp-l10aro0q" class="_2Hij5"
                                                                     data-testid="richTextElement"><h6
                                                                        class="font_6"
                                                                        style="font-size:16px;"><span
                                                                            style="text-decoration:underline;">Nadpisek aktuality</span>
                                                                    </h6></div>
                                                                <div id="comp-l10aro0w" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;">Na
                                                                        sklonku roku se v areálu bývalé
                                                                        pily v Ostravici otevřelo
                                                                        unikátní kluziště, které bude
                                                                        zájemcům sloužit pravděpodobně
                                                                        až do května.&nbsp;</p></div>
                                                                <div id="comp-l10aro0x" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;">více
                                                                        informací &gt;&gt;</p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l10arqkf" class="_1KV2M">
                                                        <div data-mesh-id="comp-l10arqkfinlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div
                                                                data-mesh-id="comp-l10arqkfinlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l10arql3" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;">
                                                                        10.2.2022</p></div>
                                                                <div id="comp-l10arql2" class="_2Hij5"
                                                                     data-testid="richTextElement"><h6
                                                                        class="font_6"
                                                                        style="font-size:16px;"><span
                                                                            style="text-decoration:underline;">Nadpisek aktuality</span>
                                                                    </h6></div>
                                                                <div id="comp-l10arql5" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;">Na
                                                                        sklonku roku se v areálu bývalé
                                                                        pily v Ostravici otevřelo
                                                                        unikátní kluziště, které bude
                                                                        zájemcům sloužit pravděpodobně
                                                                        až do května.&nbsp;</p></div>
                                                                <div id="comp-l10arql6" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;">více
                                                                        informací &gt;&gt;</p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l10bfft3"><a data-testid="linkElement"
                                                                               href="https://lukasrejda13.wixsite.com/celadna/kde-se-ubytovat"
                                                                               target="_self"
                                                                               class="StylableButton1881452515__root style-l10bfy8p__root StylableButton1881452515__link"
                                                                               aria-label="Všechny aktuality">
                                                            <div
                                                                class="StylableButton1881452515__container">
                                                                                <span
                                                                                    class="StylableButton1881452515__label"
                                                                                    data-testid="stylablebutton-label">Všechny aktuality</span><span
                                                                    class="StylableButton1881452515__icon"
                                                                    aria-hidden="true"
                                                                    data-testid="stylablebutton-icon"><div><svg
                                                                            data-bbox="13.05 2.55 33.878 54.8"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 60 60">
    <g>
        <path
            d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div>
                                                        </a></div>
                                                    <div id="comp-l0hx7t8f" class="_2Hij5"
                                                         data-testid="richTextElement"><h5
                                                            class="font_5" style="font-size:25px;"><span
                                                                class="color_30"><span><span>​ÚŘEDNÍ DESKA</span></span></span>
                                                        </h5></div>
                                                    <div id="comp-l10bdo3p" class="_1KV2M">
                                                        <div data-mesh-id="comp-l10bdo3pinlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div
                                                                data-mesh-id="comp-l10bdo3pinlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l10b32f8" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:14px;"><span
                                                                            style="font-size:14px;">Zveřejněno od: 10.2.2022&nbsp; do 10.2.022</span>
                                                                    </p></div>
                                                                <div id="comp-l10b91gc" class="_2Hij5"
                                                                     data-testid="richTextElement"><h6
                                                                        class="font_6"
                                                                        style="font-size:20px;"><span
                                                                            style="font-size:20px;"><span
                                                                                style="text-decoration:underline;">Nadpisek aktuality</span></span>
                                                                    </h6></div>
                                                                <div id="comp-l10baqiw" class="">
                                                                    <div
                                                                        data-testid="svgRoot-comp-l10baqiw"
                                                                        class="_3bLYT _2OIRR">
                                                                        <svg preserveAspectRatio="none"
                                                                             data-bbox="17.3 68.2 165.3 63.6"
                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="17.3 68.2 165.3 63.6"
                                                                             role="presentation"
                                                                             aria-hidden="true">
                                                                            <g>
                                                                                <path
                                                                                    d="M182.6 68.2v63.6H17.3V68.2h165.3z"></path>
                                                                            </g>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <div id="comp-l10ba3vp" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;"><span
                                                                            style="font-size:12px;"><span
                                                                                class="color_11">Kategorie</span></span>
                                                                    </p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l10bdp4m" class="_1KV2M">
                                                        <div data-mesh-id="comp-l10bdp4minlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div
                                                                data-mesh-id="comp-l10bdp4minlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l10bdp5a" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:14px;"><span
                                                                            style="font-size:14px;">Zveřejněno od: 10.2.2022&nbsp; do 10.2.022</span>
                                                                    </p></div>
                                                                <div id="comp-l10bdp5c" class="_2Hij5"
                                                                     data-testid="richTextElement"><h6
                                                                        class="font_6"
                                                                        style="font-size:20px;"><span
                                                                            style="font-size:20px;"><span
                                                                                style="text-decoration:underline;">Nadpisek aktuality</span></span>
                                                                    </h6></div>
                                                                <div id="comp-l10bdp5d1" class="">
                                                                    <div
                                                                        data-testid="svgRoot-comp-l10bdp5d1"
                                                                        class="_3bLYT _2OIRR">
                                                                        <svg preserveAspectRatio="none"
                                                                             data-bbox="17.3 68.2 165.3 63.6"
                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="17.3 68.2 165.3 63.6"
                                                                             role="presentation"
                                                                             aria-hidden="true">
                                                                            <g>
                                                                                <path
                                                                                    d="M182.6 68.2v63.6H17.3V68.2h165.3z"></path>
                                                                            </g>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <div id="comp-l10bdp5f1" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;"><span
                                                                            style="font-size:12px;"><span
                                                                                class="color_11">Kategorie</span></span>
                                                                    </p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l10bejap" class="_1KV2M">
                                                        <div data-mesh-id="comp-l10bejapinlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div
                                                                data-mesh-id="comp-l10bejapinlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l10bejbd" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:14px;"><span
                                                                            style="font-size:14px;">Zveřejněno od: 10.2.2022&nbsp; do 10.2.022</span>
                                                                    </p></div>
                                                                <div id="comp-l10bejbf" class="_2Hij5"
                                                                     data-testid="richTextElement"><h6
                                                                        class="font_6"
                                                                        style="font-size:20px;"><span
                                                                            style="font-size:20px;"><span
                                                                                style="text-decoration:underline;">Nadpisek aktuality</span></span>
                                                                    </h6></div>
                                                                <div id="comp-l10bejbh" class="">
                                                                    <div
                                                                        data-testid="svgRoot-comp-l10bejbh"
                                                                        class="_3bLYT _2OIRR">
                                                                        <svg preserveAspectRatio="none"
                                                                             data-bbox="17.3 68.2 165.3 63.6"
                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="17.3 68.2 165.3 63.6"
                                                                             role="presentation"
                                                                             aria-hidden="true">
                                                                            <g>
                                                                                <path
                                                                                    d="M182.6 68.2v63.6H17.3V68.2h165.3z"></path>
                                                                            </g>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <div id="comp-l10bejbj" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;"><span
                                                                            style="font-size:12px;"><span
                                                                                class="color_11">Kategorie</span></span>
                                                                    </p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l10bdraz" class="_1KV2M">
                                                        <div data-mesh-id="comp-l10bdrazinlineContent"
                                                             data-testid="inline-content" class="">
                                                            <div
                                                                data-mesh-id="comp-l10bdrazinlineContent-gridContainer"
                                                                data-testid="mesh-container-content">
                                                                <div id="comp-l10bdrbl" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:14px;"><span
                                                                            style="font-size:14px;">Zveřejněno od: 10.2.2022&nbsp; do 10.2.022</span>
                                                                    </p></div>
                                                                <div id="comp-l10bdrbm2" class="_2Hij5"
                                                                     data-testid="richTextElement"><h6
                                                                        class="font_6"
                                                                        style="font-size:20px;"><span
                                                                            style="font-size:20px;"><span
                                                                                style="text-decoration:underline;">Nadpisek aktuality</span></span>
                                                                    </h6></div>
                                                                <div id="comp-l10bdrbo" class="">
                                                                    <div
                                                                        data-testid="svgRoot-comp-l10bdrbo"
                                                                        class="_3bLYT _2OIRR">
                                                                        <svg preserveAspectRatio="none"
                                                                             data-bbox="17.3 68.2 165.3 63.6"
                                                                             xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="17.3 68.2 165.3 63.6"
                                                                             role="presentation"
                                                                             aria-hidden="true">
                                                                            <g>
                                                                                <path
                                                                                    d="M182.6 68.2v63.6H17.3V68.2h165.3z"></path>
                                                                            </g>
                                                                        </svg>
                                                                    </div>
                                                                </div>
                                                                <div id="comp-l10bdrbq" class="_2Hij5"
                                                                     data-testid="richTextElement"><p
                                                                        class="font_9"
                                                                        style="font-size:12px;"><span
                                                                            style="font-size:12px;"><span
                                                                                class="color_11">Kategorie</span></span>
                                                                    </p></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l10bgbjg"><a data-testid="linkElement"
                                                                               href="https://lukasrejda13.wixsite.com/celadna/kde-se-ubytovat"
                                                                               target="_self"
                                                                               class="StylableButton1881452515__root style-l10bgbk6__root StylableButton1881452515__link"
                                                                               aria-label="Celá úřední deska">
                                                            <div
                                                                class="StylableButton1881452515__container">
                                                                                <span
                                                                                    class="StylableButton1881452515__label"
                                                                                    data-testid="stylablebutton-label">Celá úřední deska</span><span
                                                                    class="StylableButton1881452515__icon"
                                                                    aria-hidden="true"
                                                                    data-testid="stylablebutton-icon"><div><svg
                                                                            data-bbox="13.05 2.55 33.878 54.8"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            viewBox="0 0 60 60">
    <g>
        <path
            d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div>
                                                        </a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
