{% extends 'base.html.twig' %}

{% block title %}Mapa stránek{% endblock %}

{% block content %}
<div style="max-width: 814px;margin: 40px auto 70px;">
    <h2>Mapa stránek</h2>

    <ul>
        <li><a href="#">Odkaz</a></li>
        <li><a href="#">Odkaz</a></li>
        <li><a href="#">Odkaz</a></li>
        <li><a href="#">Odkaz</a></li>
    </ul>
</div>
{% endblock %}

