{% extends 'base.html.twig' %}

{% block title %}Mapa stránek{% endblock %}

{% block content %}
    <h2>Mapa stránek</h2>

    <nav>
        <ul>
            <li><a href="#">Odkaz</a></li>
            <li><a href="#">Odkaz</a></li>

            <ul>
                <li><a href="#">Odkaz</a></li>
                <li><a href="#">Odkaz</a></li>
            </ul>

            <li><a href="#">Odkaz</a></li>
            <li><a href="#">Odkaz</a></li>
        </ul>
    </nav>

{% endblock %}

