{% extends 'base.html.twig' %}

{% block title %}Mapa stránek{% endblock %}

{% block content %}
    {{ include('_breadcrumb.html.twig', {
        'current': block('title'),
        'items': {
            'uredni_deska': 'Úřední deska',
        },
    }) }}

    <h2>Mapa stránek</h2>

    <nav>
        <ul>
            <li><a href="#">Odkaz</a></li>
            <li><a href="#">Odkaz</a></li>

            <ul>
                <li><a href="#">Odkaz</a></li>
                <li><a href="#">Odkaz</a></li>
            </ul>

            <li><a href="#">Odkaz</a></li>
            <li><a href="#">Odkaz</a></li>
        </ul>
    </nav>

{% endblock %}

