{% extends 'base.html.twig' %}

{% block title %}Služby{% endblock %}

{% block content %}
    <style id="css_buvqo">
        [data-mesh-id=comp-l13dn1zkinlineContent]{height:auto;width:100%}[data-mesh-id=comp-l13dn1zkinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:1fr;grid-template-columns:100%}[data-mesh-id=comp-l13dn1zkinlineContent-gridContainer] > [id="comp-l13dn1zv"]{position:relative;margin:46px 0px 32px calc((100% - 490px) * 1);left:-39px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l13dn209inlineContent]{height:auto;width:100%}[data-mesh-id=comp-l13dn209inlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:408px;grid-template-rows:min-content 1fr;grid-template-columns:100%}[data-mesh-id=comp-l13dn209inlineContent-gridContainer] > [id="comp-l13dn20b1"]{position:relative;margin:91px 0px 20px calc((100% - 490px) * 0);left:5px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l13dn209inlineContent-gridContainer] > [id="comp-l13dyenp"]{position:relative;margin:0px 0px 10px calc((100% - 490px) * 0);left:9px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l13dn209inlineContent-gridContainer] > [id="comp-l13uha1n"]{position:relative;margin:0px 0px 10px calc((100% - 490px) * 0);left:161px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l13dn20oinlineContent]{height:auto;width:100%}[data-mesh-id=comp-l13dn20oinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:repeat(2, min-content) 1fr;grid-template-columns:100%}[data-mesh-id=comp-l13dn20oinlineContent-gridContainer] > [id="comp-l13dn20r"]{position:relative;margin:26px 0px 11px calc((100% - 490px) * 0.5);left:30px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l13dn20oinlineContent-gridContainer] > [id="comp-l13dn20t"]{position:relative;margin:0px 0px 17px calc((100% - 490px) * 0.5);left:30px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l13dn20oinlineContent-gridContainer] > [id="comp-l13u8yft"]{position:relative;margin:0px 0px 0px calc((100% - 490px) * 0.5);left:30px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l13dn20yinlineContent]{height:auto;width:100%}[data-mesh-id=comp-l13dn20yinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:repeat(2, min-content) 1fr;grid-template-columns:100%}[data-mesh-id=comp-l13dn20yinlineContent-gridContainer] > [id="comp-l13dn211"]{position:relative;margin:26px 0px 11px calc((100% - 490px) * 0.5);left:30px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l13dn20yinlineContent-gridContainer] > [id="comp-l13dtnmd"]{position:relative;margin:0px 0px 17px calc((100% - 490px) * 0.5);left:30px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l13dn20yinlineContent-gridContainer] > [id="comp-l13uelxq"]{position:relative;margin:0px 0px 0px calc((100% - 490px) * 0.5);left:30px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=ContainerbuvqoinlineContent]{height:auto;width:100%}[data-mesh-id=ContainerbuvqoinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:1436px;grid-template-rows:repeat(2, min-content) 1fr;grid-template-columns:100%;padding-bottom:0px;box-sizing:border-box}[data-mesh-id=ContainerbuvqoinlineContent-gridContainer] > [id="comp-l13dn1ye"]{position:relative;margin:9px 0px 36px calc((100% - 980px) * 0.5);left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=ContainerbuvqoinlineContent-gridContainer] > [id="comp-l13duort"]{position:relative;margin:0px 0px 5px calc((100% - 980px) * 0.5);left:30px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=ContainerbuvqoinlineContent-gridContainer] > [id="comp-l13dn20l1"]{position:relative;margin:0px 0px 0 calc((100% - 980px) * 0.5);left:0px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}#comp-l13duort{width:787px;height:56px}#comp-l13dn1zv{width:514px;height:330px}#comp-l13dn20b1{width:454px;height:66px}#comp-l13dyenp{width:142px;height:40px}#comp-l13uha1n{width:142px;height:40px}#comp-l13dn20r{width:429px;height:28px}#comp-l13dn20t{width:376px;height:34px}#comp-l13u8yft{width:396px;height:189px}#comp-l13dn211{width:429px;height:28px}#comp-l13dtnmd{width:376px;height:34px}#comp-l13uelxq{width:396px;height:189px}#buvqo{left:0;margin-left:0;width:100%;min-width:980px}#comp-l13dn1ye{left:0;margin-left:0;width:100%;min-width:980px}#comp-l13dn20l1{width:980px}#comp-l13dn1zk{width:490px}#comp-l13dn209{width:490px}#comp-l13dn20o{width:490px}#comp-l13dn20y{width:490px}#masterPage{--pinned-layers-in-page:0}
        @font-face {
            font-family: wf_eb01a9d522cd40779f5fa738a;
            src: url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/ttf/file.ttf") format("ttf");
        }
        @font-face {
            font-family: wf_a427613dfdbb49ca9e39c4038;
            src: url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/ttf/file.ttf") format("ttf");
        }
        @font-face {
            font-family: wf_68091813929a4b2887ee94c2a;
            src: url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/ttf/file.ttf") format("ttf");
        }
        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGC3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=h3r77AwDsldr1E_2g4qqGKWUboTb-jS2tyCOQMtm97g&skey=1bdc08fe61c3cc9e&v=v5#Poppins") format("svg");
        }
        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            font-weight: 700;
            src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/rijG6I_IOXJjsH07UEo2mw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/p0A1C4_gK5NzKtuGSwNurQ.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/rATt6MpBkxjRr3sy5fMEDg.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=dvQ6luzB0ViWP07p6fisSw&skey=87759fb096548f6d&v=v5#Poppins") format("svg");
        }
        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            font-style: italic;
            src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=-GlaWpWcSgdVagNuOGuFKd1LKoZ82bBu2f46DhHcs3c&skey=e6f64e60fb8d9268&v=v5#Poppins") format("svg");
        }
        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            font-weight: 700;
            font-style: italic;
            src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=Fm41upUVp7KTKUZhL0PfQZbd9NUM7myrQQz30yPaGQ4&skey=f21d6e783fa43c88&v=v5#Poppins") format("svg");
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAOvWDSHFF.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 700;
            src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOYktMqlap.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 700;
            src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 700;
            src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
            font-display: block;
            font-family:"Bree-W01-Thin-Oblique";
            src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4e33bf74-813a-4818-8313-6ea9039db056.eot?#iefix");
            src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4e33bf74-813a-4818-8313-6ea9039db056.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ceb3b4a3-0083-44ae-95cb-e362f95cc91b.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4d716cea-5ba0-437a-b5a8-89ad159ea2be.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c458fc09-c8dd-4423-9767-e3e27082f155.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/85ffb31e-78ee-4e21-83d8-4313269135a9.svg#85ffb31e-78ee-4e21-83d8-4313269135a9") format("svg");
        }

        #comp-l13duort { --min-height:56px;height:auto }#comp-l13dn1zv { --contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;--height:330px;--width:514px }#comp-l13dn20b1 { height:auto }#comp-l13dn20r { height:auto }#comp-l13dn20t { --min-height:34px;height:auto }#comp-l13dn211 { height:auto }#comp-l13dtnmd { --min-height:34px;height:auto }#buvqo { --param_boolean_previewHover:false;width:auto;min-height:1436px }#comp-l13dn1ye { --bg-gradient:linear-gradient(180deg, #244199 27.58805751800537%, #094527 100%);--bg-overlay-color:transparent;--padding:0px;--margin:0px;min-width:980px;--firstChildMarginTop:-1px;--lastChildMarginBottom:-1px }#comp-l13dn20l1 { --bg-overlay-color:transparent;--bg-gradient:none;--padding:0px;--margin:0px;min-width:980px;--firstChildMarginTop:-1px;--lastChildMarginBottom:-1px }#comp-l13dn1zk { --bg-overlay-color:transparent;--bg-gradient:none;width:100%;--column-width:490px;--column-flex:490 }#comp-l13dn209 { --bg-overlay-color:transparent;--bg-gradient:none;width:100%;--column-width:490px;--column-flex:490 }#comp-l13dn20o { --bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;width:100%;--column-width:490px;--column-flex:490 }#comp-l13dn20y { --bg-overlay-color:rgb(var(--color_11));--bg-gradient:none;width:100%;--column-width:490px;--column-flex:490 }#pageBackground_buvqo { --bg-position:absolute;--bg-overlay-color:rgb(255, 255, 255);--bg-gradient:none;--fill-layer-background-overlay-color:transparent;--fill-layer-background-overlay-position:absolute }/* END STYLABLE DIRECTIVE RULES */

        #comp-l13dyenp .style-l13ugg13__root{
            -st-extends: StylableButton;
            transition: all 0.2s ease, visibility 0s;
            background: rgba(93, 107, 152, 0);
            border: 1px solid #FFFFFF
        }

        /* START STYLABLE DIRECTIVE RULES */

        #comp-l13dyenp .style-l13ugg13__root:hover {
            background: #A9BF04;
        }

        #comp-l13dyenp .style-l13ugg13__root:disabled{
            background: #E2E2E2
        }

        #comp-l13dyenp .style-l13ugg13__root:disabled .StylableButton1881452515__label{
            color: #8F8F8F
        }

        #comp-l13dyenp .style-l13ugg13__root:disabled .StylableButton1881452515__icon{
            fill: #8F8F8F
        }

        #comp-l13dyenp .style-l13ugg13__root .StylableButton1881452515__container{
            transition: inherit
        }

        #comp-l13dyenp .style-l13ugg13__root .StylableButton1881452515__label{
            transition: inherit;
            margin: 0px 4px 0px 0px;
            font-family: bree-w01-thin-oblique,sans-serif;
            font-weight: normal;
            font-style: normal;
            color: #FFFFFF;
            letter-spacing: 0em; font-family: wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight; font-size: 12px; font-weight: normal; font-style: normal;
            font-size: 14px
        }

        #comp-l13dyenp .style-l13ugg13__root .StylableButton1881452515__icon{
            transition: inherit;
            width: 10px;
            height: 10px;
            margin: 0px 0px 0px 4px;
            fill: #FFFFFF;
            display: none;
        }/* END STYLABLE DIRECTIVE RULES */

        #comp-l13uha1n .style-l13uha2k__root{
            -st-extends: StylableButton;
            transition: all 0.2s ease, visibility 0s;
            background: rgba(93, 107, 152, 0);
            border: 1px solid #FFFFFF
        }

        /* START STYLABLE DIRECTIVE RULES */

        #comp-l13uha1n .style-l13uha2k__root:hover {
            background: #A9BF04;
        }

        #comp-l13uha1n .style-l13uha2k__root:disabled{
            background: #E2E2E2
        }

        #comp-l13uha1n .style-l13uha2k__root:disabled .StylableButton1881452515__label{
            color: #8F8F8F
        }

        #comp-l13uha1n .style-l13uha2k__root:disabled .StylableButton1881452515__icon{
            fill: #8F8F8F
        }

        #comp-l13uha1n .style-l13uha2k__root .StylableButton1881452515__container{
            transition: inherit
        }

        #comp-l13uha1n .style-l13uha2k__root .StylableButton1881452515__label{
            transition: inherit;
            margin: 0px 4px 0px 0px;
            font-family: bree-w01-thin-oblique,sans-serif;
            font-weight: normal;
            font-style: normal;
            color: #FFFFFF;
            letter-spacing: 0em; font-family: wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight; font-size: 12px; font-weight: normal; font-style: normal;
            font-size: 14px
        }

        #comp-l13uha1n .style-l13uha2k__root .StylableButton1881452515__icon{
            transition: inherit;
            width: 10px;
            height: 10px;
            margin: 0px 0px 0px 4px;
            fill: #FFFFFF;
            display: none;
        }

    </style>

    <div id="SITE_PAGES"><div id="SITE_PAGES_TRANSITION_GROUP" class="_2YGAo"><div id="buvqo" class="Ry26q"><div class="_3CemL"></div><div class="_3K7uv"><div id="Containerbuvqo" class="_1KV2M"><div data-mesh-id="ContainerbuvqoinlineContent" data-testid="inline-content" class=""><div data-mesh-id="ContainerbuvqoinlineContent-gridContainer" data-testid="mesh-container-content"><section id="comp-l13dn1ye" class="_3d64y"><div id="bgLayers_comp-l13dn1ye" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l13dn1ye" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx"><div id="comp-l13dn1zk" class="_1vNJf"><div id="bgLayers_comp-l13dn1zk" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l13dn1zk" class="_2GUhU"></div></div><div data-mesh-id="comp-l13dn1zkinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l13dn1zkinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l13dn1zv" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-l13dn1zv" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l13dn1zv&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:788,&quot;height&quot;:495,&quot;uri&quot;:&quot;5670fd_eacdc78caf2647ef93a101818c18c0a8~mv2.png&quot;,&quot;name&quot;:&quot;obecni-urad.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/5670fd_eacdc78caf2647ef93a101818c18c0a8~mv2.png/v1/fill/w_771,h_495,al_c,enc_auto/obecni-urad.png"><img src="https://static.wixstatic.com/media/5670fd_eacdc78caf2647ef93a101818c18c0a8~mv2.png/v1/fill/w_771,h_495,al_c,enc_auto/obecni-urad.png" alt="obecni-urad.png" style="width: 514px; height: 330px; object-fit: cover; object-position: 50%;"></wix-image></div></div></div></div></div><div id="comp-l13dn209" class="_1vNJf"><div id="bgLayers_comp-l13dn209" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l13dn209" class="_2GUhU"></div></div><div data-mesh-id="comp-l13dn209inlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l13dn209inlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l13dn20b1" class="_2Hij5" data-testid="richTextElement"><h1 class="font_0" style="font-size:60px;"><span style="color:rgb(255, 255, 255);">SLUŽBY</span></h1></div><div id="comp-l13dyenp"><button type="button" class="StylableButton1881452515__root style-l13ugg13__root" data-testid="buttonContent" aria-label="Tlačítko"><div class="StylableButton1881452515__container"><span class="StylableButton1881452515__label" data-testid="stylablebutton-label">Tlačítko</span><span class="StylableButton1881452515__icon" aria-hidden="true" data-testid="stylablebutton-icon"><div><svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
    <g>
        <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div></button></div><div id="comp-l13uha1n"><button type="button" class="StylableButton1881452515__root style-l13uha2k__root" data-testid="buttonContent" aria-label="Tlačítko"><div class="StylableButton1881452515__container"><span class="StylableButton1881452515__label" data-testid="stylablebutton-label">Tlačítko</span><span class="StylableButton1881452515__icon" aria-hidden="true" data-testid="stylablebutton-icon"><div><svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
    <g>
        <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div></button></div></div></div></div></div></section><div id="comp-l13duort" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="line-height:1.7em; font-size:14px;">Cesta:&nbsp;<span style="text-decoration:underline;"><a href="https://www.obec-kunovice.cz/index.asp" target="_blank" rel="noreferrer noopener">Titulní stránka</a></span>&nbsp;&gt; <span style="text-decoration-line:underline;">Obec</span>&nbsp;&gt; &nbsp;<span style="font-family:wfont_5670fd_68091813929a4b2887ee94c2ac164735,wf_68091813929a4b2887ee94c2a,orig_montserratbold;">Služby</span></p></div><section id="comp-l13dn20l1" class="_3d64y"><div id="bgLayers_comp-l13dn20l1" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l13dn20l1" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx"><div id="comp-l13dn20o" class="_1vNJf"><div id="bgLayers_comp-l13dn20o" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l13dn20o" class="_2GUhU"></div></div><div data-mesh-id="comp-l13dn20oinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l13dn20oinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l13dn20r" class="_2Hij5" data-testid="richTextElement"><h4 class="font_4" style="font-size:20px;"><span class="color_23">PRAKTICKÝ LÉKAŘ</span></h4></div><div id="comp-l13dn20t" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="font-size:15px; line-height:1.7em;"><span style="font-size:15px;"><span class="color_15"><span style="font-family:wfont_5670fd_68091813929a4b2887ee94c2ac164735,wf_68091813929a4b2887ee94c2a,orig_montserratbold;">Tel.:</span>&nbsp;+420 558 684 008</span></span></p></div><div id="comp-l13u8yft" class="_2JOHk" style="overflow: hidden; height: 189px;"><iframe class="_49_rs" title="Table Master" aria-label="Table Master" scrolling="no" src="https://wix-visual-data.appspot.com/index?pageId=buvqo&amp;compId=comp-l13u8yft&amp;viewerCompId=comp-l13u8yft&amp;siteRevision=162&amp;viewMode=site&amp;deviceType=desktop&amp;locale=cs&amp;tz=Europe%2FPrague&amp;regionalLanguage=cs&amp;width=396&amp;height=189&amp;instance=42WkB8RMFXSxR1Pra1WMZiDIxqc9T7vn5bxOHeoc-yE.eyJpbnN0YW5jZUlkIjoiNWVkZWI0NGQtYTk5Mi00ZmFlLWFkZTAtMWRjYWY5MGU0YzkyIiwiYXBwRGVmSWQiOiIxMzQxMzlmMy1mMmEwLTJjMmMtNjkzYy1lZDIyMTY1Y2ZkODQiLCJtZXRhU2l0ZUlkIjoiZGU4NDI0MGQtOTdhZC00YjA4LWJlMjQtMmRhN2I5Mzk0YTQzIiwic2lnbkRhdGUiOiIyMDIyLTA0LTAyVDEzOjM5OjQwLjgzNVoiLCJkZW1vTW9kZSI6ZmFsc2UsImFpZCI6IjU2ZWM0ZGQ2LWM1NTgtNDI0Mi1iYjE4LWE4MzRkZmUzY2EyMiIsImJpVG9rZW4iOiI4MDVhOTA0MC0zZTNmLTA0YTYtMTNjNC0zMDZkNDAzNzA2ZDEiLCJzaXRlT3duZXJJZCI6IjU2NzBmZDgzLThmNzQtNDA5NC1iMzI0LWIyNDEzZDg4N2VmMSJ9&amp;currency=CZK&amp;currentCurrency=CZK&amp;commonConfig=%7B%22brand%22%3A%22wix%22%2C%22bsi%22%3A%22de851b60-c3f3-4a5b-add6-87b63725c1d0%7C2%22%2C%22BSI%22%3A%22de851b60-c3f3-4a5b-add6-87b63725c1d0%7C2%22%7D&amp;vsi=af5827ac-2e5f-42bc-8e3a-6a0085cee9af" allowfullscreen="" allowtransparency="true" allowvr="true" frameborder="0" allow="autoplay;camera;microphone;geolocation;vr"></iframe></div></div></div></div><div id="comp-l13dn20y" class="_1vNJf"><div id="bgLayers_comp-l13dn20y" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l13dn20y" class="_2GUhU"></div></div><div data-mesh-id="comp-l13dn20yinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l13dn20yinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l13dn211" class="_2Hij5" data-testid="richTextElement"><h4 class="font_4" style="font-size:20px;"><span class="color_23">DĚTSKÁ AMBULANCE</span></h4></div><div id="comp-l13dtnmd" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="font-size:15px; line-height:1.7em;"><span style="font-size:15px;"><span class="color_15"><span style="font-family:wfont_5670fd_68091813929a4b2887ee94c2ac164735,wf_68091813929a4b2887ee94c2a,orig_montserratbold;">Tel.:</span>&nbsp;+420 558 684 008</span></span></p></div><div id="comp-l13uelxq" class="_2JOHk" style="overflow: hidden; height: 189px;"><iframe class="_49_rs" title="Table Master" aria-label="Table Master" scrolling="no" src="https://wix-visual-data.appspot.com/index?pageId=buvqo&amp;compId=comp-l13uelxq&amp;viewerCompId=comp-l13uelxq&amp;siteRevision=162&amp;viewMode=site&amp;deviceType=desktop&amp;locale=cs&amp;tz=Europe%2FPrague&amp;regionalLanguage=cs&amp;width=396&amp;height=189&amp;instance=42WkB8RMFXSxR1Pra1WMZiDIxqc9T7vn5bxOHeoc-yE.eyJpbnN0YW5jZUlkIjoiNWVkZWI0NGQtYTk5Mi00ZmFlLWFkZTAtMWRjYWY5MGU0YzkyIiwiYXBwRGVmSWQiOiIxMzQxMzlmMy1mMmEwLTJjMmMtNjkzYy1lZDIyMTY1Y2ZkODQiLCJtZXRhU2l0ZUlkIjoiZGU4NDI0MGQtOTdhZC00YjA4LWJlMjQtMmRhN2I5Mzk0YTQzIiwic2lnbkRhdGUiOiIyMDIyLTA0LTAyVDEzOjM5OjQwLjgzNVoiLCJkZW1vTW9kZSI6ZmFsc2UsImFpZCI6IjU2ZWM0ZGQ2LWM1NTgtNDI0Mi1iYjE4LWE4MzRkZmUzY2EyMiIsImJpVG9rZW4iOiI4MDVhOTA0MC0zZTNmLTA0YTYtMTNjNC0zMDZkNDAzNzA2ZDEiLCJzaXRlT3duZXJJZCI6IjU2NzBmZDgzLThmNzQtNDA5NC1iMzI0LWIyNDEzZDg4N2VmMSJ9&amp;currency=CZK&amp;currentCurrency=CZK&amp;commonConfig=%7B%22brand%22%3A%22wix%22%2C%22bsi%22%3A%22de851b60-c3f3-4a5b-add6-87b63725c1d0%7C2%22%2C%22BSI%22%3A%22de851b60-c3f3-4a5b-add6-87b63725c1d0%7C2%22%7D&amp;vsi=af5827ac-2e5f-42bc-8e3a-6a0085cee9af" allowfullscreen="" allowtransparency="true" allowvr="true" frameborder="0" allow="autoplay;camera;microphone;geolocation;vr"></iframe></div></div></div></div></div></section></div></div></div></div></div></div></div>
{% endblock %}

