{% extends 'base.html.twig' %}

{% block title %}Služby{% endblock %}

{% block content %}
   {{ include('_banner_s_tlacitkama.html.twig', {
       'banner': sluzby.BannerSTlacitkama
   }) }}

    <section class="sluzby-section">
        <div class="sluzby-wrapper">
            {% for sluzba in sluzby.Sluzby %}
                <article>
                    <h3>{{ sluzba.Nadpis }}</h3>

                    <p>{{ sluzba.Telefon }}</p>

                    {{ sluzba.Obsah|markdown_to_html }}
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
