{% extends 'base.html.twig' %}

{% block title %}Historie obce{% endblock %}

{% block content %}
    <p class="sorry-in-progress">Tuto sekci pro vás momentálně intenzivně připravujeme.<br><br>Rozhodně se máte na co těšit!</p>
{% endblock %}


