{% extends 'base.html.twig' %}

{% block title %}Služby{% endblock %}

{% block content %}
   {{ include('_banner_s_tlacitkama.html.twig', {
       'banner': sluzby.BannerSTlacitkama
   }) }}

    <section>
        <article>
            {% for sluzba in sluzby.Sluzby %}
                <h3>{{ sluzba.Nadpis }}</h3>
                <p>{{ sluzba.Telefon }}</p>
                <p>{{ sluzba.Obsah }}</p>
            {% endfor %}
        </article>
    </section>
{% endblock %}
