{% extends 'base.html.twig' %}

{% block title %}Restaurace{% endblock %}

{% block content %}
    <style id="css_kpfz5">
        [data-mesh-id=comp-l0jyy68pinlineContent]{height:auto;width:100%}[data-mesh-id=comp-l0jyy68pinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:repeat(2, min-content) 1fr;grid-template-columns:100%}[data-mesh-id=comp-l0jyy68pinlineContent-gridContainer] > [id="comp-l0jyy693"]{position:relative;margin:45px 0px 13px calc((100% - 980px) * 0.5);left:-107px;grid-area:1 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy68pinlineContent-gridContainer] > [id="comp-l0jyy69a"]{position:relative;margin:107px 0px 23px calc((100% - 980px) * 0.5);left:511px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy68pinlineContent-gridContainer] > [id="comp-l0jyy69f"]{position:relative;margin:0px 0px 10px calc((100% - 980px) * 0.5);left:511px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy69oinlineContent]{height:auto;width:100%}[data-mesh-id=comp-l0jyy69oinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:min-content 1fr;grid-template-columns:100%}[data-mesh-id=comp-l0jyy69oinlineContent-gridContainer] > [id="comp-l0jyy69t"]{position:relative;margin:14px 0px -14px calc((100% - 328px) * 0.5);left:58px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy69oinlineContent-gridContainer] > [id="comp-l0jyy69z"]{position:relative;margin:0px 0px 13px calc((100% - 328px) * 0.5);left:3px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6aminlineContent]{height:auto;width:100%}[data-mesh-id=comp-l0jyy6aminlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:min-content 1fr;grid-template-columns:100%}[data-mesh-id=comp-l0jyy6aminlineContent-gridContainer] > [id="comp-l0jyy6aq"]{position:relative;margin:14px 0px -14px calc((100% - 326px) * 0.5);left:65px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6aminlineContent-gridContainer] > [id="comp-l0jyy6au"]{position:relative;margin:104px 0px 10px calc((100% - 326px) * 0.5);left:3px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6aminlineContent-gridContainer] > [id="comp-l0jyy6ay"]{position:relative;margin:0px 0px 13px calc((100% - 326px) * 0.5);left:1px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6bjinlineContent]{height:auto;width:100%}[data-mesh-id=comp-l0jyy6bjinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:min-content 1fr;grid-template-columns:100%}[data-mesh-id=comp-l0jyy6bjinlineContent-gridContainer] > [id="comp-l0jyy6bo"]{position:relative;margin:14px 0px -14px calc((100% - 326px) * 0.5);left:67px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6bjinlineContent-gridContainer] > [id="comp-l0jyy6bs"]{position:relative;margin:106px 0px 10px calc((100% - 326px) * 0.5);left:2px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6bjinlineContent-gridContainer] > [id="comp-l0jyy6bw"]{position:relative;margin:0px 0px 13px calc((100% - 326px) * 0.5);left:1px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy69zinlineContent]{height:auto;width:307px}[data-mesh-id=comp-l0jyy69zinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:repeat(3, min-content) 1fr;grid-template-columns:100%}[data-mesh-id=comp-l0jyy69zinlineContent-gridContainer] > [id="comp-l0jyy6a2"]{position:relative;margin:0px 0px 22px 0;left:35px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy69zinlineContent-gridContainer] > [id="comp-l0jyy6a6"]{position:relative;margin:0px 0px 15px 0;left:0px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy69zinlineContent-gridContainer] > [id="comp-l0jyy6ac"]{position:relative;margin:0px 0px 22px 0;left:0px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy69zinlineContent-gridContainer] > [id="comp-l0jyy6ag1"]{position:relative;margin:0px 0px 0px 0;left:0px;grid-area:4 / 1 / 5 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6ayinlineContent]{height:auto;width:307px}[data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:repeat(3, min-content) 1fr;grid-template-columns:100%}[data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer] > [id="comp-l0jyy6b1"]{position:relative;margin:0px 0px 22px 0;left:35px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer] > [id="comp-l0jyy6b5"]{position:relative;margin:0px 0px 15px 0;left:0px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer] > [id="comp-l0jyy6ba"]{position:relative;margin:0px 0px 22px 0;left:0px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer] > [id="comp-l0jyy6bf"]{position:relative;margin:0px 0px 0px 0;left:0px;grid-area:4 / 1 / 5 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6bwinlineContent]{height:auto;width:307px}[data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;min-height:auto;grid-template-rows:repeat(3, min-content) 1fr;grid-template-columns:100%}[data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer] > [id="comp-l0jyy6bz"]{position:relative;margin:0px 0px 22px 0;left:35px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer] > [id="comp-l0jyy6c2"]{position:relative;margin:0px 0px 15px 0;left:0px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer] > [id="comp-l0jyy6c7"]{position:relative;margin:0px 0px 22px 0;left:0px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}[data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer] > [id="comp-l0jyy6cc"]{position:relative;margin:0px 0px 0px 0;left:0px;grid-area:4 / 1 / 5 / 2;justify-self:start;align-self:start}[data-mesh-id=Containerkpfz5inlineContent]{height:auto;width:100%}[data-mesh-id=Containerkpfz5inlineContent-gridContainer]{position:static;display:grid;height:auto;width:100%;grid-template-rows:repeat(2, min-content) 1fr;grid-template-columns:100%;padding-bottom:0px;box-sizing:border-box}[data-mesh-id=Containerkpfz5inlineContent-gridContainer] > [id="comp-l0jyy68j"]{position:relative;margin:9px 0px 24px calc((100% - 980px) * 0.5);left:0px;grid-area:1 / 1 / 2 / 2;justify-self:start;align-self:start}[data-mesh-id=Containerkpfz5inlineContent-gridContainer] > [id="comp-l13v9ccd"]{position:relative;margin:0px 0px 15px calc((100% - 980px) * 0.5);left:27px;grid-area:2 / 1 / 3 / 2;justify-self:start;align-self:start}[data-mesh-id=Containerkpfz5inlineContent-gridContainer] > [id="comp-l0jyy69i"]{position:relative;margin:0px 0px 0 calc((100% - 980px) * 0.5);left:0px;grid-area:3 / 1 / 4 / 2;justify-self:start;align-self:start}#comp-l13v9ccd{width:787px;height:56px}#comp-l0jyy693{width:618px;height:397px}#comp-l0jyy69a{width:436px;height:66px}#comp-l0jyy69f{width:370px;height:151px}#comp-l0jyy69t{width:140px;height:108px}#comp-l0jyy6aq{width:178px;height:108px}#comp-l0jyy6au{width:305px;height:22px}#comp-l0jyy6bo{width:173px;height:108px}#comp-l0jyy6bs{width:306px;height:22px}#comp-l0jyy6a2{width:237px;height:130px}#comp-l0jyy6a6{width:307px;height:23px}#comp-l0jyy6ac{width:307px;height:42px}#comp-l0jyy6ag1{width:307px;height:42px}#comp-l0jyy6b1{width:237px;height:130px}#comp-l0jyy6b5{width:307px;height:23px}#comp-l0jyy6ba{width:307px;height:42px}#comp-l0jyy6bf{width:307px;height:42px}#comp-l0jyy6bz{width:237px;height:130px}#comp-l0jyy6c2{width:307px;height:23px}#comp-l0jyy6c7{width:307px;height:42px}#comp-l0jyy6cc{width:307px;height:42px}#kpfz5{left:0;margin-left:0;width:100%;min-width:980px}#comp-l0jyy68j{left:0;margin-left:0;width:100%;min-width:980px}#comp-l0jyy69i{width:980px}#comp-l0jyy68p{width:980px}#comp-l0jyy69o{width:328px}#comp-l0jyy6am{width:326px}#comp-l0jyy6bj{width:326px}#comp-l0jyy69z{width:307px}#comp-l0jyy6ay{width:307px}#comp-l0jyy6bw{width:307px}#masterPage{--pinned-layers-in-page:0}
        @font-face {
            font-family: wf_eb01a9d522cd40779f5fa738a;
            src: url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/ttf/file.ttf") format("ttf");
        }
        @font-face {
            font-family: wf_a427613dfdbb49ca9e39c4038;
            src: url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/ttf/file.ttf") format("ttf");
        }
        @font-face {
            font-display: block;
            font-family:"Futura-LT-W01-Light";
            src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix");
            src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/26091050-06ef-4fd5-b199-21b27c0ed85e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/cca525a8-ad89-43ae-aced-bcb49fb271dc.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/88cc7a39-1834-4468-936a-f3c25b5d81a1.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/14d6bf5d-15f1-4794-b18e-c03fb9a5187e.svg#14d6bf5d-15f1-4794-b18e-c03fb9a5187e") format("svg");
        }
        @font-face {
            font-family: "Futura-LT-W05-Light";
            src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Futura_Complete/v1/FuturaLTW05-LightCondensed.woff2") format("woff2"),
            url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Futura_Complete/v1/FuturaLTW05-LightCondensed.woff") format("woff");
        }
        @font-face {
            font-family: wf_68091813929a4b2887ee94c2a;
            src: url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/ttf/file.ttf") format("ttf");
        }
        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGC3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=h3r77AwDsldr1E_2g4qqGKWUboTb-jS2tyCOQMtm97g&skey=1bdc08fe61c3cc9e&v=v5#Poppins") format("svg");
        }
        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            font-weight: 700;
            src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/rijG6I_IOXJjsH07UEo2mw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/p0A1C4_gK5NzKtuGSwNurQ.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/rATt6MpBkxjRr3sy5fMEDg.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=dvQ6luzB0ViWP07p6fisSw&skey=87759fb096548f6d&v=v5#Poppins") format("svg");
        }
        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            font-style: italic;
            src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=-GlaWpWcSgdVagNuOGuFKd1LKoZ82bBu2f46DhHcs3c&skey=e6f64e60fb8d9268&v=v5#Poppins") format("svg");
        }
        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            font-weight: 700;
            font-style: italic;
            src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=Fm41upUVp7KTKUZhL0PfQZbd9NUM7myrQQz30yPaGQ4&skey=f21d6e783fa43c88&v=v5#Poppins") format("svg");
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAOvWDSHFF.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 700;
            src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOYktMqlap.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 700;
            src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 700;
            src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }
        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }
        @font-face {
            font-display: block;
            font-family:"Bree-W01-Thin-Oblique";
            src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4e33bf74-813a-4818-8313-6ea9039db056.eot?#iefix");
            src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4e33bf74-813a-4818-8313-6ea9039db056.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ceb3b4a3-0083-44ae-95cb-e362f95cc91b.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4d716cea-5ba0-437a-b5a8-89ad159ea2be.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c458fc09-c8dd-4423-9767-e3e27082f155.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/85ffb31e-78ee-4e21-83d8-4313269135a9.svg#85ffb31e-78ee-4e21-83d8-4313269135a9") format("svg");
        }

        #comp-l13v9ccd { --min-height:56px;height:auto }#comp-l0jyy693 { --contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;--height:397px;--width:618px }#comp-l0jyy69a { height:auto }#comp-l0jyy69f { --min-height:151px;height:auto }#comp-l0jyy69t { --stroke-width:0;--fill-opacity:0.5;--stroke:#5E97FF;--stroke-opacity:1;--fill:#E8E6E6 }#comp-l0jyy6aq { --opacity:0.5 }#comp-l0jyy6au { height:auto }#comp-l0jyy6bo { --opacity:0.5 }#comp-l0jyy6bs { height:auto }#comp-l0jyy6a2 { --contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;--height:130px;--width:237px }#comp-l0jyy6a6 { height:auto }#comp-l0jyy6ac { height:auto }#comp-l0jyy6b1 { --contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;--height:130px;--width:237px }#comp-l0jyy6b5 { height:auto }#comp-l0jyy6ba { height:auto }#comp-l0jyy6bz { --contentPaddingLeft:0px;--contentPaddingRight:0px;--contentPaddingTop:0px;--contentPaddingBottom:0px;--height:130px;--width:237px }#comp-l0jyy6c2 { height:auto }#comp-l0jyy6c7 { height:auto }#kpfz5 { --param_boolean_previewHover:false;width:auto; }#comp-l0jyy68j { --bg-overlay-color:transparent;--bg-gradient:none;--padding:0px;--margin:0px;min-width:980px;--firstChildMarginTop:-1px;--lastChildMarginBottom:-1px }#comp-l0jyy69i { --bg-overlay-color:transparent;--bg-gradient:none;--padding:0px;--margin:0px;min-width:980px;--firstChildMarginTop:-1px;--lastChildMarginBottom:-1px }#comp-l0jyy68p { --bg-gradient:linear-gradient(180deg, #244199 0%, #127242 100%);--bg-overlay-color:transparent;width:100%;--column-width:980px;--column-flex:980 }#comp-l0jyy69o { --bg-overlay-color:transparent;--bg-gradient:none;width:100%;--column-width:328px;--column-flex:328 }#comp-l0jyy6am { --bg-overlay-color:transparent;--bg-gradient:none;width:100%;--column-width:326px;--column-flex:326 }#comp-l0jyy6bj { --bg-overlay-color:transparent;--bg-gradient:none;width:100%;--column-width:326px;--column-flex:326 }#pageBackground_kpfz5 { --bg-position:absolute;--bg-overlay-color:rgb(255, 255, 255);--bg-gradient:none;--fill-layer-background-overlay-color:transparent;--fill-layer-background-overlay-position:absolute }/* END STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root{
            -st-extends: StylableButton;
            transition: all 0.2s ease, visibility 0s;
            border: 1px solid #A9BF04;
            border-radius: 40px;
            background: rgba(93, 107, 152, 0)
        }

        /* START STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:hover {
            background: #A9BF04;
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:hover .StylableButton1881452515__label {
            color: #FFFFFF;
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:disabled{
            background: #E2E2E2
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:disabled .StylableButton1881452515__label{
            color: #8F8F8F
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:disabled .StylableButton1881452515__icon{
            fill: #8F8F8F
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root .StylableButton1881452515__container{
            transition: inherit
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root .StylableButton1881452515__label{
            transition: inherit;
            margin: 0px 4px 0px 0px;
            letter-spacing: 0.05em;
            font-family: wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;
            font-weight: normal;
            font-style: normal;
            color: #A9BF04; font-family: wfont_5670fd_68091813929a4b2887ee94c2ac164735,wf_68091813929a4b2887ee94c2a,orig_montserratbold; font-size: 16px; font-weight: normal; font-style: normal;
            font-size: 15px
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root .StylableButton1881452515__icon{
            transition: inherit;
            width: 10px;
            height: 10px;
            margin: 0px 0px 0px 4px;
            fill: #FFFFFF;
            display: none;
        }/* END STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6bf .style-l0jyy6bh__root{
            -st-extends: StylableButton;
            transition: all 0.2s ease, visibility 0s;
            border: 1px solid #A9BF04;
            border-radius: 40px;
            background: rgba(93, 107, 152, 0)
        }

        /* START STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6bf .style-l0jyy6bh__root:hover {
            background: #A9BF04;
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root:hover .StylableButton1881452515__label {
            color: #FFFFFF;
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root:disabled{
            background: #E2E2E2
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root:disabled .StylableButton1881452515__label{
            color: #8F8F8F
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root:disabled .StylableButton1881452515__icon{
            fill: #8F8F8F
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root .StylableButton1881452515__container{
            transition: inherit
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root .StylableButton1881452515__label{
            transition: inherit;
            margin: 0px 4px 0px 0px;
            letter-spacing: 0.05em;
            font-family: wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;
            font-weight: normal;
            font-style: normal;
            color: #A9BF04; font-family: wfont_5670fd_68091813929a4b2887ee94c2ac164735,wf_68091813929a4b2887ee94c2a,orig_montserratbold; font-size: 16px; font-weight: normal; font-style: normal;
            font-size: 15px
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root .StylableButton1881452515__icon{
            transition: inherit;
            width: 10px;
            height: 10px;
            margin: 0px 0px 0px 4px;
            fill: #FFFFFF;
            display: none;
        }/* END STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6cc .style-l0jyy6cd1__root{
            -st-extends: StylableButton;
            transition: all 0.2s ease, visibility 0s;
            border: 1px solid #A9BF04;
            border-radius: 40px;
            background: rgba(93, 107, 152, 0)
        }

        /* START STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6cc .style-l0jyy6cd1__root:hover {
            background: #A9BF04;
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root:hover .StylableButton1881452515__label {
            color: #FFFFFF;
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root:disabled{
            background: #E2E2E2
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root:disabled .StylableButton1881452515__label{
            color: #8F8F8F
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root:disabled .StylableButton1881452515__icon{
            fill: #8F8F8F
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root .StylableButton1881452515__container{
            transition: inherit
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root .StylableButton1881452515__label{
            transition: inherit;
            margin: 0px 4px 0px 0px;
            letter-spacing: 0.05em;
            font-family: wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;
            font-weight: normal;
            font-style: normal;
            color: #A9BF04; font-family: wfont_5670fd_68091813929a4b2887ee94c2ac164735,wf_68091813929a4b2887ee94c2a,orig_montserratbold; font-size: 16px; font-weight: normal; font-style: normal;
            font-size: 15px
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root .StylableButton1881452515__icon{
            transition: inherit;
            width: 10px;
            height: 10px;
            margin: 0px 0px 0px 4px;
            fill: #FFFFFF;
            display: none;
        }

    </style>

    <div id="SITE_PAGES"><div id="SITE_PAGES_TRANSITION_GROUP" class="_2YGAo"><div id="kpfz5" class="Ry26q"><div class="_3CemL"></div><div class="_3K7uv" style="padding-bottom: 50px;"><div id="Containerkpfz5" class="_1KV2M"><div data-mesh-id="Containerkpfz5inlineContent" data-testid="inline-content" class=""><div data-mesh-id="Containerkpfz5inlineContent-gridContainer" data-testid="mesh-container-content"><section id="comp-l0jyy68j" class="_3d64y"><div id="bgLayers_comp-l0jyy68j" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l0jyy68j" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx"><div id="comp-l0jyy68p" class="_1vNJf"><div id="bgLayers_comp-l0jyy68p" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l0jyy68p" class="_2GUhU"></div></div><div data-mesh-id="comp-l0jyy68pinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l0jyy68pinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l0jyy693" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-l0jyy693" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l0jyy693&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:788,&quot;height&quot;:495,&quot;uri&quot;:&quot;5670fd_91f8d3397b434100a56d67969879dfa5~mv2.png&quot;,&quot;name&quot;:&quot;ubytovani_.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/5670fd_91f8d3397b434100a56d67969879dfa5~mv2.png/v1/fill/w_771,h_495,al_c,enc_auto/ubytovani_.png"><img src="https://static.wixstatic.com/media/5670fd_91f8d3397b434100a56d67969879dfa5~mv2.png/v1/fill/w_771,h_495,al_c,enc_auto/ubytovani_.png" alt="ubytovani_.png" style="width:618px;height:397px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-l0jyy69a" class="_2Hij5" data-testid="richTextElement"><h1 class="font_0" style="font-size:60px;"><span style="color:rgb(255, 255, 255);">RESTAURACE</span></h1></div><div id="comp-l0jyy69f" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="line-height:1.7em; font-size:14px;"><span class="" style="color:rgb(255, 255, 255);">Nová éra Čeladné se datuje k roku 2000, kdy bylo v obci otevřeno největší golfové hřiště v ČR a začala výstavba nového centra obce. Od té doby zažívá Čeladná bouřlivý rozvoj a stala se vyhledávaným místem pro bydlení i rekreaci.</span></p></div></div></div></div></div></section><div id="comp-l13v9ccd" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="line-height:1.7em; font-size:14px;">Cesta:&nbsp;<span style="text-decoration:underline;"><a href="https://www.obec-kunovice.cz/index.asp" target="_blank" rel="noreferrer noopener">Titulní stránka</a></span>&nbsp;&gt; <span style="text-decoration:underline;"><a href="https://meet.google.com/xdq-zyqs-pkd" target="_blank" rel="noreferrer noopener">Úřad</a></span>&nbsp;&gt;&nbsp;<span style="text-decoration:underline;"><a href="https://www.obec-kunovice.cz/dokumenty-obecniho-uradu/ms-60/p1=60" target="_blank" rel="noreferrer noopener">Dokumenty úřadu</a></span>&nbsp;&gt; <span style="font-family:wfont_5670fd_68091813929a4b2887ee94c2ac164735,wf_68091813929a4b2887ee94c2a,orig_montserratbold;">Rozpočty</span></p></div><section id="comp-l0jyy69i" class="_3d64y"><div id="bgLayers_comp-l0jyy69i" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l0jyy69i" class="_2GUhU"></div></div><div data-testid="columns" class="_1uldx"><div id="comp-l0jyy69o" class="_1vNJf"><div id="bgLayers_comp-l0jyy69o" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l0jyy69o" class="_2GUhU"></div></div><div data-mesh-id="comp-l0jyy69oinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l0jyy69oinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l0jyy69t" class=""><div data-testid="svgRoot-comp-l0jyy69t" class="_3bLYT _2OIRR"><!--?xml version="1.0" encoding="UTF-8"?-->
                                                            <svg preserveAspectRatio="xMidYMid meet" data-bbox="50.8 35 188.6 144.8" viewBox="50.8 35 188.6 144.8" xmlns="http://www.w3.org/2000/svg" data-type="shape" role="presentation" aria-hidden="true" aria-labelledby="svgcid--1vnzry-eo7w6j"><title id="svgcid--1vnzry-eo7w6j"></title>
                                                                <g>
                                                                    <path d="M50.8 107.4c0-46.2 25.6-72.4 60-72.4 34.6 0 60 26.2 60 72.4s-25.4 72.4-60 72.4c-34.4 0-60-26.2-60-72.4zm87.4 0c0-31.8-11.2-45-27.4-45-16 0-27.2 13.2-27.2 45s11.2 45 27.2 45c16.2 0 27.4-13.2 27.4-45z"></path>
                                                                    <path d="M239.4 37.4v140H207v-114h-28v-26h60.4z"></path>
                                                                    <path d="M50.8 107.4c0-46.2 25.6-72.4 60-72.4 34.6 0 60 26.2 60 72.4s-25.4 72.4-60 72.4c-34.4 0-60-26.2-60-72.4zm87.4 0c0-31.8-11.2-45-27.4-45-16 0-27.2 13.2-27.2 45s11.2 45 27.2 45c16.2 0 27.4-13.2 27.4-45z"></path>
                                                                    <path d="M239.4 37.4v140H207v-114h-28v-26h60.4z"></path>
                                                                </g>
                                                            </svg>
                                                        </div></div><div id="comp-l0jyy69z" class="_1KV2M"><div data-mesh-id="comp-l0jyy69zinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l0jyy69zinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l0jyy6a2" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-l0jyy6a2" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l0jyy6a2&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:5408,&quot;height&quot;:3421,&quot;uri&quot;:&quot;11062b_d03c6889daab4e8b98ee426cecc2950a~mv2.jpg&quot;,&quot;name&quot;:&quot;Nad vodou bungalovy&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/11062b_d03c6889daab4e8b98ee426cecc2950a~mv2.jpg/v1/fill/w_474,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Nad%20vodou%20bungalovy.jpg"><img src="https://static.wixstatic.com/media/11062b_d03c6889daab4e8b98ee426cecc2950a~mv2.jpg/v1/fill/w_474,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Nad%20vodou%20bungalovy.jpg" alt="Nad vodou bungalovy" style="width:237px;height:130px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-l0jyy6a6" class="_2Hij5" data-testid="richTextElement"><h6 class="font_6" style="text-align:center; font-size:16px;"><a href="https://goo.gl/maps/31xQQQB2puWP1Uag8" target="_blank" rel="noreferrer noopener"><span class="color_30"><span style="text-decoration:underline;">Hotel Prosper</span></span></a></h6></div><div id="comp-l0jyy6ac" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="font-size:15px; text-align:center;"><span style="font-family:wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;"><span class="color_30"><span style="font-size:15px;">+420 558 440 311</span></span></span></p>

                                                                    <p class="font_8" style="font-size:15px; text-align:center;"><a href="mailto:recepce@hotel-prosper.cz" target="_self"><span class="color_33"><span style="text-decoration:underline;"><span style="font-family:wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;"><span style="font-size:15px;">recepce@hotel-prosper.cz</span></span></span></span></a></p></div><div id="comp-l0jyy6ag1"><a data-testid="linkElement" href="http://www.hotel-prosper.cz/" target="_blank" rel="noreferrer noopener" class="StylableButton1881452515__root style-l0jyy6aj1__root StylableButton1881452515__link" aria-label="Navštívit web"><div class="StylableButton1881452515__container"><span class="StylableButton1881452515__label" data-testid="stylablebutton-label">Navštívit web</span><span class="StylableButton1881452515__icon" aria-hidden="true" data-testid="stylablebutton-icon"><div><svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
    <g>
        <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div></a></div></div></div></div></div></div></div><div id="comp-l0jyy6am" class="_1vNJf"><div id="bgLayers_comp-l0jyy6am" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l0jyy6am" class="_2GUhU"></div></div><div data-mesh-id="comp-l0jyy6aminlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l0jyy6aminlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l0jyy6aq" class=""><div data-testid="svgRoot-comp-l0jyy6aq" class="_3bLYT _2OIRR"><!--?xml version="1.0" encoding="UTF-8"?-->
                                                            <svg preserveAspectRatio="xMidYMid meet" data-bbox="39.6 37.3 239.2 144.8" viewBox="39.6 37.3 239.2 144.8" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid--z6y34g-ofgjtt"><defs><style>#comp-l0jyy6aq svg [data-color="1"] {fill: #E8E6E6;}</style></defs><title id="svgcid--z6y34g-ofgjtt"></title>
                                                                <g>
                                                                    <path d="M39.6 109.7c0-46.2 25.6-72.4 60-72.4 34.6 0 60 26.2 60 72.4s-25.4 72.4-60 72.4c-34.4 0-60-26.2-60-72.4zm87.4 0c0-31.8-11.2-45-27.4-45-16 0-27.2 13.2-27.2 45s11.2 45 27.2 45c16.2 0 27.4-13.2 27.4-45z" fill="#ffffff" data-color="1"></path>
                                                                    <path d="M278.8 153.3v26.4H173v-21l54-51c12.4-11.8 14.6-19 14.6-25.8 0-11-7.6-17.4-22.4-17.4-12 0-22.2 4.6-29 14l-23.6-15.2c10.8-15.8 30.4-26 55.6-26 31.2 0 52 16 52 41.4 0 13.6-3.8 26-23.4 44.2l-32.2 30.4h60.2z" fill="#ffffff" data-color="1"></path>
                                                                </g>
                                                            </svg>
                                                        </div></div><div id="comp-l0jyy6au" class="_1Q9if" data-testid="richTextElement"><h1 class="font_0" style="font-size:16px; text-align:center;"><span style="font-family:futura-lt-w01-light,futura-lt-w05-light,sans-serif;"><span style="letter-spacing:0.1em;"><span style="color:#FFFFFF;"><span style="font-weight:normal;"><span style="font-style:normal;"><span style="font-size:16px;">STORYTELLING</span></span></span></span></span></span></h1></div><div id="comp-l0jyy6ay" class="_1KV2M"><div data-mesh-id="comp-l0jyy6ayinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l0jyy6ayinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l0jyy6b1" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-l0jyy6b1" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l0jyy6b1&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:5408,&quot;height&quot;:3421,&quot;uri&quot;:&quot;11062b_d03c6889daab4e8b98ee426cecc2950a~mv2.jpg&quot;,&quot;name&quot;:&quot;Nad vodou bungalovy&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/11062b_d03c6889daab4e8b98ee426cecc2950a~mv2.jpg/v1/fill/w_474,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Nad%20vodou%20bungalovy.jpg"><img src="https://static.wixstatic.com/media/11062b_d03c6889daab4e8b98ee426cecc2950a~mv2.jpg/v1/fill/w_474,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Nad%20vodou%20bungalovy.jpg" alt="Nad vodou bungalovy" style="width:237px;height:130px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-l0jyy6b5" class="_2Hij5" data-testid="richTextElement"><h6 class="font_6" style="text-align:center; font-size:16px;"><a href="https://goo.gl/maps/Zj9LAMxePtCzUwJ77" target="_blank" rel="noreferrer noopener"><span class="color_30"><span style="text-decoration:underline;">Golf Čeladná</span></span></a></h6></div><div id="comp-l0jyy6ba" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="font-size:15px; text-align:center;"><span style="font-family:wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;"><span class="color_30"><span style="font-size:15px;">+420 725 217 241</span></span></span></p>

                                                                    <p class="font_8" style="font-size:15px; text-align:center;"><a href="mailto:zimova@restauraceceladna.cz" target="_self"><span class="color_33"><span style="text-decoration:underline;"><span style="font-family:wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;"><span style="font-size:15px;">zimova@restauraceceladna.cz</span></span></span></span></a></p></div><div id="comp-l0jyy6bf"><a data-testid="linkElement" href="https://www.uholubu.com/" target="_blank" rel="noreferrer noopener" class="StylableButton1881452515__root style-l0jyy6bh__root StylableButton1881452515__link" aria-label="Navštívit web"><div class="StylableButton1881452515__container"><span class="StylableButton1881452515__label" data-testid="stylablebutton-label">Navštívit web</span><span class="StylableButton1881452515__icon" aria-hidden="true" data-testid="stylablebutton-icon"><div><svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
    <g>
        <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div></a></div></div></div></div></div></div></div><div id="comp-l0jyy6bj" class="_1vNJf"><div id="bgLayers_comp-l0jyy6bj" data-hook="bgLayers" class="_3wnIc"><div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div><div id="bgMedia_comp-l0jyy6bj" class="_2GUhU"></div></div><div data-mesh-id="comp-l0jyy6bjinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l0jyy6bjinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l0jyy6bo" class=""><div data-testid="svgRoot-comp-l0jyy6bo" class="_3bLYT _2OIRR"><!--?xml version="1.0" encoding="UTF-8"?-->
                                                            <svg preserveAspectRatio="xMidYMid meet" data-bbox="44.8 37.3 232.2 144.8" viewBox="44.8 37.3 232.2 144.8" xmlns="http://www.w3.org/2000/svg" data-type="color" role="presentation" aria-hidden="true" aria-labelledby="svgcid--anx1wm-o8gc03"><defs><style>#comp-l0jyy6bo svg [data-color="1"] {fill: #E8E6E6;}</style></defs><title id="svgcid--anx1wm-o8gc03"></title>
                                                                <g>
                                                                    <path d="M44.8 109.7c0-46.2 25.6-72.4 60-72.4 34.6 0 60 26.2 60 72.4s-25.4 72.4-60 72.4c-34.4 0-60-26.2-60-72.4zm87.4 0c0-31.8-11.2-45-27.4-45-16 0-27.2 13.2-27.2 45s11.2 45 27.2 45c16.2 0 27.4-13.2 27.4-45z" fill="#ffffff" data-color="1"></path>
                                                                    <path d="M277 136.9c0 23.6-18.2 45.2-58 45.2-19.6 0-39.8-5.4-53.4-15l12.6-24.8c10.6 8 25.4 12.6 40 12.6 16.2 0 26.2-6.6 26.2-18 0-10.6-7.8-17.2-26.2-17.2h-14.8V98.3l28.8-32.6h-59.6v-26h98v21l-31.6 36c25.2 4 38 19.6 38 40.2z" fill="#ffffff" data-color="1"></path>
                                                                </g>
                                                            </svg>
                                                        </div></div><div id="comp-l0jyy6bs" class="_1Q9if" data-testid="richTextElement"><h1 class="font_0" style="font-size:16px; text-align:center;"><span style="font-family:futura-lt-w01-light,futura-lt-w05-light,sans-serif;"><span style="letter-spacing:0.1em;"><span style="color:#FFFFFF;"><span style="font-weight:normal;"><span style="font-style:normal;"><span style="font-size:16px;">DESIGN</span></span></span></span></span></span></h1></div><div id="comp-l0jyy6bw" class="_1KV2M"><div data-mesh-id="comp-l0jyy6bwinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l0jyy6bwinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l0jyy6bz" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-l0jyy6bz" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l0jyy6bz&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:5408,&quot;height&quot;:3421,&quot;uri&quot;:&quot;11062b_d03c6889daab4e8b98ee426cecc2950a~mv2.jpg&quot;,&quot;name&quot;:&quot;Nad vodou bungalovy&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/11062b_d03c6889daab4e8b98ee426cecc2950a~mv2.jpg/v1/fill/w_474,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Nad%20vodou%20bungalovy.jpg"><img src="https://static.wixstatic.com/media/11062b_d03c6889daab4e8b98ee426cecc2950a~mv2.jpg/v1/fill/w_474,h_260,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Nad%20vodou%20bungalovy.jpg" alt="Nad vodou bungalovy" style="width:237px;height:130px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-l0jyy6c2" class="_2Hij5" data-testid="richTextElement"><h6 class="font_6" style="text-align:center; font-size:16px;"><a href="https://goo.gl/maps/jRgqrFHPr7HBz12h9" target="_blank" rel="noreferrer noopener"><span class="color_30"><span style="text-decoration:underline;">Beseda cafe&amp;bistro</span></span></a></h6></div><div id="comp-l0jyy6c7" class="_2Hij5" data-testid="richTextElement"><p class="font_8" style="font-size:15px; text-align:center;"><span style="font-family:wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;"><span class="color_30"><span style="font-size:15px;">+420 733 623 033</span></span></span></p>

                                                                    <p class="font_8" style="font-size:15px; text-align:center;"><a href="mailto:info@cafebeseda.cz" target="_self"><span class="color_33"><span style="text-decoration:underline;"><span style="font-family:wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1,wf_a427613dfdbb49ca9e39c4038,orig_montserratlight;"><span style="font-size:15px;">info@cafebeseda.cz</span></span></span></span></a></p></div><div id="comp-l0jyy6cc"><button type="button" class="StylableButton1881452515__root style-l0jyy6cd1__root" data-testid="buttonContent" aria-label="Navštívit web"><div class="StylableButton1881452515__container"><span class="StylableButton1881452515__label" data-testid="stylablebutton-label">Navštívit web</span><span class="StylableButton1881452515__icon" aria-hidden="true" data-testid="stylablebutton-icon"><div><svg data-bbox="13.05 2.55 33.878 54.8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
    <g>
        <path d="M46.5 28.9L20.6 3c-.6-.6-1.6-.6-2.2 0l-4.8 4.8c-.6.6-.6 1.6 0 2.2l19.8 20-19.9 19.9c-.6.6-.6 1.6 0 2.2l4.8 4.8c.6.6 1.6.6 2.2 0l21-21 4.8-4.8c.8-.6.8-1.6.2-2.2z"></path>
    </g>
</svg>
</div></span></div></button></div></div></div></div></div></div></div></div></section></div></div></div></div></div></div></div>
{% endblock %}

