{% extends 'base.html.twig' %}

{% block title %}Ubytování{% endblock %}

{% block content %}
    {{ include('_banner_s_textem.html.twig', {
        'banner': ubytovani.BannerSTextem
    }) }}

    <section>
        <h2>Ubytování</h2>

        {% for ubytovani_objekt in ubytovani.Ubytovani %}
            {{ include('_karta_objektu.html.twig', {
                'objekt': ubytovani_objekt
            }) }}
        {% endfor %}
    </section>
{% endblock %}

