{% extends 'base.html.twig' %}

{% block title %}Ubytování{% endblock %}

{% block content %}
    {{ include('_banner_s_textem.html.twig', {
        'banner': ubytovani.BannerSTextem
    }) }}

    {{ include('_breadcrumb.html.twig', {
        'current': block('title'),
        'items': {
            'obec': 'Obec',
        },
    }) }}

    <section class="objekty-section">
        <div class="objekty-wrapper">
            {% for ubytovani_objekt in ubytovani.Ubytovani %}
                {{ include('_karta_objektu.html.twig', {
                    'objekt': ubytovani_objekt,
                    'number': loop.index,
                }) }}
            {% endfor %}
        </div>
    </section>
{% endblock %}

