{% extends 'base.html.twig' %}

{% block title %}Restaurace{% endblock %}

{% block content %}
    {{ include('_banner_s_textem.html.twig', {
        'banner': restaurace.BannerSTextem
    }) }}

    <section class="objekty-section">
        <div class="objekty-wrapper">
            {% for restaurace_objekt in restaurace.Restaurace %}
                {{ include('_karta_objektu.html.twig', {
                    'objekt': restaurace_objekt
                }) }}
            {% endfor %}
        </div>
    </section>
{% endblock %}

