{% extends 'base.html.twig' %}

{% block title %}Prohlášení o přístupnosti{% endblock %}

{% block content %}
    <article class="simple-text-section">
        <h2>{{ pristupnost.Nadpis }}</h2>

        {{ pristupnost.Obsah|markdown_to_html|nl2br }}
    </article>
{% endblock %}
