{% extends 'base.html.twig' %}

{% block title %}Prohlášení o přístupnosti{% endblock %}

{% block content %}
    <article>
        <h2>{{ pristupnost.Nadpis }}</h2>
        {{ pristupnost.Obsah }}
    </article>
{% endblock %}
