{% extends 'base.html.twig' %}

{% block title %}Samospráva{% endblock %}

{% block content %}
    {% for kategorie in kategorie_samospravy %}
        <h2>{{ kategorie.Nadpis }}</h2>
        <p>{{ kategorie.Obsah }}</p>

        {% for clovek in kategorie.Lide %}
            {{ include('_clovek.html.twig', {
                'full_udaje': false
            }) }}
        {% endfor %}

        {% if kategorie.Uredni_deska %}
            {{ include('_uredni_deska.html.twig', {
                'uredni_deska': kategorie.Uredni_deska
            }) }}
        {% endif %}
    {% endfor %}
{% endblock %}

