{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    {{ include('_banner_s_textem.html.twig', {
      'banner': urad.Banner
    }) }}

    <h3>{{ urad.Sekce_s_dlazdicema.Nadpis }}</h3>
    <p>{{ urad.Sekce_s_dlazdicema.Popis }}</p>

    {% for dlazdice in urad.Sekce_s_dlazdicema.Dlazdice %}
        {{ include('_dlazdice.html.twig') }}
    {% endfor %}
{% endblock %}

