{% extends 'base.html.twig' %}

{% block title %}Kontakty{% endblock %}

{% block content %}
    {{ include('_banner_s_textem.html.twig', {
       'banner': kontakty.Banner
    }) }}

    {{ include('_breadcrumb.html.twig', {
        'current': block('title'),
        'items': {
            'urad': 'Obecní úrad',
        },
    }) }}

    <section class="kontakty-section">
        <article>{{ kontakty.Obsah|markdown_to_html }}</article>

        <h3>Vedení obce</h3>

        {% for clovek in kontakty.Vedeni_obce %}
           {{ include('_clovek.html.twig', {
               'show_email': true,
               'show_telefon': true
           })}}
        {% endfor %}
    </section>
{% endblock %}

