{% extends 'base.html.twig' %}

{% block title %}Kontakty{% endblock %}

{% block content %}
    <style id="css_kpfz5">
        [data-mesh-id=comp-l0jyy68pinlineContent] {
            height: auto;
            width: 100%
        }

        [data-mesh-id=comp-l0jyy68pinlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: auto;
            grid-template-rows:repeat(2, min-content) 1fr;
            grid-template-columns:100%
        }

        [data-mesh-id=comp-l0jyy68pinlineContent-gridContainer] > [id="comp-l0jyy693"] {
            position: relative;
            margin: 45px 0px 13px calc((100% - 980px) * 0.5);
            left: -107px;
            grid-area: 1 / 1 / 4 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy68pinlineContent-gridContainer] > [id="comp-l0jyy69a"] {
            position: relative;
            margin: 107px 0px 23px calc((100% - 980px) * 0.5);
            left: 511px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy68pinlineContent-gridContainer] > [id="comp-l0jyy69f"] {
            position: relative;
            margin: 0px 0px 10px calc((100% - 980px) * 0.5);
            left: 511px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy69oinlineContent] {
            height: auto;
            width: 100%
        }

        [data-mesh-id=comp-l0jyy69oinlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: auto;
            grid-template-rows:min-content 1fr;
            grid-template-columns:100%
        }

        [data-mesh-id=comp-l0jyy69oinlineContent-gridContainer] > [id="comp-l0jyy69t"] {
            position: relative;
            margin: 14px 0px -14px calc((100% - 328px) * 0.5);
            left: 58px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy69oinlineContent-gridContainer] > [id="comp-l0jyy69z"] {
            position: relative;
            margin: 0px 0px 13px calc((100% - 328px) * 0.5);
            left: 3px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6aminlineContent] {
            height: auto;
            width: 100%
        }

        [data-mesh-id=comp-l0jyy6aminlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: auto;
            grid-template-rows:min-content 1fr;
            grid-template-columns:100%
        }

        [data-mesh-id=comp-l0jyy6aminlineContent-gridContainer] > [id="comp-l0jyy6aq"] {
            position: relative;
            margin: 14px 0px -14px calc((100% - 326px) * 0.5);
            left: 65px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6aminlineContent-gridContainer] > [id="comp-l0jyy6au"] {
            position: relative;
            margin: 104px 0px 10px calc((100% - 326px) * 0.5);
            left: 3px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6aminlineContent-gridContainer] > [id="comp-l0jyy6ay"] {
            position: relative;
            margin: 0px 0px 13px calc((100% - 326px) * 0.5);
            left: 1px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6bjinlineContent] {
            height: auto;
            width: 100%
        }

        [data-mesh-id=comp-l0jyy6bjinlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: auto;
            grid-template-rows:min-content 1fr;
            grid-template-columns:100%
        }

        [data-mesh-id=comp-l0jyy6bjinlineContent-gridContainer] > [id="comp-l0jyy6bo"] {
            position: relative;
            margin: 14px 0px -14px calc((100% - 326px) * 0.5);
            left: 67px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6bjinlineContent-gridContainer] > [id="comp-l0jyy6bs"] {
            position: relative;
            margin: 106px 0px 10px calc((100% - 326px) * 0.5);
            left: 2px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6bjinlineContent-gridContainer] > [id="comp-l0jyy6bw"] {
            position: relative;
            margin: 0px 0px 13px calc((100% - 326px) * 0.5);
            left: 1px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy69zinlineContent] {
            height: auto;
            width: 307px
        }

        [data-mesh-id=comp-l0jyy69zinlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: auto;
            grid-template-rows:repeat(3, min-content) 1fr;
            grid-template-columns:100%
        }

        [data-mesh-id=comp-l0jyy69zinlineContent-gridContainer] > [id="comp-l0jyy6a2"] {
            position: relative;
            margin: 0px 0px 22px 0;
            left: 35px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy69zinlineContent-gridContainer] > [id="comp-l0jyy6a6"] {
            position: relative;
            margin: 0px 0px 15px 0;
            left: 0px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy69zinlineContent-gridContainer] > [id="comp-l0jyy6ac"] {
            position: relative;
            margin: 0px 0px 22px 0;
            left: 0px;
            grid-area: 3 / 1 / 4 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy69zinlineContent-gridContainer] > [id="comp-l0jyy6ag1"] {
            position: relative;
            margin: 0px 0px 0px 0;
            left: 0px;
            grid-area: 4 / 1 / 5 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6ayinlineContent] {
            height: auto;
            width: 307px
        }

        [data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: auto;
            grid-template-rows:repeat(3, min-content) 1fr;
            grid-template-columns:100%
        }

        [data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer] > [id="comp-l0jyy6b1"] {
            position: relative;
            margin: 0px 0px 22px 0;
            left: 35px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer] > [id="comp-l0jyy6b5"] {
            position: relative;
            margin: 0px 0px 15px 0;
            left: 0px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer] > [id="comp-l0jyy6ba"] {
            position: relative;
            margin: 0px 0px 22px 0;
            left: 0px;
            grid-area: 3 / 1 / 4 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6ayinlineContent-gridContainer] > [id="comp-l0jyy6bf"] {
            position: relative;
            margin: 0px 0px 0px 0;
            left: 0px;
            grid-area: 4 / 1 / 5 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6bwinlineContent] {
            height: auto;
            width: 307px
        }

        [data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            min-height: auto;
            grid-template-rows:repeat(3, min-content) 1fr;
            grid-template-columns:100%
        }

        [data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer] > [id="comp-l0jyy6bz"] {
            position: relative;
            margin: 0px 0px 22px 0;
            left: 35px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer] > [id="comp-l0jyy6c2"] {
            position: relative;
            margin: 0px 0px 15px 0;
            left: 0px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer] > [id="comp-l0jyy6c7"] {
            position: relative;
            margin: 0px 0px 22px 0;
            left: 0px;
            grid-area: 3 / 1 / 4 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=comp-l0jyy6bwinlineContent-gridContainer] > [id="comp-l0jyy6cc"] {
            position: relative;
            margin: 0px 0px 0px 0;
            left: 0px;
            grid-area: 4 / 1 / 5 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=Containerkpfz5inlineContent] {
            height: auto;
            width: 100%
        }

        [data-mesh-id=Containerkpfz5inlineContent-gridContainer] {
            position: static;
            display: grid;
            height: auto;
            width: 100%;
            grid-template-rows:repeat(2, min-content) 1fr;
            grid-template-columns:100%;
            padding-bottom: 0px;
            box-sizing: border-box
        }

        [data-mesh-id=Containerkpfz5inlineContent-gridContainer] > [id="comp-l0jyy68j"] {
            position: relative;
            margin: 9px 0px 24px calc((100% - 980px) * 0.5);
            left: 0px;
            grid-area: 1 / 1 / 2 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=Containerkpfz5inlineContent-gridContainer] > [id="comp-l13v9ccd"] {
            position: relative;
            margin: 0px 0px 15px calc((100% - 980px) * 0.5);
            left: 27px;
            grid-area: 2 / 1 / 3 / 2;
            justify-self: start;
            align-self: start
        }

        [data-mesh-id=Containerkpfz5inlineContent-gridContainer] > [id="comp-l0jyy69i"] {
            position: relative;
            margin: 0px 0px 0 calc((100% - 980px) * 0.5);
            left: 0px;
            grid-area: 3 / 1 / 4 / 2;
            justify-self: start;
            align-self: start
        }

        #comp-l13v9ccd {
            width: 787px;
            height: 56px
        }

        #comp-l0jyy693 {
            width: 618px;
            height: 397px
        }

        #comp-l0jyy69a {
            width: 436px;
            height: 66px
        }

        #comp-l0jyy69f {
            width: 370px;
            height: 151px
        }

        #comp-l0jyy69t {
            width: 140px;
            height: 108px
        }

        #comp-l0jyy6aq {
            width: 178px;
            height: 108px
        }

        #comp-l0jyy6au {
            width: 305px;
            height: 22px
        }

        #comp-l0jyy6bo {
            width: 173px;
            height: 108px
        }

        #comp-l0jyy6bs {
            width: 306px;
            height: 22px
        }

        #comp-l0jyy6a2 {
            width: 237px;
            height: 130px
        }

        #comp-l0jyy6a6 {
            width: 307px;
            height: 23px
        }

        #comp-l0jyy6ac {
            width: 307px;
            height: 42px
        }

        #comp-l0jyy6ag1 {
            width: 307px;
            height: 42px
        }

        #comp-l0jyy6b1 {
            width: 237px;
            height: 130px
        }

        #comp-l0jyy6b5 {
            width: 307px;
            height: 23px
        }

        #comp-l0jyy6ba {
            width: 307px;
            height: 42px
        }

        #comp-l0jyy6bf {
            width: 307px;
            height: 42px
        }

        #comp-l0jyy6bz {
            width: 237px;
            height: 130px
        }

        #comp-l0jyy6c2 {
            width: 307px;
            height: 23px
        }

        #comp-l0jyy6c7 {
            width: 307px;
            height: 42px
        }

        #comp-l0jyy6cc {
            width: 307px;
            height: 42px
        }

        #kpfz5 {
            left: 0;
            margin-left: 0;
            width: 100%;
            min-width: 980px
        }

        #comp-l0jyy68j {
            left: 0;
            margin-left: 0;
            width: 100%;
            min-width: 980px
        }

        #comp-l0jyy69i {
            width: 980px
        }

        #comp-l0jyy68p {
            width: 980px
        }

        #comp-l0jyy69o {
            width: 328px
        }

        #comp-l0jyy6am {
            width: 326px
        }

        #comp-l0jyy6bj {
            width: 326px
        }

        #comp-l0jyy69z {
            width: 307px
        }

        #comp-l0jyy6ay {
            width: 307px
        }

        #comp-l0jyy6bw {
            width: 307px
        }

        #masterPage {
            --pinned-layers-in-page: 0
        }

        @font-face {
            font-family: wf_eb01a9d522cd40779f5fa738a;
            src: url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/5670fd_eb01a9d522cd40779f5fa738af2d3f2d/ttf/file.ttf") format("ttf");
        }

        @font-face {
            font-family: wf_a427613dfdbb49ca9e39c4038;
            src: url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/5670fd_a427613dfdbb49ca9e39c4038939a3f1/ttf/file.ttf") format("ttf");
        }

        @font-face {
            font-display: block;
            font-family: "Futura-LT-W01-Light";
            src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix");
            src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/26091050-06ef-4fd5-b199-21b27c0ed85e.woff2") format("woff2"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/cca525a8-ad89-43ae-aced-bcb49fb271dc.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/88cc7a39-1834-4468-936a-f3c25b5d81a1.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/14d6bf5d-15f1-4794-b18e-c03fb9a5187e.svg#14d6bf5d-15f1-4794-b18e-c03fb9a5187e") format("svg");
        }

        @font-face {
            font-family: "Futura-LT-W05-Light";
            src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Futura_Complete/v1/FuturaLTW05-LightCondensed.woff2") format("woff2"),
            url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Futura_Complete/v1/FuturaLTW05-LightCondensed.woff") format("woff");
        }

        @font-face {
            font-family: wf_68091813929a4b2887ee94c2a;
            src: url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/woff2/file.woff2") format("woff2"),
            url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/woff/file.woff") format("woff"),
            url("https://static.wixstatic.com/ufonts/5670fd_68091813929a4b2887ee94c2ac164735/ttf/file.ttf") format("ttf");
        }

        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGC3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=h3r77AwDsldr1E_2g4qqGKWUboTb-jS2tyCOQMtm97g&skey=1bdc08fe61c3cc9e&v=v5#Poppins") format("svg");
        }

        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            font-weight: 700;
            src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/rijG6I_IOXJjsH07UEo2mw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/p0A1C4_gK5NzKtuGSwNurQ.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/rATt6MpBkxjRr3sy5fMEDg.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=dvQ6luzB0ViWP07p6fisSw&skey=87759fb096548f6d&v=v5#Poppins") format("svg");
        }

        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            font-style: italic;
            src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=-GlaWpWcSgdVagNuOGuFKd1LKoZ82bBu2f46DhHcs3c&skey=e6f64e60fb8d9268&v=v5#Poppins") format("svg");
        }

        @font-face {
            font-display: block;
            font-family: "Poppins-ExtraLight";
            font-weight: 700;
            font-style: italic;
            src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
            src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=Fm41upUVp7KTKUZhL0PfQZbd9NUM7myrQQz30yPaGQ4&skey=f21d6e783fa43c88&v=v5#Poppins") format("svg");
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAOvWDSHFF.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 400;
            src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 700;
            src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOYktMqlap.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 700;
            src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: italic;
            font-weight: 700;
            src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
            unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
            unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
        }

        @font-face {
            font-display: block;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
            unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
        }

        @font-face {
            font-display: block;
            font-family: "Bree-W01-Thin-Oblique";
            src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4e33bf74-813a-4818-8313-6ea9039db056.eot?#iefix");
            src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4e33bf74-813a-4818-8313-6ea9039db056.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ceb3b4a3-0083-44ae-95cb-e362f95cc91b.woff2") format("woff2"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4d716cea-5ba0-437a-b5a8-89ad159ea2be.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c458fc09-c8dd-4423-9767-e3e27082f155.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/85ffb31e-78ee-4e21-83d8-4313269135a9.svg#85ffb31e-78ee-4e21-83d8-4313269135a9") format("svg");
        }

        #comp-l13v9ccd {
            --min-height: 56px;
            height: auto
        }

        #comp-l0jyy693 {
            --contentPaddingLeft: 0px;
            --contentPaddingRight: 0px;
            --contentPaddingTop: 0px;
            --contentPaddingBottom: 0px;
            --height: 397px;
            --width: 618px
        }

        #comp-l0jyy69a {
            height: auto
        }

        #comp-l0jyy69f {
            --min-height: 151px;
            height: auto
        }

        #comp-l0jyy69t {
            --stroke-width: 0;
            --fill-opacity: 0.5;
            --stroke: #5E97FF;
            --stroke-opacity: 1;
            --fill: #E8E6E6
        }

        #comp-l0jyy6aq {
            --opacity: 0.5
        }

        #comp-l0jyy6au {
            height: auto
        }

        #comp-l0jyy6bo {
            --opacity: 0.5
        }

        #comp-l0jyy6bs {
            height: auto
        }

        #comp-l0jyy6a2 {
            --contentPaddingLeft: 0px;
            --contentPaddingRight: 0px;
            --contentPaddingTop: 0px;
            --contentPaddingBottom: 0px;
            --height: 130px;
            --width: 237px
        }

        #comp-l0jyy6a6 {
            height: auto
        }

        #comp-l0jyy6ac {
            height: auto
        }

        #comp-l0jyy6b1 {
            --contentPaddingLeft: 0px;
            --contentPaddingRight: 0px;
            --contentPaddingTop: 0px;
            --contentPaddingBottom: 0px;
            --height: 130px;
            --width: 237px
        }

        #comp-l0jyy6b5 {
            height: auto
        }

        #comp-l0jyy6ba {
            height: auto
        }

        #comp-l0jyy6bz {
            --contentPaddingLeft: 0px;
            --contentPaddingRight: 0px;
            --contentPaddingTop: 0px;
            --contentPaddingBottom: 0px;
            --height: 130px;
            --width: 237px
        }

        #comp-l0jyy6c2 {
            height: auto
        }

        #comp-l0jyy6c7 {
            height: auto
        }

        #kpfz5 {
            --param_boolean_previewHover: false;
            width: auto;
        }

        #comp-l0jyy68j {
            --bg-overlay-color: transparent;
            --bg-gradient: none;
            --padding: 0px;
            --margin: 0px;
            min-width: 980px;
            --firstChildMarginTop: -1px;
            --lastChildMarginBottom: -1px
        }

        #comp-l0jyy69i {
            --bg-overlay-color: transparent;
            --bg-gradient: none;
            --padding: 0px;
            --margin: 0px;
            min-width: 980px;
            --firstChildMarginTop: -1px;
            --lastChildMarginBottom: -1px
        }

        #comp-l0jyy68p {
            --bg-gradient: linear-gradient(180deg, #244199 0%, #127242 100%);
            --bg-overlay-color: transparent;
            width: 100%;
            --column-width: 980px;
            --column-flex: 980
        }

        #comp-l0jyy69o {
            --bg-overlay-color: transparent;
            --bg-gradient: none;
            width: 100%;
            --column-width: 328px;
            --column-flex: 328
        }

        #comp-l0jyy6am {
            --bg-overlay-color: transparent;
            --bg-gradient: none;
            width: 100%;
            --column-width: 326px;
            --column-flex: 326
        }

        #comp-l0jyy6bj {
            --bg-overlay-color: transparent;
            --bg-gradient: none;
            width: 100%;
            --column-width: 326px;
            --column-flex: 326
        }

        #pageBackground_kpfz5 {
            --bg-position: absolute;
            --bg-overlay-color: rgb(255, 255, 255);
            --bg-gradient: none;
            --fill-layer-background-overlay-color: transparent;
            --fill-layer-background-overlay-position: absolute
        }

        /* END STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root {
            -st-extends: StylableButton;
            transition: all 0.2s ease, visibility 0s;
            border: 1px solid #A9BF04;
            border-radius: 40px;
            background: rgba(93, 107, 152, 0)
        }

        /* START STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:hover {
            background: #A9BF04;
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:hover .StylableButton1881452515__label {
            color: #FFFFFF;
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:disabled {
            background: #E2E2E2
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:disabled .StylableButton1881452515__label {
            color: #8F8F8F
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root:disabled .StylableButton1881452515__icon {
            fill: #8F8F8F
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root .StylableButton1881452515__container {
            transition: inherit
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root .StylableButton1881452515__label {
            transition: inherit;
            margin: 0px 4px 0px 0px;
            letter-spacing: 0.05em;
            font-family: wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1, wf_a427613dfdbb49ca9e39c4038, orig_montserratlight;
            font-weight: normal;
            font-style: normal;
            color: #A9BF04;
            font-family: wfont_5670fd_68091813929a4b2887ee94c2ac164735, wf_68091813929a4b2887ee94c2a, orig_montserratbold;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-size: 15px
        }

        #comp-l0jyy6ag1 .style-l0jyy6aj1__root .StylableButton1881452515__icon {
            transition: inherit;
            width: 10px;
            height: 10px;
            margin: 0px 0px 0px 4px;
            fill: #FFFFFF;
            display: none;
        }

        /* END STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6bf .style-l0jyy6bh__root {
            -st-extends: StylableButton;
            transition: all 0.2s ease, visibility 0s;
            border: 1px solid #A9BF04;
            border-radius: 40px;
            background: rgba(93, 107, 152, 0)
        }

        /* START STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6bf .style-l0jyy6bh__root:hover {
            background: #A9BF04;
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root:hover .StylableButton1881452515__label {
            color: #FFFFFF;
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root:disabled {
            background: #E2E2E2
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root:disabled .StylableButton1881452515__label {
            color: #8F8F8F
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root:disabled .StylableButton1881452515__icon {
            fill: #8F8F8F
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root .StylableButton1881452515__container {
            transition: inherit
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root .StylableButton1881452515__label {
            transition: inherit;
            margin: 0px 4px 0px 0px;
            letter-spacing: 0.05em;
            font-family: wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1, wf_a427613dfdbb49ca9e39c4038, orig_montserratlight;
            font-weight: normal;
            font-style: normal;
            color: #A9BF04;
            font-family: wfont_5670fd_68091813929a4b2887ee94c2ac164735, wf_68091813929a4b2887ee94c2a, orig_montserratbold;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-size: 15px
        }

        #comp-l0jyy6bf .style-l0jyy6bh__root .StylableButton1881452515__icon {
            transition: inherit;
            width: 10px;
            height: 10px;
            margin: 0px 0px 0px 4px;
            fill: #FFFFFF;
            display: none;
        }

        /* END STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6cc .style-l0jyy6cd1__root {
            -st-extends: StylableButton;
            transition: all 0.2s ease, visibility 0s;
            border: 1px solid #A9BF04;
            border-radius: 40px;
            background: rgba(93, 107, 152, 0)
        }

        /* START STYLABLE DIRECTIVE RULES */

        #comp-l0jyy6cc .style-l0jyy6cd1__root:hover {
            background: #A9BF04;
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root:hover .StylableButton1881452515__label {
            color: #FFFFFF;
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root:disabled {
            background: #E2E2E2
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root:disabled .StylableButton1881452515__label {
            color: #8F8F8F
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root:disabled .StylableButton1881452515__icon {
            fill: #8F8F8F
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root .StylableButton1881452515__container {
            transition: inherit
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root .StylableButton1881452515__label {
            transition: inherit;
            margin: 0px 4px 0px 0px;
            letter-spacing: 0.05em;
            font-family: wfont_5670fd_a427613dfdbb49ca9e39c4038939a3f1, wf_a427613dfdbb49ca9e39c4038, orig_montserratlight;
            font-weight: normal;
            font-style: normal;
            color: #A9BF04;
            font-family: wfont_5670fd_68091813929a4b2887ee94c2ac164735, wf_68091813929a4b2887ee94c2a, orig_montserratbold;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-size: 15px
        }

        #comp-l0jyy6cc .style-l0jyy6cd1__root .StylableButton1881452515__icon {
            transition: inherit;
            width: 10px;
            height: 10px;
            margin: 0px 0px 0px 4px;
            fill: #FFFFFF;
            display: none;
        }

    </style>

    <div id="SITE_PAGES">
        <div id="SITE_PAGES_TRANSITION_GROUP" class="_2YGAo">
            <div id="kpfz5" class="Ry26q">
                <div class="_3CemL"></div>
                <div class="_3K7uv" style="padding-bottom: 50px;">
                    <div id="Containerkpfz5" class="_1KV2M">
                        <div data-mesh-id="Containerkpfz5inlineContent" data-testid="inline-content" class="">
                            <div data-mesh-id="Containerkpfz5inlineContent-gridContainer"
                                 data-testid="mesh-container-content">
                                <section id="comp-l0jyy68j" class="_3d64y">
                                    <div id="bgLayers_comp-l0jyy68j" data-hook="bgLayers" class="_3wnIc">
                                        <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                                        <div id="bgMedia_comp-l0jyy68j" class="_2GUhU"></div>
                                    </div>
                                    <div data-testid="columns" class="_1uldx">
                                        <div id="comp-l0jyy68p" class="_1vNJf">
                                            <div id="bgLayers_comp-l0jyy68p" data-hook="bgLayers" class="_3wnIc">
                                                <div data-testid="colorUnderlay" class="_3KzuS _3SQN-"></div>
                                                <div id="bgMedia_comp-l0jyy68p" class="_2GUhU"></div>
                                            </div>
                                            <div data-mesh-id="comp-l0jyy68pinlineContent" data-testid="inline-content"
                                                 class="">
                                                <div data-mesh-id="comp-l0jyy68pinlineContent-gridContainer"
                                                     data-testid="mesh-container-content">
                                                    <div id="comp-l0jyy693" class="XUUsC" title="">
                                                        <div data-testid="linkElement" class="xQ_iF">
                                                            <wix-image id="img_comp-l0jyy693" class="_1-6YJ _1Fe8-"
                                                                       data-image-info="{&quot;containerId&quot;:&quot;comp-l0jyy693&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:788,&quot;height&quot;:495,&quot;uri&quot;:&quot;5670fd_91f8d3397b434100a56d67969879dfa5~mv2.png&quot;,&quot;name&quot;:&quot;ubytovani_.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                                                                       data-bg-effect-name="" data-is-svg="false"
                                                                       data-is-svg-mask="false" data-image-zoomed=""
                                                                       data-has-ssr-src=""
                                                                       data-src="https://static.wixstatic.com/media/5670fd_91f8d3397b434100a56d67969879dfa5~mv2.png/v1/fill/w_771,h_495,al_c,enc_auto/ubytovani_.png">
                                                                <img
                                                                    src="https://static.wixstatic.com/media/5670fd_91f8d3397b434100a56d67969879dfa5~mv2.png/v1/fill/w_771,h_495,al_c,enc_auto/ubytovani_.png"
                                                                    alt="ubytovani_.png"
                                                                    style="width:618px;height:397px;object-fit:cover;object-position:50% 50%">
                                                            </wix-image>
                                                        </div>
                                                    </div>
                                                    <div id="comp-l0jyy69a" class="_2Hij5"
                                                         data-testid="richTextElement"><h1 class="font_0"
                                                                                           style="font-size:60px;"><span
                                                                style="color:rgb(255, 255, 255);">Kontakty</span></h1>
                                                    </div>
                                                    <div id="comp-l0jyy69f" class="_2Hij5"
                                                         data-testid="richTextElement"><p class="font_8"
                                                                                          style="line-height:1.7em; font-size:14px;">
                                                            <span class="" style="color:rgb(255, 255, 255);">Nová éra Čeladné se datuje k roku 2000, kdy bylo v obci otevřeno největší golfové hřiště v ČR a začala výstavba nového centra obce. Od té doby zažívá Čeladná bouřlivý rozvoj a stala se vyhledávaným místem pro bydlení i rekreaci.</span>
                                                        </p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <p>Text</p>
                                <section>
                                    <div id="comp-l11rm2gf" class="_1KV2M"><div data-mesh-id="comp-l11rm2gfinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l11rm2gfinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l11rcu5u" class="_2Hij5" data-testid="richTextElement"><h3 class="font_3" style="font-size:30px;"><span class="color_23">Vedení obce</span></h3></div><div id="comp-l11rlcsz" class="_2UdPt"></div></div></div></div>
                                    <div id="comp-l121fz5c" class="_1KV2M"><div data-mesh-id="comp-l121fz5cinlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l121fz5cinlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l11r2lig" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-l11r2lig" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l11r2lig&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:105,&quot;height&quot;:105,&quot;uri&quot;:&quot;5670fd_901a26389dff4e73b604639f0140a540~mv2.png&quot;,&quot;name&quot;:&quot;User.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/5670fd_901a26389dff4e73b604639f0140a540~mv2.png/v1/fill/w_146,h_146,al_c,lg_1,enc_auto/User.png"><img src="https://static.wixstatic.com/media/5670fd_901a26389dff4e73b604639f0140a540~mv2.png/v1/fill/w_146,h_146,al_c,lg_1,enc_auto/User.png" alt="User.png" style="width:73px;height:73px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-l11r2lij" class="_2Hij5" data-testid="richTextElement"><h4 class="font_4" style="font-size:20px;">Pavol Lukša</h4></div><div id="comp-l11r2lih2" class="_2Hij5" data-testid="richTextElement"><h5 class="font_5" style="font-size:15px;"><span style="font-size:15px;">Starosta</span></h5></div></div></div></div>
                                    <div id="comp-l11rtlbm" class="_1KV2M"><div data-mesh-id="comp-l11rtlbminlineContent" data-testid="inline-content" class=""><div data-mesh-id="comp-l11rtlbminlineContent-gridContainer" data-testid="mesh-container-content"><div id="comp-l11rgdfk" class="XUUsC" title=""><div data-testid="linkElement" class="xQ_iF"><wix-image id="img_comp-l11rgdfk" class="_1-6YJ _1Fe8-" data-image-info="{&quot;containerId&quot;:&quot;comp-l11rgdfk&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:105,&quot;height&quot;:105,&quot;uri&quot;:&quot;5670fd_901a26389dff4e73b604639f0140a540~mv2.png&quot;,&quot;name&quot;:&quot;User.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/5670fd_901a26389dff4e73b604639f0140a540~mv2.png/v1/fill/w_146,h_146,al_c,lg_1,enc_auto/User.png"><img src="https://static.wixstatic.com/media/5670fd_901a26389dff4e73b604639f0140a540~mv2.png/v1/fill/w_146,h_146,al_c,lg_1,enc_auto/User.png" alt="User.png" style="width:73px;height:73px;object-fit:cover;object-position:50% 50%"></wix-image></div></div><div id="comp-l11rsmf7" class="_2Hij5" data-testid="richTextElement"><h4 class="font_4" style="font-size:20px;">Mgr. Iveta Kubica Magnusková</h4></div><div id="comp-l11rsmfp" class="_2Hij5" data-testid="richTextElement"><h5 class="font_5" style="font-size:15px;"><span style="font-size:15px;">Funkce</span></h5></div></div></div></div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

