{% extends 'base.html.twig' %}

{% block title %}Úřední deska{% endblock %}

{% block content %}
    <section class="uredni-deska-text-section" style="min-height: 0;">
        <h2>Úřední deska</h2>

        <p>Na elektronické úřední desce www.celadna.cz je zveřejňován obsah úřední desky Obce Čeladná podle § 26 zákona č. 500/2004 Sb., správní řád, ve znění pozdějších předpisů. Obsah má informativní charakter a je shodný svým obsahem kamenné úřední desce. Na úřední desce obce se nacházejí jen ty dokumenty, které podléhají zákonné lhůtě o zveřejnění. Po datu platnosti úřední desky se dokumenty přesouvají do dokumtů úřadu.</p>
    </section>

    {{ include('_uredni_deska.html.twig', {
        'uredni_deska': uredni_desky
    }) }}
{% endblock %}
